<!DOCTYPE html>
<html>

<head>
    <link rel='dns-prefetch' href='https://www.gattefosse.com'>
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://www.gattefosse.com/pharmaceuticals/learn-more.html" />
    <meta name="google-site-verification"
        content="google-site-verification=Y6WviYcf7W8KotrHzlWpb5b-OAAhVvid6uNBCzp_BeQ" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="alternate" hreflang="x-default" href="https://www.gattefosse.com/pharmaceuticals/learn-more.html" />
    <link rel="alternate" hreflang="en" href="https://www.gattefosse.com/pharmaceuticals/learn-more.html" />
    <link rel="alternate" hreflang="fr" href="https://www.gattefosse.com/fr/pharmaceuticals/learn-more.html" />
    <link rel="icon" href="/themes/custom/gattefosse/favicon.ico" type="image/vnd.microsoft.icon" />
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            "Pagetype": "page",
            "LEVEL1": "Pharmaceuticals",
            "LEVEL2": "Learn more",
            "LEVEL3": "",
            "Pays": "en",
            "Thematique": "",
            "Connexion": "Non"
        });
    </script>
    <title>了解更多 | 嘉法狮</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/themes/custom/gattefosse/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/themes/custom/gattefosse/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/custom/gattefosse/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/themes/custom/gattefosse/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/themes/custom/gattefosse/images/favicons/safari-pinned-tab.svg" color="#8eb73c">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" media="all"
        href="/sites/default/files/css/css_VReceDAmMvwZ-zGjf3J2Cz04lQy72pkaj4cVAETXvtc.css" />
    <link rel="stylesheet" media="all"
        href="/sites/default/files/css/css_q87ucVt3rnFopj3ZmA--fl7PQC4tROomRfVer8ewsiI.css" />
    <link rel="stylesheet" media="all" href="/sites/default/files/css/menu_icons_1713822109.css" />
    <link rel="stylesheet" media="all"
        href="/sites/default/files/css/css_JbGzQTXzOW_df1NA8cwUqkKCq0TpkqeMa4YWI2XM-Qo.css" />
    <link rel="stylesheet" media="all"
        href="/sites/default/files/css/css_CfAqE8UjmFObeJ-EWQr7CuI8o5xv3bQTdu0Ee6hJ1P0.css" />
    <link rel="stylesheet" media="all"
        href="/sites/default/files/css/css_LOEta1EWPP03WWB9W1oc6XQDrBhzvU3zh_QtcpORiwI.css" />
    <script type="text/javascript" src="/static/js/vue.global.prod.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
</head>

<body class="path-pharmaceuticals    bg- d-flex flex-column">
    <nav role="navigation" aria-label="Accès rapide au contenu">
        <a href="#main-content" class="visually-hidden focusable skip__link">
            <span class="skip__link__text">Saut au contenu</span>
        </a>
    </nav>
    <div class="dialog-off-canvas-main-canvas d-flex flex-column h-100" data-off-canvas-main-canvas id="app">
        <header role="banner" class="header" id="header"></header>
        <div class="region region-highlight">
            <div data-drupal-messages-fallback class="hidden"></div>
        </div>
        <main role="main" class="main theme-pharma" data-bs-spy="scroll">
            <nav role="navigation" class="quick-access">
                <button class="quick-access__button quick-access__button--open js-open">
                    <i class="o-icon --list" aria-hidden="true"></i>
                    <strong>快捷链接</strong>
                </button>
                <div class="quick-access__menu">
                    <button class="quick-access__button quick-access__button--close js-close">
                        <i class="o-icon --cross" aria-hidden="true"></i>
                        关闭
                    </button>
                    <div id="quickLinks"></div>
                </div>
            </nav>
            <div class="page-content">
                <div class="region region-breadcrumb">
                    <div id="block-gattefosse-breadcrumbs" data-block-plugin-id="system_breadcrumb_block"
                        class="block block-system block-system-breadcrumb-block">
                        <nav aria-label="breadcrumb">
                            <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">首页</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/pharmaceuticals.html">药用辅料</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/pharmaceuticals/learn-more.html">{{data.formData.title}}</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <a id="main-content" tabindex="-1"></a>
                <div class="region region-content">
                    <div id="block-gattefosse-content" data-block-plugin-id="system_main_block"
                        class="block block-system block-system-main-block">
                        <section class="s-page s-page--go-further theme-pharma">
                            <div class="s-page__header">
                                <div class="container">
                                    <h1 class="s-page__title u-title-styled">
                                       {{data.formData.title}}
                                   </h1>
                                    <div class="s-page__description">
                                        <p>
                                            {{data.formData.summary}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="s-page__wrapper">
                                <div class="s-page--bgd">
                                    <div class="s-page__cont container">
                                        <div class="s-block s-block--articles">
                                            <h2 class="s-block__title block-title u-title-styled">
                                                热点话题
                                            </h2>
                                            <div class="s-block__content block-content">
                                                <div class="views-element-container">
                                                    <div
                                                        class="view view-hot-topics-pharmaceuticals view-id-hot_topics_pharmaceuticals view-display-id-block js-view-dom-id-887f15f93a5ca532754c9298119eb0f7cc4e952bbefa08ea4a4dd8b502f177e6">
                                                        <div class="c-cards view-content">
                                                            <div class="c-card c-card--bordered " v-for="item in data.articleList">
                                                                <a href="/account.html?url=/pharmaceuticals/learn-more.html"
                                                                    class="c-card__private-btn">
                                                                    <span class="c-card__private-icon"
                                                                        aria-hidden="true"></span>
                                                                </a>
                                                                <div class="c-card__content">
                                                                    <h3 class="c-card__title">
                                                                        <a class="c-card__title-link"
                                                                            :href="item.url"
                                                                            :data="item.url">
                                                                            {{item.title}}
                                                                      </a>
                                                                    </h3>
                                                                    <ul class="c-card__breadcrumb">
                                                                        <li class="category">
                                                                            药用辅料                                                                       </li>
                                                                    </ul>
                                                                    <p class="c-card__summary">
                                                                        {{item.summary}}
                                                                   </p>
                                                                </div>
                                                                <div class="c-card__image">
                                                                    <img :src="item.thumb" :data-src="item.thumb" 
                                                                        alt="" width="369" height="208"
                                                                        class="card__image img-fluid" loading="lazy">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="s-block__btn-more btn btn-outline-primary"
                                                href="/pharmaceuticals/learn-more/hot-topics.html">
                                              查看更多
                                          </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="s-page--bgd">
                                    <div class="s-block s-block--webinar">
                                        <div class="container">
                                            <h2 class="s-block__title block-title u-title-styled">
                                              网络研讨会
                                          </h2>
                                        </div>
                                        <div class="s-block__content block-content" v-if="data.webinarsList.length > 0">
                                            <div class="views-element-container">
                                                <div
                                                    class="view view-webinar-pharmaceuticals view-id-webinar_pharmaceuticals view-display-id-block js-view-dom-id-a60e3ba17eeb3dffbfa98b1fc7ea7c0d4542d5133e2da9d489539333cb0e2f50">
                                                    <div
                                                        class="c-cards c-cards--vertical c-cards--2nd-inversed c-cards--webinar view-content">
                                                        <div v-if="data.webinarsList.length > 0"
                                                            :class="(data.webinarsList[0].lock == true && (data.userEnabled == 0 || data.userEnabled == null)) ? 'c-card c-card--webinar c-card--horizontal theme-pharma c-card--private': 'c-card c-card--webinar c-card--horizontal theme-pharma'">
                                                            <a href="/account.html?url=/pharmaceuticals/learn-more.html"
                                                                class="c-card__private-btn">
                                                                <span class="c-card__private-icon"
                                                                    aria-hidden="true" v-if="(data.webinarsList[0].lock == true && (data.userEnabled == 0 || data.userEnabled == null))"></span>
                                                            </a>
                                                            <div class="c-card__content">
                                                                <h3 class="c-card__title">
                                                                    <a class="c-card__title-link" :href="(data.webinarsList[0].lock == true && (data.userEnabled == 0 || data.userEnabled == null)) ? '/account.html?url=/pharmaceuticals/get-inspired.html' : data.webinarsList[0].url" target="_blank" rel="noopener noreferrer">
                                                                    {{data.webinarsList[0].title}}</a>
                                                               </h3>
                                                                <ul class="c-card__breadcrumb">
                                                                    <li class="category">
                                                                      <!--动物健康-->
                                                                   </li>
                                                                </ul>
                                                                <p class="c-card__summary">
                                                                    {{data.webinarsList[0].summary}}
                                                               </p>
                                                            </div>
                                                            <div class="c-card__image">
                                                                <img :src="data.webinarsList[0].topBackground"
                                                                :data-src="data.webinarsList[0].topBackground"
                                                                    :alt="data.webinarsList[0].title" width="955" height="538"
                                                                    class="card__image img-fluid" loading="lazy">
                                                            </div>
                                                        </div>
                                                        <div v-if="data.webinarsList.length > 1"
                                                            :class="(data.webinarsList[1].lock == true && (data.userEnabled == 0 || data.userEnabled == null)) ? 'c-card c-card--webinar c-card--horizontal theme-pharma c-card--private': 'c-card c-card--webinar c-card--horizontal theme-pharma'">
                                                            <a href="/account.html?url=/pharmaceuticals/learn-more.html"
                                                                class="c-card__private-btn">
                                                                <span class="c-card__private-icon"
                                                                    aria-hidden="true" v-if="(data.webinarsList[1].lock == true && (data.userEnabled == 0 || data.userEnabled == null))"></span>
                                                            </a>
                                                            <div class="c-card__content">
                                                                <h3 class="c-card__title">
                                                                    <a class="c-card__title-link" :href="(data.webinarsList[1].lock == true && (data.userEnabled == 0 || data.userEnabled == null)) ? '/account.html?url=/pharmaceuticals/get-inspired.html' : data.webinarsList[1].url" target="_blank" rel="noopener noreferrer">
                                                                    {{data.webinarsList[1].title}}</a>
                                                               </h3>
                                                                <ul class="c-card__breadcrumb">
                                                                    <li class="category">
                                                                      <!--动物健康-->
                                                                   </li>
                                                                </ul>
                                                                <p class="c-card__summary">
                                                                    {{data.webinarsList[1].summary}}
                                                               </p>
                                                            </div>
                                                            <div class="c-card__image">
                                                                <img :src="data.webinarsList[1].topBackground"
                                                                :data-src="data.webinarsList[1].topBackground"
                                                                :alt="data.webinarsList[1].title" width="955" height="538"
                                                                    class="card__image img-fluid" loading="lazy">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <a class="s-block__btn-more btn btn-outline-primary"
                                                href="/pharmaceuticals/learn-more/webinar.html">
                                              查看更多
                                          </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="s-page--bgd">
                                    <div class="s-page__cont container">
                                        <div class="s-block s-block--publication">
                                            <h2 class="s-block__title block-title u-title-styled">
                                              最新出版物
                                          </h2>
                                            <div class="s-block__content block-content">
                                                <div class="views-element-container">
                                                    <div
                                                        class="view view-publications-pharmaceuticals view-id-publications_pharmaceuticals view-display-id-block js-view-dom-id-52fa90baa0a273735ce22a2348885d9f63e8984e81eb34a897a81f416fee9bc9">
                                                        <div class="c-cards c-cards--pub view-content">
                                                            <div v-for="item in data.publicationList"
                                                                class="c-card c-card--pub c-card--bordered theme-pharma">
                                                                <div class="c-card__content">
                                                                    <h3 class="c-card__title">
                                                                            {{item.publicationName}}
                                                                    </h3>
                                                                    <ul class="c-card__breadcrumb">
                                                                        <li class="category">
                                                                          <!-- 白皮书 -->
                                                                      </li>
                                                                    </ul>
                                                                    <p class="c-card__info">
                                                                        <span class="c-card__date">
                                                                            {{item.eventTimeYear}}年{{item.eventTimeMonth}}月
                                                                       </span>
                                                                    </p>
                                                                    <p class="c-card__summary">
                                                                        {{item.summary}}
                                                                    </p>
                                                                    <div class="c-card__cta">
                                                                        <a class="btn btn-primary"
                                                                            :href="item.url"
                                                                    :title="item.title"
                                                                            target="_blank">
                                                                           下载 (.pdf)
                                                                       </a>
                                                                    </div>
                                                                </div>
                                                                <div class="c-card__image">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="s-block__btn-more btn btn-outline-primary"
                                                href="/pharmaceuticals/learn-more/publications.html">
                                              查看更多
                                          </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="s-page--bgd">
                                    <div class="s-block s-block--brochure">
                                        <div class="container">
                                            <h2 class="s-block__title block-title u-title-styled">
                                              所有宣传册
                                          </h2>
                                            <div class="s-block__content block-content">
                                                <div class="views-element-container">
                                                    <div
                                                        class="view view-brochures-pharmaceuticals view-id-brochures_pharmaceuticals view-display-id-block js-view-dom-id-1e198cecdf8ad2cc148383915c9861f5741d26cd4aa438f17784b33702022545">
                                                        <div
                                                            class="c-cards c-cards--brochure c-cards--vertical view-content">
                                                            <div v-for="item in data.webBrochuresList"
                                                                :class="(item.lock == true && (data.userEnabled == 0 || data.userEnabled == null)) ? 'c-card c-card--brochure c-card--horizontal c-card--bordered theme-pharma c-card--private' : 'c-card c-card--brochure c-card--horizontal c-card--bordered theme-pharma'">
                                                                <a href="/account.html?url=/pharmaceuticals/learn-more.html"
                                                                    class="c-card__private-btn">
                                                                    <span class="c-card__private-icon"
                                                                        aria-hidden="true" v-if="(item.lock == true && (data.userEnabled == 0 || data.userEnabled == null))"></span>
                                                                </a>
                                                                <div class="c-card__content">
                                                                    <h3 class="c-card__title">
                                                                       {{item.title}}
                                                                   </h3>
                                                                    <ul class="c-card__breadcrumb">
                                                                        <li>
                                                                           宣传册
                                                                      </li>
                                                                    </ul>
                                                                    <p class="c-card__info">
                                                                        <span class="c-card__date"><time
                                                                                :datetime="item.eventTime"
                                                                                class="datetime">
                                                                                {{item.eventTimeYear}}年{{item.eventTimeMonth}}月
                                                                          </time>
                                                                        </span>
                                                                    </p>
                                                                    <ul class="c-card__tag">
                                                                        <li class="c-card__tag-item">
                                                                           
                                                                      </li>
                                                                    </ul>
                                                                    <div class="c-card__cta" v-if="(item.lock == true && (data.userEnabled == 0 || data.userEnabled == null))">
                                                                        <span class="private-file btn btn-primary btn-disabled">下载 (.pdf)</span>
                                                                    </div>
                                                                    <div class="c-card__cta" v-else>
                                                                        <a class="btn btn-primary"
                                                                            :href="item.url"
                                                                            :title="item.title"
                                                                            target="_blank">
                                                                           下载 (.pdf)
                                                                       </a>
                                                                    </div>
                                                                </div>
                                                                <div class="c-card__image">
                                                                    <img :src="item.thumb"
                                                                        :data-src="item.thumb"
                                                                        :alt="item.title" width="268"
                                                                        style="width:268px; height: 381px;"
                                                                        height="381" class="card__image img-fluid"
                                                                        loading="lazy">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="s-block__btn-more btn btn-outline-primary"
                                                href="/pharmaceuticals/learn-more/brochures.html">
                                              查看更多
                                          </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <a href="#main-content" id="js_back-to-top" title="Revenir en haut de la page"
                class="c-back-to-top smoothHide d-none"></a>
        </main>
        <footer role="contentinfo" class="footer" id="footer"> </footer>
        <div class="modal modal--search" id="search-modal" tabindex="-1" aria-label="Search form" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button role="button" aria-label="Close" class="btn btn-icon--l o-btn-close"
                        data-bs-dismiss="modal">
                        <i class="o-icon --cross" aria-hidden="true"></i>
                        <span>关闭</span>
                    </button>
                    <form action="/search.html" method="GET" class="modal--search__form">
                        <h2 class="modal-title">
                            您在找寻什么 ?
                        </h2>
                        <div class="form-item">
                            <label class="visually-hidden" for="key">请输入关键词...</label>
                            <input class="form-text form-control" placeholder="请输入关键词..." type="text" id="key"
                                name="keyword" value="">
                            <button type="submit" class="js-form-submit form-submit btn">
                                <i class="o-icon --magnifying-glass" aria-hidden="true"></i>
                            </button>
                        </div>
                        <a href="/search.html" class="u-link">高级搜索</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal--affiliates" id="affiliates-modal" tabindex="-1" aria-label="Gattefossé in the world"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" id="worldList">
        </div>
    </div>
    <script src="/sites/default/files/js/js_CsyIdu1wDwXVRDYNWl5It2Y_pq096ewn0Yfk5whPKdQ.js"></script>
    <script src="/sites/default/files/js/js_2mNc9WZm6LIH1QDAnAZOt4JIJSloG3vjQk0K6gYGs4E.js"></script>
    <script src="/sites/default/files/js/js_CQT8UYTJuSJOvNdF1_QG5Y9O8tzb6ju15QlcNogaY4E.js"></script>
    <script src="/themes/custom/gattefosse/js/libraries/tarteaucitron/tarteaucitron.js?1715046991"></script>
    <script src="/sites/default/files/js/js_fvK3KXKeRUyxbhECdSVtPhzVcBujcPEehnt5TgZ0MoI.js"></script>
    <script>
        $(document).ready(function () {
            $("#header").load("/header.html", function () {
                let tmp = checkLoginStatus();
                if (!tmp) {
                    $("#collapseAccMenu").load("/account-menu.html");
                } else {
                    $("#collapseAccMenu").load("/account-menu-after-login.html");
                }
            });
            $("#footer").load("/footer.html");
            $("#quickLinks").load("/quickLinks.html");
            $("#worldList").load("/world.html");
        });
    </script>
    <script setup>
        const params = new URLSearchParams(window.location.search);
        const tokenStr = params.get('_token');
        var curUrl = window.location.href;
        var hasParam = curUrl.indexOf('?');
        var hasTypeParam = curUrl.indexOf('i=');
        var total = 0, count_0 = 0, count_1 = 0, count_2 = 0;
        var personalCareId = 1;
        var phamId = 117;
        var id = 205;
        var isLogin = checkLoginStatus();
        let userEnabled = localStorage.getItem("userEnabled");
        const { createApp, reactive, getCurrentInstance, ref, router, nextTick } = Vue;
        const app = createApp({
            data() {
                return {
                    tagList: [],
                    productList: [],
                }
            },
            setup() {
                let randomNum = Math.floor(Math.random() * 100);
                const data = reactive({
                    webBrochuresList: [],
                    webinarsList: [],
                    formData: [],
                    total: 0,
                    count_0: 0,
                    count_1: 0,
                    count_2: 0,
                    cur_page: 1,
                    page_size: 3,
                    total_page: 1,
                    prev_url: '',
                    next_url: '',
                    goodsCategoryId: phamId,
                    hasParam: hasParam,
                    hasTypeParam: hasTypeParam,
                    randomNum: randomNum,
                    isLogin: isLogin,
                    userEnabled: userEnabled
                });
                // 查询
                const getFormData = () => {
                    var api = "/api/webNewsEvents/findWebNewsEvents";
                    //2.使用axios 进行get请求
                    console.log("API call disabled");
                        }).catch((err, res) => {
                            console.log(err)
                        })
                }
                getFormData()
                const getTagList = () => {
                    var api = "/api/mallGoodsTag/getMallGoodsTagList";
                    console.log("API call disabled");
                        for (var i = 0; i < data.tagList.length; i++) {
                            data.tagList[i].url = "?tagId=" + data.tagList[i].ID;
                            for (var j = 0; j < data.tagList[i].children.length; j++) {
                                data.tagList[i].children[j].tagUrl = "/personal-care/formulation-finder.html?f%5B" + i + "%5D=" + data.tagList[i].tagNameEn + "%3A" + data.tagList[i].children[j].ID;
                            }
                        }
                    }).catch((err, res) => {
                        console.log(err)
                    })
                }
                const loading = ref(false);
                getTagList();
                const getArticlesTagList = () => {
                    var api = "/api/webArticlesTag/getWebArticlesTagList";
                    api += "?goodsCategoryId=" + phamId;
                    console.log("API call disabled");
                        for (var i = 0; i < data.articlesTagList.length; i++) {
                            data.articlesTagList[i].url = "?tagId=" + data.articlesTagList[i].ID;
                            for (var j = 0; j < data.articlesTagList[i].children.length; j++) {
                                // data.articlesTagList[i].children[j].tagUrl = "?f%5B"+ i +"%5D=" + data.articlesTagList[i].tagNameEn + "%3A" + data.articlesTagList[i].children[j].ID;
                                data.articlesTagList[i].children[j].tagUrl = setUrlParam(curUrl, "tagId", data.articlesTagList[i].children[j].ID);
                                data.articlesTagList[i].children[j].tagUrl = setUrlParam(data.articlesTagList[i].children[j].tagUrl, "page", 1);
                            }
                        }
                      nextTick(() => {
                            console.log('ok');
                        });
                    }).catch((err, res) => {
                        console.log(err)
                    })
                }
                getArticlesTagList();
                // 文章类型列表
                const getWebArticlesTypeList = () => {
                    var api = "/api/webArticlesType/getWebArticlesTypeList";
                    api += "?pageSize=10000";
                    api += "&page=1";
                    api += "&goodsCategoryId=" + phamId;
                    if (data.selectedTypeValue == "") {
                        data.articleTypeList = []
                        return
                    }
                    console.log("API call disabled");
                        for (var i = 0; i < data.articleTypeList.length; i++) {
                            data.articleTypeList[i].url = setUrlParam(curUrl, "articleType", data.articleTypeList[i].ID);
                            data.articleTypeList[i].num = 0;
                        }
                        nextTick(() => {
                            console.log("articleType ok");
                        });
                    }).catch((err, res) => {
                        console.log(err)
                    })
                }
                getWebArticlesTypeList()
                const getArticlesData = () => {
                    var api = "/api/webArticles/getWebArticlesList?catId=30";
                    api += "&pageSize=" + data.page_size;
                    api += "&page=" + data.cur_page;
                    api += "&goodsCategoryId=" + phamId;
                    console.log("API call disabled");
                        for (var i = 0; i < data.articleList.length; i++) {
                            data.articleList[i].url = "/pharmaceuticals-article-detail.html?id=" + data.articleList[i].ID;
                            data.articleList[i].thumb = "/" + data.articleList[i].thumb;
                        }
                    }).catch((err, res) => {
                        console.log(err)
                    })
                }
                getArticlesData();
                // 网络研讨会类型列表
                const getWebWebinarsTypeList = () => {
                    var api = "/api/webWebinarsType/getWebWebinarsTypeList";
                    api += "?pageSize=10000";
                    api += "&page=1";
                    api += "&goodsCategoryId=" + phamId;
                    if (data.selectedTypeValue == "") {
                        data.webinarsTypeList = []
                        return
                    }
                    console.log("API call disabled");
                        for (var i = 0; i < data.webinarsTypeList.length; i++) {
                            data.webinarsTypeList[i].url = setUrlParam(curUrl, "webinarsType", data.webinarsTypeList[i].ID);
                            data.webinarsTypeList[i].num = 0;
                        }
                        nextTick(() => {
                            console.log("webinarsType ok");
                        });
                    }).catch((err, res) => {
                        console.log(err)
                    })
                }
                getWebWebinarsTypeList()
                // 查询
                const getWebWebinarsList = () => {
                    var api = "/api/webWebinars/getWebWebinarsList?catId=30";
                    api += "&pageSize=" + data.page_size;
                    api += "&page=" + data.cur_page;
                    api += "&goodsCategoryId=" + phamId;
                    //2.使用axios 进行get请求
                    console.log("API call disabled");
                        let catList = res.data.data.catList
                        let goodsCatList = res.data.data.goodsCatList
                        // 分页            
                        for (var i = 0; i < data.webinarsList.length; i++) {
                            // data.webinarsList[i].url = "/article-normal-template-top.html?id=" + data.webinarsList[i].ID;
                            if (data.webinarsList[i].thumb.substring(1) != "/") {
                                data.webinarsList[i].thumb = "/" + data.webinarsList[i].thumb;
                            }
                            if (data.webinarsList[i].topBackground.substring(1) != "/") {
                                data.webinarsList[i].topBackground = "/" + data.webinarsList[i].topBackground;
                            }
                            data.webinarsList[i].CreatedAt = data.webinarsList[i].CreatedAt.substring(0, 10);
                            if (data.webinarsList[i].eventTime != null) {
                                data.webinarsList[i].eventTimeYear = data.webinarsList[i].eventTime.substring(0, 4);
                                data.webinarsList[i].eventTimeMonth = data.webinarsList[i].eventTime.substring(5, 7)
                            }
                            if (data.webinarsList[i].eventEndTime != null) {
                                data.webinarsList[i].eventEndTimeDate = data.webinarsList[i].eventEndTime.substring(5, 10).replace('-', '月');
                            }
                            if (data.webinarsList[i].eventAddress != '') { // 活动
                                data.webinarsList[i].class = "c-card c-card--horizontal" + " c-card--bordered c-card--event";
                            } else { // 资讯
                                data.webinarsList[i].class = "c-card c-card--horizontal";
                            }
                            let tmp = data.webinarsList[i];
                            if (tmp.goodsCategoryId == 0) {
                                data.webinarsList[i].goodsCatName = '公司资讯'
                            } else {
                            }
                        }
                    }).catch((err, res) => {
                        console.log(err)
                    })
                }
                getWebWebinarsList()
                const getPublicationList = () => {
                    var api = "/api/webPublications/getWebPublicationsList?catId=30";
                    api += "&pageSize=" + data.page_size;
                    api += "&page=" + data.cur_page;
                    api += "&goodsCategoryId=" + phamId;
                    console.log("API call disabled");
                        for (var i = 0; i < data.publicationList.length; i++) {
                            data.publicationList[i].thumb = "/" + data.publicationList[i].thumb;
                            if (data.publicationList[i].eventTime != null) {
                                data.publicationList[i].eventTimeYear = data.publicationList[i].eventTime.substring(0, 4);
                                data.publicationList[i].eventTimeMonth = data.publicationList[i].eventTime.substring(5, 7)
                                data.publicationList[i].eventTimeDate = data.publicationList[i].eventTime.substring(5, 10).replace('-', '月');
                            }
                        }
                    }).catch((err, res) => {
                        console.log(err)
                    })
                }
                getPublicationList();
                const getWebBrochuresList = () => {
                    var api = "/api/webBrochures/getWebBrochuresList?catId=30";
                    api += "&pageSize=" + data.page_size;
                    api += "&page=" + data.cur_page;
                    api += "&goodsCategoryId=" + phamId;
                    console.log("API call disabled");
                        for (var i = 0; i < data.webBrochuresList.length; i++) {
                            data.webBrochuresList[i].thumb = "/" + data.webBrochuresList[i].thumb;
                            if (data.webBrochuresList[i].eventTime != null) {
                                data.webBrochuresList[i].eventTimeYear = data.webBrochuresList[i].eventTime.substring(0, 4);
                                data.webBrochuresList[i].eventTimeMonth = data.webBrochuresList[i].eventTime.substring(5, 7)
                            }
                        }
                    }).catch((err, res) => {
                        console.log(err)
                    })
                }
                getWebBrochuresList();
                return {
                    data
                };
            },
        });
        let result = app.mount("#app");
        function setUrlParam(url, paramName, paramValue) {
            paramName = paramName.replace(/[\[\]]/g, '\\$&');
            let regular = new RegExp('[?&]' + paramName + '(=([^&#]*)|&|#|$)');
            let val = regular.exec(url);
            if (val && val[2]) {
                url = url.replace(new RegExp(paramName + '=' + val[2]), `${paramName}=${paramValue}`);
            } else {
                if (url.indexOf('?') < 0) {
                    url += `?${paramName}=${paramValue}`;
                } else {
                    url += `&${paramName}=${paramValue}`;
                }
            }
            return url;
        }
        function checkLoginStatus() {
            if (localStorage.getItem('isLoggedIn') === 'true') {
                return true;
                console.log('用户已登录，欢迎', localStorage.getItem('username'));
                // 执行进入首页的逻辑
            } else {
                // 执行未登录的逻辑，比如跳转到登录页面
                return false;
            }
        }
    </script>
    <script defer src="https://umami.onlystyle.com.cn/script.js"
        data-website-id="8dfca0a5-98e6-4037-b4ed-c6db16dd7ccf"></script>
</body>

</html>