<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="/personal-care/formulation-finder" />
  <meta name="google-site-verification"
    content="google-site-verification=Y6WviYcf7W8KotrHzlWpb5b-OAAhVvid6uNBCzp_BeQ" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="alternate" hreflang="x-default" href="/personal-care/formulation-finder" />
  <link rel="alternate" hreflang="en" href="/personal-care/formulation-finder" />
  <link rel="alternate" hreflang="fr" href="/fr/cosmetique/formulation-finder" />
  <link rel="icon" href="/themes/custom/gattefosse/favicon.ico" type="image/vnd.microsoft.icon" />
  <script type="text/javascript" src="/static/js/vue.global.prod.js"></script>
  <script src="/static/js/axios.min.js"></script>
  <script src="/static/js/jquery-3.7.1.min.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      "Pagetype": "page",
      "LEVEL1": "Personal Care",
      "LEVEL2": "Formulations",
      "LEVEL3": "",
      "Pays": "en",
      "Thematique": "",
      "Connexion": "Non"
    });
  </script>
  <title>配方 | 嘉法狮</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/themes/custom/gattefosse/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/themes/custom/gattefosse/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/themes/custom/gattefosse/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/themes/custom/gattefosse/images/favicons/site.webmanifest">
  <link rel="mask-icon" href="/themes/custom/gattefosse/images/favicons/safari-pinned-tab.svg" color="#8eb73c">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_83IgK5qSyQ2WQkmA4TkQRTkFz3jcESwHWiU_M3oYQ7Q.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_UNWZAvJR_UXv2Sq6NFSjgMAclzwo_we9g7Y8Kyl7oro.css" />
  <link rel="stylesheet" media="all" href="/sites/default/files/css/menu_icons_1701865611.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_pPfrrsOwLXxDLw7-UYKDqFONEmjyh_dCi89ZBWzLKGc.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_Dwr1bX48YmNECzBBt7nwDptwptEaW3gdWtZuB5hvXVM.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_XQDl2didkH3hS4vpdKEYK2CLe0-WNSbnpUgzCUfOXjU.css" />
</head>

<body class="path-personal-care    bg- d-flex flex-column">
  <nav role="navigation" aria-label="Accès rapide au contenu">
    <a href="#main-content" class="visually-hidden focusable skip__link">
      <span class="skip__link__text">Saut au contenu</span>
    </a>
  </nav>
  <div class="dialog-off-canvas-main-canvas d-flex flex-column h-100" data-off-canvas-main-canvas>
    <header role="banner" class="header" id="header"></header>
    <div class="region region-highlight">
      <div data-drupal-messages-fallback class="hidden"></div>
    </div>
    <main role="main" class="main theme-cosm" data-bs-spy="scroll">
      <nav role="navigation" class="quick-access">
        <button class="quick-access__button quick-access__button--open js-open">
          <i class="o-icon --list" aria-hidden="true"></i>
          <strong>快捷链接</strong>
        </button>
        <div class="quick-access__menu">
          <button class="quick-access__button quick-access__button--close js-close">
            <i class="o-icon --cross" aria-hidden="true"></i>
            关闭
          </button>
          <div id="quickLinks"></div>
        </div>
      </nav>
      <div class="page-content">
        <div class="region region-breadcrumb">
          <div id="block-gattefosse-breadcrumbs" data-block-plugin-id="system_breadcrumb_block"
            class="block block-system block-system-breadcrumb-block">
            <nav aria-label="breadcrumb">
              <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">首页</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/personal-care.html">个人护理</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/personal-care/formulation-finder.html">配方</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <a id="main-content" tabindex="-1"></a>
        <div class="region region-content" id="app">
          <div id="block-gattefosse-content" data-block-plugin-id="system_main_block"
            class="block block-system block-system-main-block">
            <div class="views-element-container" id="app">
              <section
                class="view view-formulations-personal-care view-id-formulations_personal_care view-display-id-list js-view-dom-id-436eaf832499afe048024e00785c50800aac97d01fe8083511f36c8c7bd22616 s-page has-aside s-page--filter">
                <div class="s-page__header">
                  <div class="container">
                    <h1 class="s-page__title u-title-styled">
                      配方
                    </h1>
                    <div class="s-page__description">
                      <p>发现我们独特的配方库，以我们的活性和质地为特色。</p>
                    </div>
                    <div class="view-filters">
                      <form class="views-exposed-form bef-exposed-form"
                        data-drupal-selector="views-exposed-form-formulations-personal-care-list"
                        action="/personal-care/formulation-finder.html" method="get"
                        id="views-exposed-form-formulations-personal-care-list" accept-charset="UTF-8">
                        <div class="modal--search__form s-page__header-search">
                          <div class="form-item">
                            <div
                              class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-keyword form-item-keyword">
                              <label for="edit-keyword">关键词</label>
                              <input placeholder="您正在找什么?" data-drupal-selector="edit-keyword" type="text"
                                id="edit-keyword" name="keyword" value="" size="30" maxlength="128"
                                class="form-text form-control" />
                            </div>
                            <button type="submit" id="edit-submit-formulations-personal-care"
                              class="js-form-submit form-submit btn"
                              data-drupal-selector="edit-submit-formulations-personal-care">
                              <i class="o-icon --magnifying-glass" aria-hidden="true"></i>
                            </button>
                          </div>
                          <input data-drupal-selector="edit-order" type="hidden" name="order" value="" />
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="s-page__wrapper">
                  <aside class="s-page__aside s-page__aside--l" aria-label="filters" role="complementary">
                    <button type="button" class="c-filter__mobile-btn btn btn-primary js-filter-btn-mobile">
                      <span class="c-filter__txt-open">过滤搜索结果</span>
                      <span class="c-filter__txt-close">关闭过滤</span>
                      <i class="o-icon --caret-circle-down" aria-hidden="true"></i>
                    </button>
                    <div class="c-filter e-form js-filter">
                      <button type="button" class="js-filter-btn-close c-filter__close-btn"><i class="o-icon --cross"
                          aria-hidden="true"></i>关闭</button>
                      <div class="c-filter__header">
                        <h2 class="c-filter__main-title">过滤器</h2>
                        <button type="button" @click="clearFilter"
                          class="c-filter__reset-btn btn btn-outline-secondary">取消过滤
                          <i class="o-icon --reset" aria-hidden="true"></i>
                        </button>
                      </div>
                      <div data-drupal-facets-summary-id="formulations_personal_care_active_filters"
                        data-block-plugin-id="facets_summary_block:formulations_personal_care_active_filters"
                        class="block block-facets-summary block-facets-summary-blockformulations-personal-care-active-filters" :class="data.curFilter ? 'showDiv' : 'hidden'">
                        <h3 class="c-filter__subtitle">当前过滤项 :</h3>
                        <ul class="o-tag-list o-tag-list--wrap">
                          <li class="facet-summary-item--facet o-tag-list__item">
                            {{data.curFilter}}
                            <a href="javascript:;" @click="clearFilter" class="c-filter__delete">
                              <span class="visually-hidden">移除过滤</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div v-for="item in data.tagList" :class="item.class"
                        :data-block-plugin-id="item.dataBlockPluginId">
                        <div class="accordion facets-widget-checkbox">
                          <div class="accordion-item panel-group" :id="item.accordionNameId"
                            aria-multiselectable="true">
                            <h3 role="tab" :id="item.headerNameId">
                              <button type="button" aria-expanded="true" class="panel-title accordion-button"
                                data-bs-toggle="collapse" :data-bs-target="item.sharpeNameId"
                                id="nav-filtre-accordion">{{item.tagName}}</button>
                            </h3>
                            <div :id="item.nameId" class="panel-collapse collapse show" role="region"
                              :aria-labelledby="item.headerNameId">
                              <div class="panel-body accordion-body">
                                <ul :data-drupal-facet-id="item.dataDrupalFacetId"
                                  data-drupal-facet-alias="applications"
                                  class="facet-inactive js-facets-checkbox-links facet-list item-list__checkbox">
                                  <li class="facet-item1" v-for="item2 in item.children" :class="item2.facetItemClass">
                                    <input type="checkbox" v-if="isFilterActive(item2)" checked="checked"
                                      class="facets-checkbox" :id="item2.dataDrupalFacetItemId" @click="filterByTag(item2.tagCategory, item2.tagValue)">
                                    <input type="checkbox" v-else class="facets-checkbox" @click="filterByTag(item2.tagCategory, item2.tagValue)"
                                      :id="item2.dataDrupalFacetItemId"><a href="javascript:;" rel="nofollow"
                                      :data-drupal-facet-item1-id="item2.dataDrupalFacetItemId"
                                      :data-drupal-facet-item1-value="item2.ID" data-drupal-facet-item1-count="1"><span
                                        class="facet-item__value">{{item2.tagName}}</span>
                                    </a>
                                  </li>
                                </ul>
                                <button class="link-more js-see-all" data-show="查看所有" @click="seeAll($event)"
                                  data-hide="收起" data-aria-expanded="false">查看所有</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </aside>
                  <div class="s-page__content">
                    <div class="view-header">
                      <div class="c-search-result">
                        <p class="c-search-result__value" role="heading" aria-level="2"><span
                            class="num">{{data.total}}</span>
                          种配方</p>
                        <div class="form-item">
                          <label for="order-by" class="visually-hidden">排序依据</label>
                          <select class="form-select js-order-by" id="order-by" name="sort_order">
                            <option value="">默认排序</option>
                            <option value="ASC">A-Z</option>
                            <option value="DESC">Z-A</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="c-cards c-cards--vertical">
                      <div class="c-card c-card--horizontal theme-cosm" v-for="item in data.productList">
                        <div class="c-card__content">
                          <h3 class="c-card__title"><a :href="item.url">{{item.goodsName}}</a></h3>
                          <p class="c-card__baseline">{{item.subtitle}}</p>
                          <p class="c-card__summary">{{item.goodsIntro}}</p>
                          <div class="c-card__cta">
                            <a :href="item.pdfUrl" class="btn btn-primary btn-icon--r" download>下载<i
                                class="o-icon --download" aria-hidden="true"></i></a>
                            <a :href="item.url" class="btn btn-outline-primary">阅读更多</a>
                          </div>
                        </div>
                        <div class="c-card__image">
                          <a :href="item.url"><img :src="item.goodsCoverImg" alt="" width="268" height="201"
                              class="card__image img-fluid" loading="lazy"></a>
                        </div>
                        <a @click="addProductFav" :class="item.inFav ? 'c-card__favorite is-active' : 'c-card__favorite'">
                          <i aria-hidden="true" class="o-icon --star" :data-fav-id="item.ID" :data-goods-name="item.goodsName" :data-cat-id="item.goodsCategoryId"></i>
                          <span class="visually-hidden">收藏</span>
                        </a>
                      </div>
                    </div>
                    <nav class="pager" role="navigation" aria-labelledby="pagination-heading"
                      v-if="data.total_page > 1">
                      <h4 id="pagination-heading" class="pager__heading visually-hidden">页码</h4>
                      <ul class="pager__items js-pager__items">
                        <li class="pager__item pager__item--previous">
                          <a :href="data.prev_url" title="Go to previous page" rel="prev">
                            <span class="visually-hidden">上一页</span>
                            <i class="o-icon --caret-right" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="pager__item is-active">
                          {{data.cur_page}}<sub>/{{data.total_page}}</sub>
                        </li>
                        <li class="pager__item pager__item--next">
                          <a :href="data.next_url" title="Go to next page" rel="next">
                            <span class="visually-hidden">下一页</span>
                            <i class="o-icon --caret-right" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <a href="#main-content" id="js_back-to-top" title="Revenir en haut de la page"
        class="c-back-to-top smoothHide d-none"></a>
    </main>
    <footer role="contentinfo" class="footer" id="footer"> </footer>
    <div class="modal modal--search" id="search-modal" tabindex="-1" aria-label="Search form" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button role="button" aria-label="Close" class="btn btn-icon--l o-btn-close" data-bs-dismiss="modal">
            <i class="o-icon --cross" aria-hidden="true"></i>
            <span>关闭</span>
          </button>
          <form action="/search.html" method="GET" class="modal--search__form">
            <h2 class="modal-title">
              您在查找......?
            </h2>
            <div class="form-item">
              <label class="visually-hidden" for="key">请输入关键词...</label>
              <input class="form-text form-control" placeholder="请输入关键词..." type="text" id="key" name="keyword"
                value="">
              <button type="submit" class="js-form-submit form-submit btn">
                <i class="o-icon --magnifying-glass" aria-hidden="true"></i>
              </button>
            </div>
            <a href="/search.html" class="u-link">高级搜索</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade modal--affiliates" id="affiliates-modal" tabindex="-1" aria-label="Gattefossé in the world"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" id="worldList">
    </div>
  </div>

  <div id="dialog" class="dialog">
    <div class="dialog-content">
      <p id="dialog-message"></p>
      <button id="dialog-close" class="btn btn-primary">关闭</button>
    </div>
  </div>
  <style>
    .dialog {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 30px;
      border: 1px solid #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      background-color: rgba(248, 244, 244, 1);
      min-width: 400px;
    }

    .dialog-content {
      text-align: center;
    }

    .dialog-content a {
      color: #8eb73c;
      font-style: bold;
    }

    #dialog-close {
      margin-top: 100px;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
    }

    .moreBt {
      display: none;
      margin: 0.8rem 0 0 2.4rem;
      font-size: 1.4rem;
      color: var(--accent-color);
      text-decoration: underline;
      line-height: 1.2;
      border: 0;
      background: none;
      padding: 0;
    }

    .showDiv {
      display: block
    }

    .hidden {
      display: none
    }

    .facet-item1 {
      font-family: "Din Next Lt Pro Regular", sans-serif;
      font-size: 1.6rem;
      color: #58616B;
    }
  </style>
  <script>
    // 获取对话框元素和关闭按钮
    var dialog = document.getElementById('dialog');
    var dialogClose = document.getElementById('dialog-close');
    var dialogMessage = document.getElementById('dialog-message');

    // 替代alert函数
    function showDialog(message) {
      dialogMessage.innerHTML = message;
      dialog.style.display = 'block';
    }

    // 关闭对话框
    dialogClose.addEventListener('click', function () {
      dialog.style.display = 'none';
    });

  </script>
  <script src="/static/js/api.js"></script>
  <script src="/static/js/auth.js"></script>
  <script>
  const { createApp, reactive, onMounted } = Vue;
  const pageSize = 9;
  var params = new URLSearchParams(window.location.search);
  var curPage = parseInt(params.get('page')) || 1;
  // 标签筛选参数（直接用标签值，不再用 Drupal facet ID）
  var filterApplication = params.get('application') || '';
  var filterForm = params.get('form') || '';
  var filterClaim = params.get('claim') || '';
  var filterNaturality = params.get('naturality') || '';
  var filterIngredient = params.get('ingredient') || '';
  var w = params.get('keyword');
  var baseUrl = window.location.pathname;
  var activeFilterName = filterApplication || filterForm || filterClaim || filterNaturality || filterIngredient || '';

  function makePageUrl(page) {
    var u = baseUrl + '?page=' + page;
    if (filterApplication) u += '&application=' + encodeURIComponent(filterApplication);
    if (filterForm) u += '&form=' + encodeURIComponent(filterForm);
    if (filterClaim) u += '&claim=' + encodeURIComponent(filterClaim);
    if (filterNaturality) u += '&naturality=' + encodeURIComponent(filterNaturality);
    if (filterIngredient) u += '&ingredient=' + encodeURIComponent(filterIngredient);
    if (w) u += '&keyword=' + encodeURIComponent(w);
    return u;
  }

  // 分类名称映射
  var catNameMap = {
    application: '应用领域',
    form: '性状',
    claim: '声明',
    naturality: '天然指数',
    ingredient: '成分'
  };
  // 分类→API参数字段名映射
  var catApiMap = {
    application: 'application',
    form: 'form',
    claim: 'claim',
    naturality: 'naturalityIndex',
    ingredient: 'ingredient'
  };

  const app = createApp({
    setup() {
      var data = reactive({
        tagList: [],
        productList: [],
        total: 0,
        total_page: 1,
        cur_page: curPage,
        page_size: pageSize,
        prev_url: curPage > 1 ? makePageUrl(curPage - 1) : null,
        next_url: null,
        curFilter: activeFilterName,
        loading: false,
        filterApplication: filterApplication,
        filterForm: filterForm,
        filterClaim: filterClaim,
        filterNaturality: filterNaturality,
        filterIngredient: filterIngredient
      });

      // 加载标签字典
      function loadTagDictionary() {
        GatteAPI.Tag.list({ productLine: 'formulation' }).then(function(res) {
          var body = res.data || res;
          // API返回格式: { application: [{label,value},...], form: [...], claim: [...], naturality: [...] }
          var tagMap = body.data || body;
          if (!tagMap) return;
          var groups = [];
          var idx = 0;
          for (var cat in catNameMap) {
            if (!catNameMap.hasOwnProperty(cat)) continue;
            var items = tagMap[cat] || [];
            if (items.length === 0) continue;
            var groupName = catNameMap[cat];
            var groupId = 'collapse-' + cat;
            var children = [];
            for (var i = 0; i < items.length; i++) {
              var val = items[i].value || items[i].label;
              children.push({
                ID: cat + '-' + i,
                tagName: items[i].label,
                tagValue: val,
                tagCategory: cat,
                dataDrupalFacetItemId: cat + '-' + val,
                tagUrl: '/personal-care/formulation-finder.html?' + catApiMap[cat] + '=' + encodeURIComponent(val) + '&page=1',
                facetItemClass: 'facet-item1'
              });
            }
            groups.push({
              tagName: groupName,
              nameId: groupId,
              sharpeNameId: '#' + groupId,
              headerNameId: 'heading-' + cat,
              accordionNameId: 'accordion-' + cat,
              dataBlockPluginId: 'facet_block:formulations_personal_care_' + groupName,
              class: 'facet-inactive block-facet--checkbox block block-facets block-facet-blockformulations-personal-care-' + groupName,
              dataDrupalFacetId: 'formulations_personal_care_' + groupName,
              children: children
            });
          }
          data.tagList = groups;
          // 加载完标签后设置样式
          setTagStyle();
        }).catch(function(err) {
          console.error('加载标签字典失败:', err);
        });
      }

      // 从后端加载配方列表
      function loadProducts(page) {
        if (data.loading) return;
        data.loading = true;
        var apiParams = {
          limit: pageSize,
          page: page || data.cur_page,
          isPublished: 'true'
        };
        if (data.filterApplication) apiParams.application = data.filterApplication;
        if (data.filterForm) apiParams.form = data.filterForm;
        if (data.filterClaim) apiParams.claim = data.filterClaim;
        if (data.filterNaturality) apiParams.naturalityIndex = data.filterNaturality;
        if (data.filterIngredient) apiParams.ingredient = data.filterIngredient;
        if (w) apiParams.keyword = w;
        GatteAPI.Formulation.list(apiParams).then(function (res) {
          var result = res.data || res;
          var list = result.list || result || [];
          data.productList = list.map(function (f) {
            return {
              ID: f.id,
              goodsName: f.name,
              subtitle: f.code,
              goodsIntro: f.description || '',
              goodsCoverImg: f.imageUrl || '',
              pdfUrl: f.pdfPath || '',
              url: '/personal-care/formulation-finder/product-detail.html?id=' + f.id,
              inFav: false,
              goodsCategoryId: ''
            };
          });
          var pagination = result.pagination || {};
          data.total = pagination.total || list.length;
          data.total_page = Math.ceil(data.total / pageSize) || 1;
          data.prev_url = data.cur_page > 1 ? makePageUrl(data.cur_page - 1) : null;
          data.next_url = data.cur_page < data.total_page ? makePageUrl(data.cur_page + 1) : null;
          data.loading = false;
        }).catch(function (err) {
          console.error('加载配方失败:', err);
          data.productList = [];
          data.loading = false;
        });
      }

      // 点击标签筛选
      function filterByTag(category, value) {
        // 设置对应筛选条件
        if (category === 'application') {
          data.filterApplication = (data.filterApplication === value) ? '' : value;
        } else if (category === 'form') {
          data.filterForm = (data.filterForm === value) ? '' : value;
        } else if (category === 'claim') {
          data.filterClaim = (data.filterClaim === value) ? '' : value;
        } else if (category === 'naturality') {
          data.filterNaturality = (data.filterNaturality === value) ? '' : value;
        } else if (category === 'ingredient') {
          data.filterIngredient = (data.filterIngredient === value) ? '' : value;
        }
        // 更新当前筛选显示
        data.curFilter = data.filterApplication || data.filterForm || data.filterClaim || data.filterNaturality || data.filterIngredient || '';
        // 重置到第1页并重新加载
        data.cur_page = 1;
        // 更新全局变量
        filterApplication = data.filterApplication;
        filterForm = data.filterForm;
        filterClaim = data.filterClaim;
        filterNaturality = data.filterNaturality;
        filterIngredient = data.filterIngredient;
        activeFilterName = data.curFilter;
        loadProducts(1);
        // 更新URL
        var u = makePageUrl(1);
        history.pushState({}, '', u);
      }

      // 清除所有筛选
      function clearFilter() {
        data.filterApplication = '';
        data.filterForm = '';
        data.filterClaim = '';
        data.filterNaturality = '';
        data.filterIngredient = '';
        data.curFilter = '';
        data.cur_page = 1;
        filterApplication = '';
        filterForm = '';
        filterClaim = '';
        filterNaturality = '';
        filterIngredient = '';
        activeFilterName = '';
        loadProducts(1);
        history.pushState({}, '', baseUrl + '?page=1' + (w ? '&keyword=' + encodeURIComponent(w) : ''));
      }

      function changePage(newPage) {
        if (newPage < 1 || newPage > data.total_page) return;
        data.cur_page = newPage;
        filterApplication = data.filterApplication;
        filterForm = data.filterForm;
        filterClaim = data.filterClaim;
        filterNaturality = data.filterNaturality;
        filterIngredient = data.filterIngredient;
        loadProducts(newPage);
        history.pushState({}, '', makePageUrl(newPage));
      }

      function seeAll(event) {
        var btn = event.currentTarget;
        var body = btn.closest('.panel-body');
        var ul = body.querySelector('ul');
        var items = ul.querySelectorAll('li');
        var expanded = btn.getAttribute('data-aria-expanded') === 'true';
        if (expanded) {
          items.forEach(function(li, idx) { if (idx >= 6) li.classList.add('hidden'); });
          btn.textContent = btn.getAttribute('data-show');
          btn.setAttribute('data-aria-expanded', 'false');
        } else {
          items.forEach(function(li, idx) { if (idx >= 6) li.classList.remove('hidden'); });
          btn.textContent = btn.getAttribute('data-hide');
          btn.setAttribute('data-aria-expanded', 'true');
        }
      }

      function setTagStyle() {
        setTimeout(function() {
          document.querySelectorAll('.facet-inactive .panel-body').forEach(function(body) {
            var ul = body.querySelector('ul');
            if (!ul) return;
            var items = ul.querySelectorAll('li');
            var btn = body.querySelector('.js-see-all');
            if (!btn) return;
            if (items.length > 6) {
              btn.style.display = 'block';
              items.forEach(function(li, idx) { if (idx >= 6) li.classList.add('hidden'); });
            } else {
              btn.style.display = 'none';
            }
          });
        }, 100);
      }

      function addProductFav(event) {
        var el = event.currentTarget;
        if (el.classList.contains('is-active')) return;
        if (!checkLoginStatus()) { showDialog("请先<a href=\"/account.html\">登录</a>"); return; }
        el.classList.add('is-active');
      }

      function goToUrl(url) { window.location.href = url; }

      // 判断标签是否处于激活筛选状态
      function isFilterActive(tagItem) {
        if (tagItem.tagCategory === 'application' && data.filterApplication === tagItem.tagValue) return true;
        if (tagItem.tagCategory === 'form' && data.filterForm === tagItem.tagValue) return true;
        if (tagItem.tagCategory === 'claim' && data.filterClaim === tagItem.tagValue) return true;
        if (tagItem.tagCategory === 'naturality' && data.filterNaturality === tagItem.tagValue) return true;
        if (tagItem.tagCategory === 'ingredient' && data.filterIngredient === tagItem.tagValue) return true;
        return false;
      }

      onMounted(function() {
        loadTagDictionary();
        loadProducts(curPage);
      });

      return { data, changePage, seeAll, addProductFav, goToUrl, filterByTag, clearFilter, isFilterActive };
    }
  });
  app.mount("#app");
  if (w) { document.getElementById('edit-keyword').value = w; }
  </script>

  <script src="/sites/default/files/js/js_i5lI8vq7DHLJcOEWGS5A-g6sfOp4mcnqdPWwI1EB-28.js"></script>
  <script src="/sites/default/files/js/js_cIUKHmKr1kWXi06l4jrQ8vSQ793pffiw2dzBkQNlquo.js"></script>
  <script src="/themes/custom/gattefosse/js/libraries/tarteaucitron/tarteaucitron.js?1713167250"></script>
  <script src="/sites/default/files/js/js_HjijG7-o7JXaM0iPkTo4h98Ws0CAvM9MsofLwYnRqtc.js"></script>
  <script src="/sites/default/files/js/js_W8q5R4oIsmRhsRjsbPGB5rAGV5-VpUYHfAmsY7Pxc74.js"></script>
  <script>
    $(document).ready(function () {
      $("#header").load("/header.html", function () {
        let tmp = checkLoginStatus();
        if (!tmp) {
          $("#collapseAccMenu").load("/account-menu.html");
        } else {
          $("#collapseAccMenu").load("/account-menu-after-login.html");
        }
      });
      $("#footer").load("/footer.html");
      $("#quickLinks").load("/quickLinks.html");
      $("#worldList").load("/world.html");
    });
  </script>
  <script defer src="https://umami.onlystyle.com.cn/script.js"
    data-website-id="8dfca0a5-98e6-4037-b4ed-c6db16dd7ccf"></script>
</body>

</html>