<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="https://www.gattefosse.com/personal-care/get-inspired/publications" />
  <meta name="google-site-verification"
    content="google-site-verification=Y6WviYcf7W8KotrHzlWpb5b-OAAhVvid6uNBCzp_BeQ" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="alternate" hreflang="x-default"
    href="https://www.gattefosse.com/personal-care/get-inspired/publications" />
  <link rel="alternate" hreflang="en" href="https://www.gattefosse.com/personal-care/get-inspired/publications" />
  <link rel="alternate" hreflang="fr" href="https://www.gattefosse.com/fr/cosmetique/inspirez-vous/publications" />
  <link rel="icon" href="/themes/custom/gattefosse/favicon.ico" type="image/vnd.microsoft.icon" />
  <script type="text/javascript" src="/static/js/vue.global.prod.js"></script>
  
  <script src="/static/js/jquery-3.7.1.min.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      "Pagetype": "page",
      "LEVEL1": "Personal Care",
      "LEVEL2": "Get inspired",
      "LEVEL3": "Publications",
      "Pays": "en",
      "Thematique": "",
      "Connexion": "Non"
    });
  </script>
  <title>所有出版物 | 嘉法狮</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/themes/custom/gattefosse/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/themes/custom/gattefosse/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/themes/custom/gattefosse/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/themes/custom/gattefosse/images/favicons/site.webmanifest">
  <link rel="mask-icon" href="/themes/custom/gattefosse/images/favicons/safari-pinned-tab.svg" color="#8eb73c">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_83IgK5qSyQ2WQkmA4TkQRTkFz3jcESwHWiU_M3oYQ7Q.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_UNWZAvJR_UXv2Sq6NFSjgMAclzwo_we9g7Y8Kyl7oro.css" />
  <link rel="stylesheet" media="all" href="/sites/default/files/css/menu_icons_1713165946.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_pPfrrsOwLXxDLw7-UYKDqFONEmjyh_dCi89ZBWzLKGc.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_Dwr1bX48YmNECzBBt7nwDptwptEaW3gdWtZuB5hvXVM.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_XQDl2didkH3hS4vpdKEYK2CLe0-WNSbnpUgzCUfOXjU.css" />
</head>

<body class="path-personal-care    bg- d-flex flex-column">
  <nav role="navigation" aria-label="Accès rapide au contenu">
    <a href="#main-content" class="visually-hidden focusable skip__link">
      <span class="skip__link__text">Saut au contenu</span>
    </a>
  </nav>
  <div class="dialog-off-canvas-main-canvas d-flex flex-column h-100" data-off-canvas-main-canvas>
    <header role="banner" class="header" id="header"></header>
    <div class="region region-highlight">
      <div data-drupal-messages-fallback class="hidden"></div>
    </div>
    <main role="main" class="main theme-cosm" data-bs-spy="scroll">
      <nav role="navigation" class="quick-access">
        <button class="quick-access__button quick-access__button--open js-open">
          <i class="o-icon --list" aria-hidden="true"></i>
          <strong>快捷链接</strong>
        </button>
        <div class="quick-access__menu">
          <button class="quick-access__button quick-access__button--close js-close">
            <i class="o-icon --cross" aria-hidden="true"></i>
            关闭
          </button>
          <div id="quickLinks"></div>
        </div>
      </nav>
      <div class="page-content">
        <div class="region region-breadcrumb">
          <div id="block-gattefosse-breadcrumbs" data-block-plugin-id="system_breadcrumb_block"
            class="block block-system block-system-breadcrumb-block">
            <nav aria-label="breadcrumb">
              <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">首页</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/about-us.html">关于我们</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/personal-care/get-inspired/publications.html">所有出版物</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <a id="main-content" tabindex="-1"></a>
        <div class="region region-content" id="app">
          <div id="block-gattefosse-content" data-block-plugin-id="system_main_block"
            class="block block-system block-system-main-block">
            <div class="views-element-container">
              <section
                class="view view-publications_personal-care view-id-publications_personal_care view-display-id-list js-view-dom-id-69268a027c7a7321422825b75a06bf01a7480d178c4065cf822e4857a87cef91 s-page has-aside s-page--filter">
                <div class="s-page__header">
                  <div class="container">
                    <h1 class="s-page__title u-title-styled">
                      所有出版物
                    </h1>
                    <div class="view-filters">
                      <form class="views-exposed-form bef-exposed-form"
                        data-drupal-selector="views-exposed-form-publications_personal-care-list"
                        action="/personal-care/get-inspired/publications.html" method="get"
                        id="views-exposed-form-publications_personal-care-list" accept-charset="UTF-8">
                        <div class="modal--search__form s-page__header-search">
                          <div class="form-item">
                            <div
                              class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-keyword form-item-keyword">
                              <label for="edit-keyword">关键词</label>
                              <input placeholder="您要找的是?" data-drupal-selector="edit-keyword" type="text"
                                id="edit-keyword" name="keyword" value="" size="30" maxlength="128"
                                class="form-text form-control" />
                            </div>
                            <button type="submit" id="edit-submit-publications_personal-care"
                              class="js-form-submit form-submit btn"
                              data-drupal-selector="edit-submit-publications_personal-care">
                              <i class="o-icon --magnifying-glass" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="s-page__wrapper">
                  <aside class="s-page__aside s-page__aside--l" aria-label="filters" role="complementary">
                    <button type="button" class="c-filter__mobile-btn btn btn-primary js-filter-btn-mobile">
                      <span class="c-filter__txt-open">过滤搜索</span>
                      <span class="c-filter__txt-close">关闭过滤器</span>
                      <i class="o-icon --caret-circle-down" aria-hidden="true"></i>
                    </button>
                    <div class="c-filter e-form js-filter">
                      <button type="button" class="js-filter-btn-close c-filter__close-btn"><i class="o-icon --cross"
                          aria-hidden="true"></i>关闭</button>
                      <div class="c-filter__header">
                        <h2 class="c-filter__main-title">过滤器</h2>
                        <button type="reset" target="/personal-care/get-inspired/publications.html"
                          class="c-filter__reset-btn btn btn-outline-secondary" @click.prevent="clearFilters">重置过滤器
                          <i class="o-icon --reset" aria-hidden="true"></i>
                        </button>
                      </div>
                      <div data-drupal-facets-summary-id="formulations_personal_care_active_filters"
                        data-block-plugin-id="facets_summary_block:formulations_personal_care_active_filters"
                        class="block block-facets-summary block-facets-summary-blockformulations-personal-care-active-filters" :class="data.activeFilterClass">
                        <h3 class="c-filter__subtitle">当前过滤项 :</h3>
                        <ul class="o-tag-list o-tag-list--wrap">
                          <li class="facet-summary-item--facet o-tag-list__item"
                            v-if="data.tagId != null && data.tagId != 0">
                            {{data.curFilterTagName}}
                            <a @click="delParamAndGotoUrl('tagId')"
                              class="c-filter__delete">
                              <span class="visually-hidden">移除过滤</span>
                            </a>
                          </li>
                          <li class="facet-summary-item--facet o-tag-list__item"
                            v-if="data.publicationTypeId != null && data.publicationTypeId != 0">
                            {{data.curFilterTypeName}}
                            <a @click="delParamAndGotoUrl('publicationType')"
                              class="c-filter__delete">
                              <span class="visually-hidden">移除过滤</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div v-if="data.publicationTypeList != null && data.publicationTypeList.length > 0"
                        class="facet-inactive block-facet--links block block-facets block-facet-blockpublication-type"
                        data-block-plugin-id="facet_block:publication_type">
                        <div class="facets-widget-links">
                          <ul data-drupal-facet-id="publication_type" data-drupal-facet-alias="type"
                            class="facet-inactive js-facets-links facet-list item-list__links">
                            <li class="facet-item1 facets-reset">
                              <a class="btn btn-outline-secondary is-active" v-if="data.publicationType == null"
                                :href="data.allTypeUrl">所有类型{{data.publicationType}}</a>
                              <a class="btn btn-outline-secondary" v-if="data.publicationType > 0 "
                                :href="data.allTypeUrl">所有类型</a>
                            </li>
                            <li v-for="item in data.publicationTypeList">
                              <a class="btn btn-outline-secondary is-active" v-if="item.ID == data.publicationType"
                                :href="item.url">{{item.typeName}}</a>
                              <a class="btn btn-outline-secondary" v-else :href="item.url">{{item.typeName}}</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div v-for="item in data.tagList" :class="item.class"
                        :data-block-plugin-id="item.dataBlockPluginId"
                        class="facet-inactive block-facet--checkbox block block-facets ">
                        <div class="accordion facets-widget-checkbox">
                          <div class="accordion-item panel-group" :id="item.accordionNameId"
                            aria-multiselectable="true">
                            <h3 role="tab" :id="item.headerNameId">
                              <button type="button" aria-expanded="true" class="panel-title accordion-button"
                                data-bs-toggle="collapse" :data-bs-target="item.sharpeNameId"
                                id="nav-filtre-accordion">{{item.tagName}}</button>
                            </h3>
                            <div :id="item.nameId" class="panel-collapse collapse show"
                              :aria-labelledby="item.headerNameId">
                              <div class="panel-body accordion-body">
                                <ul :data-drupal-facet-id="item.panelDivId1" :data-drupal-facet-alias="item.tagName"
                                  class="facet-inactive js-facets-checkbox-links facet-list item-list__checkbox">
                                  <li v-for="item2 in item.children" :class="item2.facetItemClass">
                                    <input type="checkbox" v-if="data.tagId == item2.ID" checked="checked"
                                      class="facets-checkbox" :id="item2.dataDrupalFacetItemId">
                                    <input type="checkbox" v-else class="facets-checkbox" @click="goToUrl(item2.tagUrl)"
                                      :id="item2.dataDrupalFacetItemId"><a :href="item2.tagUrl" rel="nofollow"
                                      :data-drupal-facet-item1-id="item2.dataDrupalFacetItemId"
                                      :data-drupal-facet-item1-value="item2.ID" data-drupal-facet-item1-count="17"><span
                                        class="facet-item__value">{{item2.tagName}}</span>
                                    </a>
                                  </li>
                                </ul>
                                <button class="link-more js-see-all" data-show="查看所有" @click="seeAll($event)"
                                  data-hide="收起" data-aria-expanded="false">查看所有</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </aside>
                  <div class="s-page__content">
                    <div class="c-cards c-cards--vertical">
                      <div class="c-card c-card--bordered c-card--pub c-card--horizontal theme-cosm"
                        v-for="item in data.formData">
                        <div class="c-card__content">
                          <h3 class="c-card__title">{{item.title}}</h3>
                          <ul class="c-card__breadcrumb">
                            <li class="category">{{item.typeName}}</li>
                          </ul>
                          <p class="c-card__info">
                            <span class="c-card__date">
                              <i class="u-text-defaultcase">{{item.publicationName}}</i>&nbsp;-
                              {{item.eventTimeYear}}
                            </span>
                          </p>
                          <p class="c-card__author">{{item.author}}</p>
                          <p class="c-card__summary">{{item.summary}}
                          </p>
                          <div class="c-card__cta">
                            <a class="btn btn-primary" :href="item.url" :title="item.title" target="_blank">
                              下载 (.pdf)
                            </a>
                          </div>
                        </div>
                        <div class="c-card__image">
                        </div>
                      </div>
                    </div>

                    <nav class="pager" role="navigation" aria-labelledby="pagination-heading"
                      v-if="data.total_page > 1">
                      <h4 id="pagination-heading" class="pager__heading visually-hidden">页码</h4>
                      <ul class="pager__items js-pager__items">
                        <li class="pager__item pager__item--previous">
                          <a :href="data.prev_url" title="Go to previous page" rel="prev">
                            <span class="visually-hidden">上一页</span>
                            <i class="o-icon --caret-right" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="pager__item is-active">
                          {{data.cur_page}}<sub>/{{data.total_page}}</sub>
                        </li>
                        <li class="pager__item pager__item--next">
                          <a :href="data.next_url" title="Go to next page" rel="next">
                            <span class="visually-hidden">下一页</span>
                            <i class="o-icon --caret-right" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <a href="#main-content" id="js_back-to-top" title="Revenir en haut de la page"
        class="c-back-to-top smoothHide d-none"></a>
    </main>
    <footer role="contentinfo" class="footer" id="footer"> </footer>
    <div class="modal modal--search" id="search-modal" tabindex="-1" aria-label="Search form" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button role="button" aria-label="Close" class="btn btn-icon--l o-btn-close" data-bs-dismiss="modal">
            <i class="o-icon --cross" aria-hidden="true"></i>
            <span>关闭</span>
          </button>
          <form action="/search.html" method="GET" class="modal--search__form">
            <h2 class="modal-title">
              您在找寻什么?
            </h2>
            <div class="form-item">
              <label class="visually-hidden" for="key">请输入关键词...</label>
              <input class="form-text form-control" placeholder="请输入关键词..." type="text" id="key" name="keyword"
                value="">
              <button type="submit" class="js-form-submit form-submit btn">
                <i class="o-icon --magnifying-glass" aria-hidden="true"></i>
              </button>
            </div>
            <a href="/search.html" class="u-link">高级搜索</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade modal--affiliates" id="affiliates-modal" tabindex="-1" aria-label="Gattefossé in the world"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" id="worldList">
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#header").load("/header.html", function () {
        let tmp = checkLoginStatus();
        if (!tmp) {
          $("#collapseAccMenu").load("/account-menu.html");
        } else {
          $("#collapseAccMenu").load("/account-menu-after-login.html");
        }
      });
      $("#footer").load("/footer.html");
      $("#quickLinks").load("/quickLinks.html");
      $("#worldList").load("/world.html");
    });
  </script>
  <script>
    const { createApp, reactive } = Vue;

function checkLoginStatus() { return false; }
function setUrlParam(url, paramName, paramValue) {
  paramName = paramName.replace(/[\[\]]/g, '\\$&');
  let regular = new RegExp('[?&]' + paramName + '(=([^&#]*)|&|#|$)');
  let val = regular.exec(url);
  if (val && val[2]) {
    url = url.replace(new RegExp(paramName + '=' + val[2]), paramName + '=' + paramValue);
  } else {
    if (url.indexOf('?') < 0) { url += '?' + paramName + '=' + paramValue; }
    else { url += '&' + paramName + '=' + paramValue; }
  }
  return url;
}
function delUrlParam(url, paramName) {
  paramName = paramName.replace(/[\[\]]/g, '\\$&');
  let regular = new RegExp('[?&]' + paramName + '(=([^&#]*)|&|#|$)');
  let val = regular.exec(url);
  if (val && val[2]) { url = url.replace(new RegExp('[?&]' + paramName + '=' + val[2]), ''); }
  if (url.indexOf('?') < 0) { url = url.replace(/&/, '?'); }
  return url;
}

// ===== URL参数 =====
var curUrl = window.location.href;
var params = new URLSearchParams(window.location.search);
var curPage = parseInt(params.get('page')) || 1;
var tagId = params.get('tagId');
var publicationType = params.get('publicationType');
var w = params.get('keyword');
var baseUrl = window.location.pathname;

// ===== 类型 ID → 中文名（原站 facet taxonomy 映射） =====
var PUB_TYPE_MAP = {5: '会议交流', 6: '海报', 7: '科技出版物'};
var apiBase = '/api';

// ===== Vue应用 =====
var app = createApp({
  setup() {
    var data = reactive({
      formData: [],
      total: 0,
      total_page: 1,
      cur_page: curPage,
      page_size: 9,
      tagId: tagId,
      tagList: [],
      curFilterTagName: '',
      publicationType: publicationType && PUB_TYPE_MAP[publicationType] ? publicationType : null,
      publicationTypeId: publicationType && PUB_TYPE_MAP[publicationType] ? publicationType : null,
      publicationTypeList: [],
      curFilterTypeName: '',
      allTypeUrl: baseUrl,
      activeFilterClass: 'hidden',
      prev_url: '',
      next_url: '',
      keyword: w
    });
    // 类型按钮列表（所有类型 + 3 类）
    if (data.publicationType) {
      data.curFilterTypeName = PUB_TYPE_MAP[data.publicationType];
      data.activeFilterClass = 'showDiv';
    }
    data.publicationTypeList = [];
    for (var id in PUB_TYPE_MAP) {
      var u = baseUrl + '?page=1&publicationType=' + id;
      if (w) u += '&keyword=' + encodeURIComponent(w);
      if (tagId) u += '&tagId=' + encodeURIComponent(tagId);
      data.publicationTypeList.push({ ID: id, typeName: PUB_TYPE_MAP[id], url: u });
    }
    // ===== 工具方法 =====
    const seeAll = (event) => {
      const btn = event.currentTarget;
      const body = btn.closest('.panel-body');
      if (!body) return;
      const ul = body.querySelector('ul');
      if (!ul) return;
      const items = ul.querySelectorAll('li');
      const expanded = btn.getAttribute('data-aria-expanded') === 'true';
      items.forEach(function (li, idx) {
        if (idx >= 6) {
          if (expanded) { li.classList.add('hidden'); } else { li.classList.remove('hidden'); }
        }
      });
      btn.textContent = expanded ? btn.getAttribute('data-show') : btn.getAttribute('data-hide');
      btn.setAttribute('data-aria-expanded', expanded ? 'false' : 'true');
    }
    const setTagStyle = () => {
      const parentElement = document.querySelectorAll('.facets-widget-checkbox');
      parentElement.forEach((element) => {
        const childElements = element.querySelectorAll('.facet-item1');
        if (childElements.length > 6) {
          const seeAllBt = element.querySelector('.js-see-all');
          if (seeAllBt) seeAllBt.className = "moreBt showDiv";
        }
      });
    }
    const goToUrl = (url) => { window.location.href = url; }
    const delParamAndGotoUrl = (paramName) => {
      if ((tagId == null || tagId == 0) && (publicationType == null || publicationType == 0)) {
        data.activeFilterClass = "hidden";
      }
      var url = delUrlParam(curUrl, paramName);
      window.location.href = url;
    }
    // 清除所有筛选条件（重置过滤器）
    const clearFilters = () => {
      data.activeFilterClass = 'hidden';
      data.curFilterTagName = '';
      data.curFilterTypeName = '';
      window.location.href = baseUrl;
    }
    // ===== 构建侧栏标签组（年份 + 成分） =====
    function buildGroups(tags, curTagId) {
      var yearGroup = [], ingGroup = [];
      tags.forEach(function (t) {
        var obj = { tagName: t };
        if (/^\d{4}$/.test(t)) yearGroup.push(obj); else ingGroup.push(obj);
      });
      yearGroup.sort(function (a, b) { return b.tagName.localeCompare(a.tagName); });
      ingGroup.sort(function (a, b) { return a.tagName.localeCompare(b.tagName); });
      function mkGroup(tagName, id, children) {
        var nameId = 'collapse-filtre-accordion-' + tagName + '_' + id;
        return {
          tagName: tagName, ID: id,
          nameId: nameId,
          sharpeNameId: '#' + nameId,
          headerNameId: 'heading-filtre-accordion-publications_' + tagName,
          accordionNameId: 'accordion-filtre-accordion-publications_' + tagName,
          dataBlockPluginId: 'facet_block:publications_' + tagName,
          panelDivId1: tagName + '_' + id,
          class: 'facet-inactive block-facet--checkbox block block-facets ',
          children: children.map(function (c, ci) {
            var u = baseUrl + '?page=1&tagId=' + encodeURIComponent(c.tagName);
            if (data.publicationType) u += '&publicationType=' + data.publicationType;
            if (w) u += '&keyword=' + encodeURIComponent(w);
            if (tagId && decodeURIComponent(tagId) === c.tagName) {
              data.curFilterTagName = c.tagName;
              data.activeFilterClass = 'showDiv';
            }
            return {
              ID: c.tagName,
              tagName: c.tagName,
              tagUrl: u,
              dataDrupalFacetItemId: tagName + '-' + ci,
              facetItemClass: ci < 6 ? 'facet-item1' : 'facet-item1 hidden'
            };
          })
        };
      }
      var groups = [];
      if (yearGroup.length) groups.push(mkGroup('年份', 55, yearGroup));
      if (ingGroup.length) groups.push(mkGroup('成分', 54, ingGroup));
      return groups;
    }
    // ===== API 动态加载出版物数据 =====
    function buildApiUrl() {
      var p = new URLSearchParams();
      p.set('type', 'publication');
      p.set('page', data.cur_page);
      p.set('limit', '9');
      p.set('isPublished', 'true');
      if (w) p.set('keyword', w);
      if (data.publicationType && PUB_TYPE_MAP[data.publicationType]) p.set('articleType', PUB_TYPE_MAP[data.publicationType]);
      if (tagId && tagId != '0') p.set('tags', decodeURIComponent(tagId));
      return apiBase + '/news?' + p.toString();
    }
    async function loadPublications() {
      try {
        var resp = await fetch(buildApiUrl());
        var result = await resp.json();
        if (result.code !== 0) throw new Error(result.message || '加载失败');
        var d = result.data;
        data.total = d.pagination.total;
        data.total_page = d.pagination.totalPages;
        data.cur_page = parseInt(d.pagination.page);
        data.formData = d.list.map(function (item) {
          var eventTimeYear = '';
          if (item.publishedDate) { eventTimeYear = new Date(item.publishedDate).getFullYear(); }
          return {
            ID: item.id,
            title: item.title,
            typeName: item.articleType || '',
            publicationName: item.publicationName || '',
            eventTimeYear: eventTimeYear,
            author: item.authorName || '',
            summary: item.summary || '',
            url: item.pdfUrl || ''
          };
        });
        var tp = data.publicationType ? '&publicationType=' + data.publicationType : '';
        var tg = tagId && tagId != '0' ? '&tagId=' + encodeURIComponent(tagId) : '';
        var kw = w ? '&keyword=' + encodeURIComponent(w) : '';
        data.prev_url = data.cur_page > 1 ? baseUrl + '?page=' + (data.cur_page - 1) + tp + tg + kw : null;
        data.next_url = data.cur_page < data.total_page ? baseUrl + '?page=' + (data.cur_page + 1) + tp + tg + kw : null;
      } catch (e) {
        console.error('加载出版物失败:', e);
        data.formData = [];
        data.total = 0;
      }
      setTimeout(function () { setTagStyle(); }, 100);
    }
    // 加载标签分组（年份 / 成分）
    async function loadTags() {
      try {
        var resp = await fetch(apiBase + '/news/tags/list?type=publication');
        var result = await resp.json();
        if (result.code !== 0) return;
        data.tagList = buildGroups(result.data || [], tagId);
      } catch (e) {
        console.error('加载标签列表失败:', e);
      }
    }
    // 初始化：先加载标签，再加载出版物
    loadTags().then(function () { loadPublications(); });
    return { data, seeAll, goToUrl, delParamAndGotoUrl, clearFilters };
  }
});
app.mount('#app');
if (w) { document.getElementById('edit-keyword').value = w; }

</script>

  <script defer src="https://umami.onlystyle.com.cn/script.js"
    data-website-id="8dfca0a5-98e6-4037-b4ed-c6db16dd7ccf"></script>
  <script src="/sites/default/files/js/js_N81plmNQLshwK5FABanM0cbfGmnGryAOF7WftT2a97I.js"></script>
  <script src="/sites/default/files/js/js_s6aNHaNyXsaLLFMbA3H-L-jz0lJviaanDGet7HBKEvU.js"></script>
  <script src="/themes/custom/gattefosse/js/libraries/tarteaucitron/tarteaucitron.js?1713334323"></script>
  <script src="/sites/default/files/js/js_-YsAXWEB4twbIcIo_-Yc1WeAgi9b2E4Oba79--lmNQ0.js"></script>
  <style>
    .dialog {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 30px;
      border: 1px solid #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      background-color: rgba(248, 244, 244, 1);
      min-width: 400px;
    }

    .dialog-content {
      text-align: center;
    }

    .dialog-content a {
      color: #8eb73c;
      font-style: bold;
    }

    #dialog-close {
      margin-top: 100px;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
    }


    .moreBt {
      display: none;
      margin: 0.8rem 0 0 2.4rem;
      font-size: 1.4rem;
      color: var(--accent-color);
      text-decoration: underline;
      line-height: 1.2;
      border: 0;
      background: none;
      padding: 0;
    }

    .showDiv {
      display: block
    }

    .hidden {
      display: none
    }

    .facet-item1 {
      font-family: "Din Next Lt Pro Regular", sans-serif;
      font-size: 1.6rem;
      color: #58616B;
    }
  </style>
</body>

</html>