<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="https://www.gattefosse.com/personal-care/get-inspired/webinars" />
  <meta name="google-site-verification"
    content="google-site-verification=Y6WviYcf7W8KotrHzlWpb5b-OAAhVvid6uNBCzp_BeQ" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="alternate" hreflang="x-default" href="https://www.gattefosse.com/personal-care/get-inspired/webinars" />
  <link rel="alternate" hreflang="en" href="https://www.gattefosse.com/personal-care/get-inspired/webinars" />
  <link rel="alternate" hreflang="fr" href="https://www.gattefosse.com/fr/cosmetique/inspirez-vous/webinaires" />
  <link rel="icon" href="/themes/custom/gattefosse/favicon.ico" type="image/vnd.microsoft.icon" />
  <script type="text/javascript" src="/static/js/vue.global.prod.js"></script>
  
  <script src="/static/js/jquery-3.7.1.min.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      "Pagetype": "page",
      "LEVEL1": "Personal Care",
      "LEVEL2": "Get inspired",
      "LEVEL3": "Webinars",
      "Pays": "en",
      "Thematique": "",
      "Connexion": "Non"
    });
  </script>
  <title>所有在线研讨会 | 嘉法狮</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/themes/custom/gattefosse/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/themes/custom/gattefosse/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/themes/custom/gattefosse/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/themes/custom/gattefosse/images/favicons/site.webmanifest">
  <link rel="mask-icon" href="/themes/custom/gattefosse/images/favicons/safari-pinned-tab.svg" color="#8eb73c">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_83IgK5qSyQ2WQkmA4TkQRTkFz3jcESwHWiU_M3oYQ7Q.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_UNWZAvJR_UXv2Sq6NFSjgMAclzwo_we9g7Y8Kyl7oro.css" />
  <link rel="stylesheet" media="all" href="/sites/default/files/css/menu_icons_1713165946.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_pPfrrsOwLXxDLw7-UYKDqFONEmjyh_dCi89ZBWzLKGc.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_Dwr1bX48YmNECzBBt7nwDptwptEaW3gdWtZuB5hvXVM.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_XQDl2didkH3hS4vpdKEYK2CLe0-WNSbnpUgzCUfOXjU.css" />
</head>

<body class="path-personal-care    bg- d-flex flex-column">
  <nav role="navigation" aria-label="Accès rapide au contenu">
    <a href="#main-content" class="visually-hidden focusable skip__link">
      <span class="skip__link__text">Saut au contenu</span>
    </a>
  </nav>
  <div class="dialog-off-canvas-main-canvas d-flex flex-column h-100" data-off-canvas-main-canvas>
    <header role="banner" class="header" id="header"></header>
    <div class="region region-highlight">
      <div data-drupal-messages-fallback class="hidden"></div>
    </div>
    <main role="main" class="main theme-cosm" data-bs-spy="scroll">
      <nav role="navigation" class="quick-access">
        <button class="quick-access__button quick-access__button--open js-open">
          <i class="o-icon --list" aria-hidden="true"></i>
          <strong>快捷链接</strong>
        </button>
        <div class="quick-access__menu">
          <button class="quick-access__button quick-access__button--close js-close">
            <i class="o-icon --cross" aria-hidden="true"></i>
            关闭
          </button>
          <div id="quickLinks"></div>
        </div>
      </nav>
      <div class="page-content">
        <div class="region region-breadcrumb">
          <div id="block-gattefosse-breadcrumbs" data-block-plugin-id="system_breadcrumb_block"
            class="block block-system block-system-breadcrumb-block">
            <nav aria-label="breadcrumb">
              <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">首页</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/personal-care.html">个人护理</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/personal-care/get-inspired.html">获取灵感</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/personal-care/get-inspired/webinars.html">所有在线研讨会</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <a id="main-content" tabindex="-1"></a>
        <div class="region region-content" id="app">
          <div id="block-gattefosse-content" data-block-plugin-id="system_main_block"
            class="block block-system block-system-main-block">
            <div class="views-element-container">
              <section
                class="view view-webinar-personal-care view-id-webinar_personal_care view-display-id-list js-view-dom-id-c4e9951f3d5d475c16badfb704f6736a33a8e7c5cf1f03703f487b3a8f548656 s-page has-aside s-page--filter">
                <div class="s-page__header">
                  <div class="container">
                    <h1 class="s-page__title u-title-styled">
                      所有在线研讨会
                    </h1>
                    <div class="view-filters">
                      <form class="views-exposed-form bef-exposed-form"
                        data-drupal-selector="views-exposed-form-webinar-personal-care-list"
                        action="/personal-care/get-inspired/webinars.html" method="get"
                        id="views-exposed-form-webinar-personal-care-list" accept-charset="UTF-8">
                        <div class="modal--search__form s-page__header-search">
                          <div class="form-item">
                            <div
                              class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-keyword form-item-keyword">
                              <label for="edit-keyword">关键词</label>
                              <input placeholder="您要找的是?" data-drupal-selector="edit-keyword" type="text"
                                id="edit-keyword" name="keyword" value="" size="30" maxlength="128"
                                class="form-text form-control" />
                            </div>
                            <button type="submit" id="edit-submit-webinar-personal-care"
                              class="js-form-submit form-submit btn"
                              data-drupal-selector="edit-submit-webinar-personal-care">
                              <i class="o-icon --magnifying-glass" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="s-page__wrapper">
                  <aside class="s-page__aside s-page__aside--l" aria-label="filters" role="complementary">
                    <button type="button" class="c-filter__mobile-btn btn btn-primary js-filter-btn-mobile">
                      <span class="c-filter__txt-open">过滤搜索</span>
                      <span class="c-filter__txt-close">关闭过滤器</span>
                      <i class="o-icon --caret-circle-down" aria-hidden="true"></i>
                    </button>
                    <div class="c-filter e-form js-filter">
                      <button type="button" class="js-filter-btn-close c-filter__close-btn"><i class="o-icon --cross"
                          aria-hidden="true"></i>关闭</button>
                      <div class="c-filter__header">
                        <h2 class="c-filter__main-title">过滤器</h2>
                        <button type="reset" target="/personal-care/get-inspired/webinars.html"
                          class="c-filter__reset-btn btn btn-outline-secondary">重置过滤器
                          <i class="o-icon --reset" aria-hidden="true"></i>
                        </button>
                      </div>
                      <div data-drupal-facets-summary-id="formulations_personal_care_active_filters"
                        data-block-plugin-id="facets_summary_block:formulations_personal_care_active_filters"
                        class="block block-facets-summary block-facets-summary-blockformulations-personal-care-active-filters" :class="data.activeFilterClass">
                        <h3 class="c-filter__subtitle">当前过滤项 :</h3>
                        <ul class="o-tag-list o-tag-list--wrap">
                          <li class="facet-summary-item--facet o-tag-list__item"
                            v-if="data.tagId != null && data.tagId != 0">
                            {{data.curFilterTagName}}
                            <a @click="delParamAndGotoUrl('tagId')"
                              class="c-filter__delete">
                              <span class="visually-hidden">移除过滤</span>
                            </a>
                          </li>
                          <li class="facet-summary-item--facet o-tag-list__item"
                            v-if="data.webinarsTypeId != null && data.webinarsTypeId != 0">
                            {{data.curFilterTypeName}}
                            <a @click="delParamAndGotoUrl('webinarsType')"
                              class="c-filter__delete">
                              <span class="visually-hidden">移除过滤</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div v-if="data.webinarsTypeList != null && data.webinarsTypeList.length > 0"
                        class="facet-inactive block-facet--links block block-facets block-facet-blockwebinar-personal-care-themes"
                        data-block-plugin-id="facet_block:webinar_personal_care_themes">
                        <div class="facets-widget-links">
                          <ul data-drupal-facet-id="webinar_personal_care_themes" data-drupal-facet-alias="themes"
                            class="facet-inactive js-facets-links facet-list item-list__links">
                            <li class="facet-item1 facets-reset">
                              <a class="btn btn-outline-secondary is-active" v-if="data.webinarsType == null"
                                :href="data.allTypeUrl">所有类型{{data.webinarsType}}</a>
                              <a class="btn btn-outline-secondary" v-if="data.webinarsType > 0 "
                                :href="data.allTypeUrl">所有类型</a>
                            </li>
                            <li v-for="item in data.webinarsTypeList">
                              <a class="btn btn-outline-secondary is-active" v-if="item.ID == data.webinarsType"
                                :href="item.url">{{item.typeName}}</a>
                              <a class="btn btn-outline-secondary" v-else :href="item.url">{{item.typeName}}</a>
                            </li>
                          </ul>
                        </div>
                      </div>                      
                      <div v-for="item in data.tagList" :class="item.class"
                        :data-block-plugin-id="item.dataBlockPluginId"
                        class="facet-inactive block-facet--checkbox block block-facets ">
                        <div class="accordion facets-widget-checkbox">
                          <div class="accordion-item panel-group" :id="item.accordionNameId"
                            aria-multiselectable="true">
                            <h3 role="tab" :id="item.headerNameId">
                              <button type="button" aria-expanded="true" class="panel-title accordion-button"
                                data-bs-toggle="collapse" :data-bs-target="item.sharpeNameId"
                                id="nav-filtre-accordion">{{item.tagName}}</button>
                            </h3>
                            <div :id="item.nameId" class="panel-collapse collapse show"
                              :aria-labelledby="item.headerNameId">
                              <div class="panel-body accordion-body">
                                <ul :data-drupal-facet-id="item.panelDivId1" :data-drupal-facet-alias="item.tagName"
                                  class="facet-inactive js-facets-checkbox-links facet-list item-list__checkbox">
                                  <li v-for="item2 in item.children" :class="item2.facetItemClass">
                                    <input type="checkbox" v-if="data.tagId == item2.ID" checked="checked"
                                      class="facets-checkbox" :id="item2.dataDrupalFacetItemId">
                                    <input type="checkbox" v-else class="facets-checkbox" @click="goToUrl(item2.tagUrl)"
                                      :id="item2.dataDrupalFacetItemId"><a :href="item2.tagUrl" rel="nofollow"
                                      :data-drupal-facet-item1-id="item2.dataDrupalFacetItemId"
                                      :data-drupal-facet-item1-value="item2.ID" data-drupal-facet-item1-count="17"><span
                                        class="facet-item__value">{{item2.tagName}}</span>
                                    </a>
                                  </li>
                                </ul>
                                <button class="link-more js-see-all" data-show="查看所有" @click="seeAll($event)"
                                  data-hide="收起" data-aria-expanded="false">查看所有</button>
                                <button class="link-more js-see-all" data-show="查看所有" data-hide="收起"
                                  aria-expanded="false">查看所有</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </aside>
                  <div class="s-page__content">
                    <div class="c-cards c-cards--vertical">
                      <div v-for="item in data.formData" :class="(item.lock == true && (data.userEnabled == 0 || data.userEnabled == null)) ? 'c-card c-card--horizontal theme-cosm c-card--private' : 'c-card c-card--horizontal theme-cosm'">
                        <a href="/account.html?url=/personal-care/get-inspired/webinars.html" v-if="(item.lock == true && (data.userEnabled == 0 || data.userEnabled == null))"
                          class="c-card__private-btn">
                          <span class="c-card__private-icon" aria-hidden="true"></span>
                        </a>
                        <div class="c-card__content">
                          <h3 class="c-card__title">                            
                            <a class="c-card__title-link" :href="(item.lock == true && (data.userEnabled == 0 || data.userEnabled == null)) ? '/account.html?url=/personal-care/get-inspired/webinars.html' : item.url" target="_blank" rel="noopener noreferrer">
                              {{item.title}}</a>                            
                          </h3>
                          <ul class="c-card__breadcrumb">
                            <li class="category">{{item.typeName}}</li>
                          </ul>
                          <p class="c-card__info" v-if="item.eventTime != null && item.eventTime != ''">
                            <span class="c-card__date"><time :datetime="item.eventTime"
                                class="datetime">{{item.eventTimeYear}}年{{item.eventTimeDate}}日</time>
                            </span>
                          </p>
                          <p class="c-card__summary">{{item.summary}}</p>
                          <ul class="c-card__tag">
                            <li v-for="item2 in item.tagList" class="c-card__tag-item">{{item2}}</li>
                          </ul>
                        </div>
                        <div class="c-card__image" v-if="item.thumb != '/'">
                          <img :src="item.thumb" style="width:369px;height:208px" alt="Asian woman wearing eyeshadow"
                            width="369" height="208" class="card__image img-fluid" loading="lazy">
                        </div>
                      </div>
                    </div>
                    <nav class="pager" role="navigation" aria-labelledby="pagination-heading"
                      v-if="data.total_page > 1">
                      <h4 id="pagination-heading" class="pager__heading visually-hidden">页码</h4>
                      <ul class="pager__items js-pager__items">
                        <li class="pager__item pager__item--previous">
                          <a :href="data.prev_url" title="Go to previous page" rel="prev">
                            <span class="visually-hidden">上一页</span>
                            <i class="o-icon --caret-right" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="pager__item is-active">
                          {{data.cur_page}}<sub>/{{data.total_page}}</sub>
                        </li>
                        <li class="pager__item pager__item--next">
                          <a :href="data.next_url" title="Go to next page" rel="next">
                            <span class="visually-hidden">下一页</span>
                            <i class="o-icon --caret-right" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <a href="#main-content" id="js_back-to-top" title="Revenir en haut de la page"
        class="c-back-to-top smoothHide d-none"></a>
    </main>
    <footer role="contentinfo" class="footer" id="footer"> </footer>
    <div class="modal modal--search" id="search-modal" tabindex="-1" aria-label="Search form" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button role="button" aria-label="Close" class="btn btn-icon--l o-btn-close" data-bs-dismiss="modal">
            <i class="o-icon --cross" aria-hidden="true"></i>
            <span>关闭</span>
          </button>
          <form action="/search.html" method="GET" class="modal--search__form">
            <h2 class="modal-title">
              您在找寻什么?
            </h2>
            <div class="form-item">
              <label class="visually-hidden" for="key">请输入关键词...</label>
              <input class="form-text form-control" placeholder="请输入关键词..." type="text" id="key" name="keyword"
                value="">
              <button type="submit" class="js-form-submit form-submit btn">
                <i class="o-icon --magnifying-glass" aria-hidden="true"></i>
              </button>
            </div>
            <a href="/search.html" class="u-link">高级搜索</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade modal--affiliates" id="affiliates-modal" tabindex="-1" aria-label="Gattefossé in the world"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" id="worldList">
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#header").load("/header.html", function () {
        let tmp = checkLoginStatus();
        if (!tmp) {
          $("#collapseAccMenu").load("/account-menu.html");
        } else {
          $("#collapseAccMenu").load("/account-menu-after-login.html");
        }
      });
      $("#footer").load("/footer.html");
      $("#quickLinks").load("/quickLinks.html");
      $("#worldList").load("/world.html");
    });
  </script>
  
  <script src="/sites/default/files/js/js_N81plmNQLshwK5FABanM0cbfGmnGryAOF7WftT2a97I.js"></script>
  <script src="/sites/default/files/js/js_s6aNHaNyXsaLLFMbA3H-L-jz0lJviaanDGet7HBKEvU.js"></script>
  <script src="/themes/custom/gattefosse/js/libraries/tarteaucitron/tarteaucitron.js?1713335120"></script>
  <script src="/sites/default/files/js/js_-YsAXWEB4twbIcIo_-Yc1WeAgi9b2E4Oba79--lmNQ0.js"></script>
  <script src="/sites/default/files/js/js_W8q5R4oIsmRhsRjsbPGB5rAGV5-VpUYHfAmsY7Pxc74.js"></script>
  <script>
function checkLoginStatus() { return false; }
const { createApp, reactive } = Vue;
var webinarsList = [
  {ID:145,title:'Color catwalk',typeName:'\u5e94\u7528\u9886\u57df',summary:'Learn about the dichotomy of today\'s makeup trends and the high-performing ingredients that will help you create beautiful products for any look.',tagList:[],topBackground:'https://www.gattefossechina.cn/uploads/file/257d919e332ebbe96cec3879e555d106_20240726125935.webp',thumb:'https://www.gattefossechina.cn/uploads/file/257d919e332ebbe96cec3879e555d106_20240517105109.png',lock:true,url:'https://us02web.zoom.us/rec/component-page?hasValidToken=false&clusterId=us02&action=play&filePlayId=&componentName=recording-register&meetingId=3Kfoy8SuZCTGMYG02c9BuQDDl8aCsDpQFakyWa0TBD_PG9'},
  {ID:146,title:'Biodegradability in cosmetics',typeName:'\u4e13\u4e1a\u77e5\u8bc6',summary:'Gather everything you need to know about biodegradability in cosmetics in just 20 minutes.',tagList:[],topBackground:'https://www.gattefossechina.cn/uploads/file/dcc8d188fb21a502826898453e707109_20240726125944.webp',thumb:'https://www.gattefossechina.cn/uploads/file/dcc8d188fb21a502826898453e707109_20240517105134.png',lock:true,url:'https://us02web.zoom.us/rec/component-page?hasValidToken=false&clusterId=us02&action=play&filePlayId=&componentName=recording-register&meetingId=8ZKE6nRJqmI-tMfZsldEc9-Oyn217XnNO68uL-RDyhZ-Je'},
  {ID:147,title:'Pout perfect',typeName:'\u7075\u611f\u4e0e\u8d8b\u52bf',summary:'Discover the latest trends in lip cosmetics and the Gattefoss\u00e9 ingredients to help you innovate hybrid lip products.',tagList:[],topBackground:'',thumb:'https://www.gattefossechina.cn/uploads/file/8474f8ff8c80608d209aa28540facb4c_20240517105320.png',lock:true,url:'https://us02web.zoom.us/rec/component-page?hasValidToken=false&clusterId=us02&action=play&filePlayId=&componentName=recording-register&meetingId=O-WiTS2Au7-61Rt870xzu2QmSPsu7tPR5PF37RKs01Lssw'},
  {ID:148,title:'Here comes the sun',typeName:'\u8d28\u5730\u4e0e\u914d\u65b9',summary:'Join our industry suncare expert as she reveals the best formulation practices and testing methods.',tagList:[],topBackground:'',thumb:'https://www.gattefossechina.cn/uploads/file/88ff30a395ed59b58fbe8ada4bcaac35_20240517105636.png',lock:true,url:'https://us02web.zoom.us/rec/component-page?hasValidToken=false&clusterId=us02&action=play&filePlayId=&componentName=recording-register&meetingId=N6MxLAR-VkYCDPjDhepuujagYu5J9ZMXbh6fHKCAk_nMVO'}
];
var app = createApp({
  setup() {
    var data = reactive({
      formData: webinarsList,
      webinarsTypeList: [{ID:1,typeName:'\u5e94\u7528\u9886\u57df'},{ID:2,typeName:'\u4e13\u4e1a\u77e5\u8bc6'},{ID:3,typeName:'\u7075\u611f\u4e0e\u8d8b\u52bf'},{ID:4,typeName:'\u8d28\u5730\u4e0e\u914d\u65b9'}],
      total: webinarsList.length,
      total_page: 1,
      cur_page: 1,
      page_size: 20,
      userEnabled: null,
      tagId: null,
      tagList: [],
      curFilterTagName: '',
      webinarsTypeId: null,
      curFilterTypeName: '',
      webinarsType: null,
      allTypeUrl: window.location.href.split('?')[0],
      activeFilterClass: 'hidden',
      prev_url: '',
      next_url: ''
    });
    return { data };
  }
});
app.mount('#app');
</script></script>
    <style>
      .dialog {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        background-color: rgba(248, 244, 244, 1);
        min-width: 400px;
      }
  
      .dialog-content {
        text-align: center;
      }
  
      .dialog-content a {
        color: #8eb73c;
        font-style: bold;
      }
  
      #dialog-close {
        margin-top: 100px;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
      }
  
  
      .moreBt {
        display: none;
        margin: 0.8rem 0 0 2.4rem;
        font-size: 1.4rem;
        color: var(--accent-color);
        text-decoration: underline;
        line-height: 1.2;
        border: 0;
        background: none;
        padding: 0;
      }
  
      .showDiv {
        display: block
      }
  
      .hidden {
        display: none
      }
  
      .facet-item1 {
        font-family: "Din Next Lt Pro Regular", sans-serif;
        font-size: 1.6rem;
        color: #58616B;
      }
    </style>
</body>

</html>