<!DOCTYPE html>
<html>


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="account.html" />
    <meta name="google-site-verification"
        content="google-site-verification=Y6WviYcf7W8KotrHzlWpb5b-OAAhVvid6uNBCzp_BeQ" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="alternate" hreflang="x-default" href="account.html" />
    <link rel="alternate" hreflang="en" href="account.html" />
    <link rel="alternate" hreflang="fr" href="fr/account.html" />
    <link rel="icon" href="themes/custom/gattefosse/favicon.ico" type="image/vnd.microsoft.icon" />
    <script type="text/javascript" src="/static/js/vue.global.prod.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            "Pagetype": "page",
            "LEVEL1": "My Account",
            "LEVEL2": "",
            "LEVEL3": "",
            "Pays": "France",
            "Thematique": "",
            "Connexion": "Non"
        });
    </script>

    <script setup>
        const params = new URLSearchParams(window.location.search);
        const tokenStr = params.get('_token');
        var url = params.get('url');
        if (url == null) {
            url = "/";
        }

        const gotoFront = async () => {
            let host = "/samllogin.html?url=";
            window.location.href = host + url;
        }
    </script>
    <title>会员登录 | 嘉法狮</title>
    <link rel="apple-touch-icon" sizes="180x180" href="themes/custom/gattefosse/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="themes/custom/gattefosse/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="themes/custom/gattefosse/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="themes/custom/gattefosse/images/favicons/site.html">
    <link rel="mask-icon" href="themes/custom/gattefosse/images/favicons/safari-pinned-tab.svg" color="#8eb73c">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" media="all"
        href="sites/default/files/css/css_VReceDAmMvwZ-zGjf3J2Cz04lQy72pkaj4cVAETXvtc.css" />
    <link rel="stylesheet" media="all"
        href="sites/default/files/css/css_q87ucVt3rnFopj3ZmA--fl7PQC4tROomRfVer8ewsiI.css" />
    <link rel="stylesheet" media="all" href="sites/default/files/css/menu_icons_1701865611.css" />
    <link rel="stylesheet" media="all"
        href="sites/default/files/css/css_Zhmy6RKhhmBnFiwP0LT1tlhYmmVI_M6EDUqy6GEDwSA.css" />
    <link rel="stylesheet" media="all"
        href="sites/default/files/css/css_CfAqE8UjmFObeJ-EWQr7CuI8o5xv3bQTdu0Ee6hJ1P0.css" />
    <link rel="stylesheet" media="all"
        href="sites/default/files/css/css_dkOFhq_9X734fPD7dLXkRMMA7X9jWxPleJsPlb151xk.css" />
</head>

<body class="path-account    bg- d-flex flex-column">
    <nav role="navigation" aria-label="Accès rapide au contenu">
        <a href="#main-content" class="visually-hidden focusable skip__link">
            <span class="skip__link__text">Saut au contenu</span>
        </a>
    </nav>
    <div class="dialog-off-canvas-main-canvas d-flex flex-column h-100" data-off-canvas-main-canvas>
        <header role="banner" class="header" id="header"></header>
        <div class="region region-highlight">
            <div data-drupal-messages-fallback class="hidden"></div>
        </div>
        <main role="main" class="main " data-bs-spy="scroll">
            <nav role="navigation" class="quick-access">
                <button class="quick-access__button quick-access__button--open js-open">
                    <i class="o-icon --list" aria-hidden="true"></i>
                    <strong>快捷链接</strong>
                </button>
                <div class="quick-access__menu">
                    <button class="quick-access__button quick-access__button--close js-close">
                        <i class="o-icon --cross" aria-hidden="true"></i>
                        关闭
                    </button>
                    <div id="quickLinks"></div>
                </div>
            </nav>
            <div class="page-content">
                <div class="region region-breadcrumb">
                    <div id="block-gattefosse-breadcrumbs" data-block-plugin-id="system_breadcrumb_block"
                        class="block block-system block-system-breadcrumb-block">
                        <nav aria-label="breadcrumb">
                            <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="index.html">首頁</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="account.html">会员中心</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <a id="main-content" tabindex="-1"></a>
                <div class="region region-content" id="app">
                    <div id="block-gattefosse-content" data-block-plugin-id="system_main_block"
                        class="block block-system block-system-main-block">
                        <div class="s-account">
                            <div class="s-account__container">
                                <h1 class="s-account__title u-title-styled">会员中心</h1>
                                <div class="s-account__wrapper">
                                    <ul class="c-tabs" id="account-tab" role="tablist">
                                        <li class="c-tabs__item" role="presentation">
                                            <button class="c-tabs__btn" id="registration-tab" data-bs-toggle="tab"
                                                data-bs-target="#registration" type="button" role="tab"
                                                aria-controls="registration" aria-selected="false">修改信息</button>
                                        </li>
                                        <li class="c-tabs__item" role="presentation">
                                            <button class="c-tabs__btn active" id="login-tab" data-bs-toggle="tab"
                                                data-bs-target="#login" type="button" role="tab" aria-controls="login"
                                                aria-selected="true">修改密码</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="account-tab-content">
                                        <div class="tab-pane fade show active" id="login" role="tabpanel"
                                            aria-labelledby="login-tab">
                                            <div class="s-account__tab-content">
                                                <div
                                                    class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-registration-firstname form-item-registration-firstname">
                                                    <label for="edit-pwd"
                                                        class="js-form-required form-required">密码</label>
                                                    <input type="password" id="edit-pwd" value="" size="60" maxlength="128"
                                                        placeholder="" class="form-text required form-control" v-model="data.formData.password" 
                                                        required="required" aria-required="true" />
                                                    <p id="edit-pwd-error" class="form-item--error-message"></p>
                                                </div>
                                                <div
                                                    class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-registration-firstname form-item-registration-firstname">
                                                    <label for="edit-pwd-confirm"
                                                        class="js-form-required form-required">确认密码</label>
                                                    <input type="password" id="edit-pwd-confirm" value="" size="60"
                                                        maxlength="128" placeholder="" v-model="data.formData.confirmPassword"
                                                        class="form-text required form-control" required="required"
                                                        aria-required="true" />
                                                    <p id="edit-pwd-confirm-error" class="form-item--error-message" :style="data.errshow">两次密码不一样</p>
                                                </div>
                                                <div data-drupal-selector="edit-actions"
                                                    class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
                                                    <input 
                                                        class="js-create-lead button js-form-submit form-submit btn btn-primary" @click="resetPasswordFunc" 
                                                        id="edit-pwd-submit" value="提交修改" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="registration" role="tabpanel"
                                            aria-labelledby="registration-tab">
                                            <div class="s-account__tab-content">
                                                <form class="salesforce-registration-form"
                                                    data-drupal-selector="salesforce-registration-form"
                                                    action="/account.html" method="post"
                                                    id="salesforce-registration-form" accept-charset="UTF-8">
                                                    <div
                                                        class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-registration-nickName form-item-registration-nickName">
                                                        <label for="edit-registration-nickName"
                                                            class="js-form-required form-required">姓名</label>
                                                        <input data-drupal-selector="edit-registration-nickName"
                                                            type="text" id="edit-registration-nickName"
                                                            name="registration-nickName" value="" size="60"
                                                            maxlength="128" placeholder="请输入姓名"
                                                            class="form-text required form-control" required="required"
                                                            aria-required="true" v-model="data.formData.nickName" />
                                                        <p id="edit-registration-nickName-error"
                                                            class="form-item--error-message">请输入姓名</p>
                                                    </div>
                                                    <!-- div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-registration-name form-item-registration-name">
      <label for="edit-registration-name" class="js-form-required form-required">Last Name</label>
        
  <input data-drupal-selector="edit-registration-name" type="text" id="edit-registration-name" name="registration-name" value="" size="60" maxlength="128" placeholder="Fill in your last name" class="form-text required form-control" required="required" aria-required="true" />
        </div-->
                                                    <div
                                                        class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-registration-company form-item-registration-company">
                                                        <label for="edit-registration-company"
                                                            class="js-form-required form-required">公司名称</label>
                                                        <input data-drupal-selector="edit-registration-company"
                                                            type="text" id="edit-registration-company"
                                                            name="registration-company" value="" size="60"
                                                            maxlength="128" placeholder="请输入公司名称"
                                                            class="form-text required form-control" required="required"
                                                            aria-required="true" v-model="data.formData.companyName" />
                                                        <p id="edit-registration-company-error"
                                                            class="form-item--error-message">请输入公司名称</p>
                                                    </div>
                                                    <div
                                                        class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-registration-street form-item-registration-street">
                                                        <label for="edit-registration-street form-required"
                                                            class="js-form-required form-required">地址</label>
                                                        <input data-drupal-selector="edit-registration-street"
                                                            type="text" id="edit-registration-street"
                                                            name="registration-street" value="" size="60"
                                                            maxlength="128" placeholder="请输入地址"
                                                            class="form-text form-control"
                                                            v-model="data.formData.address" />
                                                        <p id="edit-registration-street-error"
                                                            class="form-item--error-message">请输入地址</p>
                                                    </div>
                                                    <div
                                                        class="js-form-item form-item js-form-type-email form-type-email js-form-item-registration-mail form-item-registration-mail">
                                                        <label for="edit-registration-mail"
                                                            class="js-form-required form-required">邮箱</label>
                                                        <div id="edit-registration-mail--description">
                                                        </div>
                                                        <input data-drupal-selector="edit-registration-mail"
                                                            aria-describedby="edit-registration-mail--description"
                                                            type="email" id="edit-registration-mail"
                                                            name="registration-mail" value="" size="60" maxlength="254"
                                                            placeholder="请输入您的邮箱"
                                                            class="form-email required form-control" required="required"
                                                            aria-required="true" v-model="data.formData.email" />
                                                        <p id="edit-registration-mail-error"
                                                            class="form-item--error-message">请输入您的邮箱</p>
                                                    </div>
                                                    <div
                                                        class="js-form-item form-item js-form-type-tel form-type-tel js-form-item-registration-phone form-item-registration-phone">
                                                        <label for="edit-registration-phone">电话</label>
                                                        <input data-drupal-selector="edit-registration-phone" type="tel"
                                                            id="edit-registration-phone" name="registration-phone"
                                                            value="+86" size="30" maxlength="128" placeholder="电话号码"
                                                            class="form-tel form-control"
                                                            v-model="data.formData.phone" />
                                                    </div>
                                                    <div
                                                        class="js-form-item form-item js-form-type-tel form-type-tel js-form-item-registration-mobile form-item-registration-mobile">
                                                        <label for="edit-registration-mobile"
                                                            class="js-form-required form-required">手机</label>
                                                        <input data-drupal-selector="edit-registration-mobile"
                                                            type="tel" id="edit-registration-mobile"
                                                            name="registration-mobile" value="+86" size="30"
                                                            maxlength="128" placeholder="手机号码"
                                                            class="form-tel form-control" required="required"
                                                            v-model="data.formData.mobile" />
                                                        <p class="s-account__help">作为登录ID</p>
                                                    </div>
                                                    <div data-drupal-selector="edit-actions"
                                                        class="form-actions js-form-wrapper form-wrapper"
                                                        id="edit-actions">
                                                        <input
                                                            class="js-create-lead button js-form-submit form-submit btn btn-primary"
                                                            id="edit-submit"
                                                            @click="updateMallUserFunc" value="提交修改" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal modal--registration" id="registration-modal" tabindex="-1"
                            aria-label="Registration form" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button role="button" aria-label="Close" class="btn btn-icon--l o-btn-close"
                                            data-bs-dismiss="modal">
                                            <i class="o-icon --cross" aria-hidden="true"></i>
                                            <span>关闭</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-message success-message">
                                            <p>Thank you for your request.</p>
                                            <p>You will receive a confirmation email as soon as your account is
                                                validated.</p>
                                        </div>
                                        <div class="modal-message duplicate-message" style="display:none;">
                                            <p>The account already exists, please login with the following link.</p>
                                            <p><a href="account.html">Log in</a></p>
                                            <p><a
                                                    href="https://gattefosssas--preprod.sandbox.my.site.com/privatespace/s/login/ForgotPassword?language=en_US&amp;startURL=%2Fprivatespace%2Fidp%2Flogin%3Fapp%3D0sp1j0000004DpK&amp;RelayState=https%3A%2F%2Fprodtmp.gattefosse.com%2Faccount&amp;binding=HttpPost&amp;inresponseto=_70b97974d85f07f5539e8cca3fdee235ccee91537e">Forgot
                                                    your password?</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#main-content" id="js_back-to-top" title="Revenir en haut de la page"
                class="c-back-to-top smoothHide d-none"></a>
        </main>
        <footer role="contentinfo" class="footer" id="footer"></footer>
        <div class="modal modal--search" id="search-modal" tabindex="-1" aria-label="Search form" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button role="button" aria-label="Close" class="btn btn-icon--l o-btn-close"
                        data-bs-dismiss="modal">
                        <i class="o-icon --cross" aria-hidden="true"></i>
                        <span>关闭</span>
                    </button>
                    <form action="/search.html" method="GET" class="modal--search__form">
                        <h2 class="modal-title">
                            您在找寻什么?
                        </h2>
                        <div class="form-item">
                            <label class="visually-hidden" for="key">请输入关键词......</label>
                            <input class="form-text form-control" placeholder="请输入关键词......" type="text" id="key"
                                name="keyword" value="">
                            <button type="submit" class="js-form-submit form-submit btn">
                                <i class="o-icon --magnifying-glass" aria-hidden="true"></i>
                            </button>
                        </div>
                        <a href="search.html" class="u-link">高级搜索</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal--affiliates" id="affiliates-modal" tabindex="-1" aria-label="Gattefossé in the world"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" id="worldList">
        </div>
    </div>

    <script setup>
        const { createApp, reactive, getCurrentInstance, ref, router, nextTick } = Vue;
        const app = createApp({
            data() {
                return { formData: [] }
            },
            setup() {
                let randomNum = Math.floor(Math.random() * 100);
                const data = reactive({
                    errshow: 'display:none',
                    formData: {

                    },
                });
                // 获取用户信息
                const getMallUserFunc = async () => {
                    let token = localStorage.getItem("_token");
                    let userId = localStorage.getItem("userId");
                    var api = "/api/mallUser/getMallUser";
                    console.log("API call disabled - static mode");
                        if (res.data.code == 0) {
                            data.formData = res.data.data.remallUser
                            console.log(data.formData)
                        } else {
                        }
                    });
                }
                // 修改用户信息
                const updateMallUserFunc = async () => {
                    let token = localStorage.getItem("_token");
                    let userId = localStorage.getItem("userId");
                    var api = "/api/mallUser/updateMallUser";
                    axios.put(api, data.formData, { headers: { 'x-token': token } }).then((res) => {
                        console.log(res);
                        if (res.data.code == 0) {
                            alert("信息修改成功！");
                        } else {
                            alert("信息修改失败：" + result.msg);
                        }
                    });
                }
                // 更新密碼
                const resetPasswordFunc = async () => {
                    let token = localStorage.getItem("_token");
                    let userId = localStorage.getItem("userId");
                    var api = "/api/mallUser/resetPassword";
                    if (data.formData.password != data.formData.confirmPassword) {
                        data.errshow = 'display:block';
                        return
                    } else {
                        data.errshow = 'display:none';
                    }
                    axios.put(api, data.formData, { headers: { 'x-token': token } }).then((res) => {
                        console.log(res);
                        if (res.data.code == 0) {
                            alert("信息修改成功！");
                        } else {
                            alert("信息修改失败：" + result.msg);
                        }
                    });
                }
                getMallUserFunc()
                return {
                    data,
                    getMallUserFunc,
                    updateMallUserFunc,
                    resetPasswordFunc
                };
            },
        });
        let result = app.mount("#app");
    </script>
    <script src="/sites/default/files/js/js_9H6SPlMlyZ9EyjY2MwCDt9q3QzVmFZunCan9fow0dBU.js"></script>
    <script src="/sites/default/files/js/js_LTKAN3sFbDc5sT7m4u9gaorav7wUoRiGzL5fg7SCVw0.js"></script>
    <script src="/sites/default/files/js/js_e3sIG0TOaljvGWzD5Y8Y_MCuArH4-qtBQb2_bHG1o20.js"></script>
    <script src="/themes/custom/gattefosse/js/libraries/tarteaucitron/tarteaucitron1860.js?1702896652"></script>
    <script src="/sites/default/files/js/js_oWUeHxL8JB5yaJTGLbJhyH4vRq_OE3MfzTUmaeBxwC0.js"></script>
    <script src="/sites/default/files/js/js_LTKAN3sFbDc5sT7m4u9gaorav7wUoRiGzL5fg7SCVw0.js"></script>
    <script>
        $(document).ready(function () {
            $("#header").load("/header.html", function () {
                let tmp = checkLoginStatus();
                if (!tmp) {
                    window.location.href = "account.html";

                } else {
                    $("#collapseAccMenu").load("/account-menu-after-login.html");
                }
            });
            $("#footer").load("/footer.html");
            $("#quickLinks").load("/quickLinks.html");
            $("#worldList").load("/world.html");
        });
    </script>
    <script>
        $("#edit-submit").click(function () {
            let allowSubmit = true;
            if ($("#edit-registration-mail").val() == '') {
                $("#edit-registration-mail-error").css('display', 'block');
                $("#edit-registration-mail").focus();
                allowSubmit = false;
            }
            if ($("#edit-registration-department").val() == '') {
                $("#edit-registration-department-error").css('display', 'block');
                $("#edit-registration-department").focus();
                allowSubmit = false;
            }
            if ($("#edit-registration-fonction").val() == '') {
                $("#edit-registration-fonction-error").css('display', 'block');
                $("#edit-registration-fonction").focus();
                allowSubmit = false;
            }
            if ($("#edit-registration-city").val() == '') {
                $("#edit-registration-city-error").css('display', 'block');
                $("#edit-registration-city").focus();
                allowSubmit = false;
            }
            if ($("#edit-registration-street").val() == '') {
                $("#edit-registration-street-error").css('display', 'block');
                $("#edit-registration-street").focus();
                allowSubmit = false;
            }
            if ($("#edit-registration-company").val() == '') {
                $("#edit-registration-company-error").css('display', 'block');
                $("#edit-registration-company").focus();
                allowSubmit = false;
            }
            if ($("#edit-registration-nickName").val() == '') {
                $("#edit-registration-nickName-error").css('display', 'block');
                $("#edit-registration-nickName").focus();
                allowSubmit = false;
            }
            console.log(allowSubmit);
            if ($("#edit-registration-nickName").val() != '') {
                $("#edit-registration-nickName-error").css('display', 'none');
            }
            if ($("#edit-registration-company").val() != '') {
                $("#edit-registration-company-error").css('display', 'none');
            }
            if ($("#edit-registration-mail").val() != '') {
                $("#edit-registration-mail-error").css('display', 'none');
            }
            if ($("#edit-registration-phone").val() != '') {
                $("#edit-registration-phone-error").css('display', 'none');
            }
            if ($("#edit-registration-mobile").val() != '') {
                $("#edit-registration-mobile-error").css('display', 'none');
            }
            if ($("#edit-registration-state").val() != '') {
                $("#edit-registration-state-error").css('display', 'none');
            }
            if ($("#edit-registration-city").val() != '') {
                $("#edit-registration-city-error").css('display', 'none');
            }
            if ($("#edit-registration-street").val() != '') {
                $("#edit-registration-street-error").css('display', 'none');
            }
            if ($("#edit-registration-zip").val() != '') {
                $("#edit-registration-zip-error").css('display', 'none');
            }
            if ($("#edit-registration-market").val() != '') {
                $("#edit-registration-market-error").css('display', 'none');
            }
            if ($("#edit-registration-fonction").val() != '') {
                $("#edit-registration-fonction-error").css('display', 'none');
            }
            if ($("#edit-registration-department").val() != '') {
                $("#edit-registration-department-error").css('display', 'none');
            }
            if ($("#edit-registration-job").val() != '') {
                $("#edit-registration-job-error").css('display', 'none');
            }
            if ($("#edit-registration-rgpd").prop('checked')) {
                $("#registration-rgpd-error").css('display', 'none');
            }
            if (!allowSubmit) {
                return false;
            }
            var body = {
                nickname: $("#edit-registration-nickName").val(),
                username: $("#edit-registration-mobile").val(),
                companyName: $("#edit-registration-company").val(),
                email: $("#edit-registration-mail").val(),
                phone: $("#edit-registration-phone").val(),
                mobile: $("#edit-registration-mobile").val(),
                provinceId: 0,
                provinceName: $("#edit-registration-state").val(),
                //cityId: 0,
                cityName: $("#edit-registration-city").val(),
                districtId: 0,
                address: $("#edit-registration-street").val(),
                //address: $("#edit-registration-nickName").val(),
                zipcode: $("#edit-registration-zip").val(),
                //dft: true,
                market: $("#edit-registration-market").val(),
                position: $("#edit-registration-fonction").val(),
                department: $("#edit-registration-department").val(),
                //comment: $("#edit-registration-nickName").val(),
                job_title: $("#edit-registration-job").val(),
            };

            $.ajax({
                url: "/api/mallUser/updateMallUser1",
                type: "PUT",  //默认值: "GET"请求方式 ("POST" 或 "GET")
                data: JSON.stringify(body),
                dataType: "json",   //服务器返回的类型json,xml,text,html等
                contentType: "application/json",
                headers: {
                    Accept: 'application/json, text/plain, */*',
                    'x-token': localStorage.getItem('_token')
                },
                success: function (result, status, xhr) {      // 回调结果，如果成功
                    if (result.code == 0) {
                        //alert("信息修改成功！");
                    } else {
                        //alert("信息修改失败：" + result.msg);
                    }
                    //window.location.href = "/";
                },
                error: function (xhr, status, error) {
                    console.log("信息修改失敗");
                    //window.location.href = "/";
                }
            });
        });
    </script>
    <script defer src="https://umami.onlystyle.com.cn/script.js"
        data-website-id="8dfca0a5-98e6-4037-b4ed-c6db16dd7ccf"></script>
    <style>
        .form-item--error-message {
            display: none;
        }
    </style>

<script>/* checkLoginStatus 由 auth.js 统一管理 */</script>
</body>

</html>