<!DOCTYPE html>
<html>


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <link rel='dns-prefetch' href='index.html'>
  <meta charset="utf-8" />
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="subscription-addiactive.html" />
  <meta http-equiv="content-language" content="en" />
  <link rel="image_src"
    href="/sites/default/files/styles/medium/public/2023-06/addiactive-123-amereveille.jpg8f52.jpg?itok=itqnPiJZ" />
  <meta property="og:site_name" content="Gattefossé" />
  <meta property="og:type" content="page" />
  <meta property="og:url" content="subscription-addiactive.html" />
  <meta property="og:title" content="Inscription addiactive" />
  <meta property="og:image"
    content="sites/default/files/styles/facebook/public/2023-06/addiactive-123-amereveille.jpg7152.jpg?itok=u5O0Ri9j" />
  <meta property="og:image:type" content="image/webp" />
  <meta property="og:image:height" content="482" />
  <meta property="og:updated_time" content="2023-07-12T16:47:03+0200" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Inscription addiactive" />
  <meta name="twitter:url" content="subscription-addiactive.html" />
  <meta name="twitter:image:width" content="150" />
  <meta name="twitter:image:height" content="150" />
  <meta name="twitter:image"
    content="sites/default/files/styles/twitter/public/2023-06/addiactive-123-amereveille.jpg2fa1.jpg?itok=PLLezw-l" />
  <meta name="google-site-verification"
    content="google-site-verification=Y6WviYcf7W8KotrHzlWpb5b-OAAhVvid6uNBCzp_BeQ" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="alternate" hreflang="x-default" href="subscription-addiactive.html" />
  <link rel="alternate" hreflang="en" href="subscription-addiactive.html" />
  <link rel="icon" href="/themes/custom/gattefosse/favicon.ico" type="image/vnd.microsoft.icon" />
  <script type="text/javascript" src="/static/js/vue.global.prod.js"></script>
  <script src="/static/js/axios.min.js"></script>
  <script src="/static/js/jquery-3.7.1.min.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      "Pagetype": "page",
      "LEVEL1": "Subscription addiactive",
      "LEVEL2": "",
      "LEVEL3": "",
      "Pays": "France",
      "Thematique": "",
      "Connexion": "Non"
    });
  </script>
  <title>Subscription addiactive ⋅ Gattefossé</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/themes/custom/gattefosse/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/themes/custom/gattefosse/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/themes/custom/gattefosse/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/themes/custom/gattefosse/images/favicons/site.html">
  <link rel="mask-icon" href="/themes/custom/gattefosse/images/favicons/safari-pinned-tab.svg" color="#8eb73c">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_rs90-97EFkXN2_SVHFf41H9o-5VPzlOFVrIEEC9r8mE.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_meFjX13zIfmR4uqs-mZp2EgCMQhV_ccTope5tKwd0QA.css" />
  <link rel="stylesheet" media="all" href="/sites/default/files/css/menu_icons_1701865611.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_lZhcze4QtFJNbLTdERCf6AvgeyKTH9FqqFPd_T_WqA8.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_WXsVlvolEM36iHFvMW3UgPgsEh7mPKjCJ_ucwbLENX8.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_27386fQNXvCtfZzPn7HxOz3Jzn5fDfJ0rHsPPNY_Xf4.css" />
</head>
<body class="path-node page-node-type-page    bg- d-flex flex-column">
  <nav role="navigation" aria-label="Accès rapide au contenu">
    <a href="#main-content" class="visually-hidden focusable skip__link">
      <span class="skip__link__text">Saut au contenu</span>
    </a>
  </nav>
  <div class="dialog-off-canvas-main-canvas d-flex flex-column h-100" data-off-canvas-main-canvas>
    <header role="banner" class="header" id="header"></header>
    <div class="region region-highlight">
      <div data-drupal-messages-fallback class="hidden"></div>
    </div>
    <main role="main" class="s-page--inner main theme-cosm " data-bs-spy="scroll"><!-- theme-pharma | theme-cosm -->
      <nav role="navigation" class="quick-access">
        <button class="quick-access__button quick-access__button--open js-open">
          <i class="o-icon --list" aria-hidden="true"></i>
          <strong>快捷链接</strong>
        </button>
        <div class="quick-access__menu">
          <button class="quick-access__button quick-access__button--close js-close">
            <i class="o-icon --cross" aria-hidden="true"></i>
            关闭
          </button>
          <div id="quickLinks"></div>
        </div>
      </nav>
      <a id="main-content" tabindex="-1"></a>
      <div class="page-top">
        <div class="region region-breadcrumb">
          <div id="block-gattefosse-breadcrumbs" data-block-plugin-id="system_breadcrumb_block"
            class="block block-system block-system-breadcrumb-block">
            <nav aria-label="breadcrumb">
              <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/index.html">首页</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/subscription-addiactive.html">订阅</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="page-top__image  page-top__image--full"
          style="background-image: url(sites/default/files/styles/page_banner_desktop_full/public/2023-07/addiactive-cover-3.jpg.jpg)">
        </div>
      </div>
      <div class="region region-content" id="app">
        <div id="block-gattefosse-content" data-block-plugin-id="system_main_block"
          class="block block-system block-system-main-block">
          <article role="article" about="/subscription-addiactive" typeof="schema:WebPage"
            class="node node--type-page node--view-mode-full">
            <div class="container" id="app">
              <div class="node__wrapper">
                <div class="node__content-wrapper">
                  <div class="block-title">
                    <h1 class="page-title u-title-styled">订阅</h1>
                  </div>
                  <div class="block-accroche">
                    <div
                      class="clearfix text-formatted field field--name-field-chapeau field--type-text-long field--label-hidden field__item">
                      <p>填写下面的表格，通过电子邮件直接接收每本新的 PDF 电子书</p>
                    </div>
                  </div>
                  <div class="node__content">
                    <div class="paragraph paragraph--type--formulaire paragraph--view-mode--default" id="p3529">
                      <div
                        class="field field--name-field-formulaire field--type-webform field--label-hidden field__item">
                        <span id="webform-submission-addiactive-en-paragraph-3529-form-ajax-content"></span>
                        <div id="webform-submission-addiactive-en-paragraph-3529-form-ajax"
                          class="webform-ajax-form-wrapper" data-effect="fade" data-progress-type="throbber">
                          <form
                            class="webform-submission-form webform-submission-add-form webform-submission-addiactive-en-form webform-submission-addiactive-en-add-form webform-submission-addiactive-en-paragraph-3529-form webform-submission-addiactive-en-paragraph-3529-add-form js-webform-details-toggle webform-details-toggle"
                            data-drupal-selector="webform-submission-addiactive-en-paragraph-3529-add-form-2"
                            method="post" id="webform-submission-addiactive-en-paragraph-3529-add-form--2"
                            accept-charset="UTF-8">
                            <div
                              class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-nom form-item-nom">
                              <label for="edit-nom--2" class="js-form-required form-required">姓名</label>
                              <input v-model="data.Name" data-drupal-selector="edit-nom" type="text" id="edit-nom--2" name="nom" value=""
                                size="60" maxlength="255" class="form-text required form-control" required="required"
                                aria-required="true" />
                            </div>
                            <div
                              class="js-form-item form-item js-form-type-email form-type-email js-form-item-confirm-email form-item-confirm-email">
                              <label for="edit-confirm-email--2" class="js-form-required form-required">Email</label>
                              <input v-model="data.email" data-drupal-selector="edit-confirm-email" type="email" id="edit-confirm-email--2"
                                name="confirm_email" value="" size="60" maxlength="254"
                                class="form-email required form-control" required="required" aria-required="true" />
                            </div>
                            <div
                              class="js-form-item form-item js-form-type-tel form-type-tel js-form-item-telephone form-item-telephone">
                              <label for="edit-telephone--2" class="js-form-required form-required">手机</label>
                              <input v-model="data.mobile" data-drupal-selector="edit-telephone" type="tel" id="edit-telephone--2"
                                name="telephone" value="" size="30" maxlength="128"
                                class="form-tel required form-control" required="required" aria-required="true" />
                            </div>
                            <div
                              class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-entreprise form-item-entreprise">
                              <label for="edit-entreprise--2" class="js-form-required form-required">公司名称</label>
                              <input v-model="data.CompanyName" data-drupal-selector="edit-entreprise" type="text" id="edit-entreprise--2"
                                name="entreprise" value="" size="60" maxlength="255"
                                class="form-text required form-control" required="required" aria-required="true" />
                            </div>
                            <div
                              class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-fonction form-item-fonction">
                              <label for="edit-fonction--2">工作标题</label>
                              <input v-model="data.jobTitle" data-drupal-selector="edit-fonction" type="text" id="edit-fonction--2"
                                name="fonction" value="" size="60" maxlength="255" class="form-text form-control" />
                            </div>
                            <input data-drupal-selector="edit-captcha-sid" type="hidden" name="captcha_sid"
                              value="49262" />
                            <input data-drupal-selector="edit-captcha-token" type="hidden" name="captcha_token"
                              value="KzyWh-JfV4nQQVvHbAloH3nkpeu2Kb37_3UzMXjfXOw" />
                            <input id="recaptcha-v3-token--2" class="recaptcha-v3-token"
                              data-recaptcha-v3-action="contact_form"
                              data-recaptcha-v3-site-key="6LetMiEoAAAAALOmTwdjNJ2u207IjeYy1DJ3dzol"
                              data-drupal-selector="edit-captcha-response" type="hidden" name="captcha_response"
                              value="" />
                            <input data-drupal-selector="edit-is-recaptcha-v3" type="hidden" name="is_recaptcha_v3"
                              value="1" />
                            <input data-drupal-selector="edit-honeypot-time" type="hidden" name="honeypot_time"
                              value="RRjmonhsCa2u5pKKaP-zjXA7FoeqJ6j1xfEFQOVAH-E" />
                            <input autocomplete="off"
                              data-drupal-selector="form-vh7c2idafwnkak4ll1-cb4rmritanicurcocabr09-o" type="hidden"
                              name="form_build_id" value="form-VH7c2IdAFwnKAk4LL1_cB4rmRitaNIcuRCoCaBr09-o" />
                            <input
                              data-drupal-selector="edit-webform-submission-addiactive-en-paragraph-3529-add-form-2"
                              type="hidden" name="form_id"
                              value="webform_submission_addiactive_en_paragraph_3529_add_form" />
                            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper"
                              id="edit-actions--2">
                              <input
                                class="webform-button--submit button button--primary js-form-submit form-submit btn btn-primary"
                                data-drupal-selector="edit-submit" data-disable-refocus="true" type="button"
                                @click="submitInfo()" id="edit-submit--2" name="op" value="提交" />
                            </div>
                            <div class="url-textfield js-form-wrapper form-wrapper" style="display: none !important;">
                              <div
                                class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-url form-item-url">
                                <label for="edit-url--2">Leave this field blank</label>
                                <input autocomplete="off" data-drupal-selector="edit-url" type="text" id="edit-url--2"
                                  name="url" value="" size="20" maxlength="128" class="form-text form-control" />
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <a href="#main-content" id="js_back-to-top" title="Revenir en haut de la page"
        class="c-back-to-top smoothHide d-none"></a>
    </main>
    <footer role="contentinfo" class="footer" id="footer"> </footer>
    <div class="modal modal--search" id="search-modal" tabindex="-1" aria-label="Search form" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button role="button" aria-label="Close" class="btn btn-icon--l o-btn-close" data-bs-dismiss="modal">
            <i class="o-icon --cross" aria-hidden="true"></i>
            <span>关闭</span>
          </button>
          <form action="/search.html" method="GET" class="modal--search__form">
            <h2 class="modal-title">
              您在找寻什么?
            </h2>
            <div class="form-item">
              <label class="visually-hidden" for="key">请输入关键词......</label>
              <input class="form-text form-control" placeholder="请输入关键词......" type="text" id="key" name="keyword"
                value="">
              <button type="submit" class="js-form-submit form-submit btn">
                <i class="o-icon --magnifying-glass" aria-hidden="true"></i>
              </button>
            </div>
            <a href="search.html" class="u-link">高级搜索</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade modal--affiliates" id="affiliates-modal" tabindex="-1" aria-label="Gattefossé in the world"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" id="worldList">
    </div>
  </div>
  <script src="/sites/default/files/js/js_YHjTqZVbRJIbtBrS1kGOugIgTZ-4wFeC39296utgvr0.js"></script>
  <script src="/sites/default/files/js/js_Utmx8awXQfp_B5pBtn5XlED_ymA6og7qMIy3CDTL034.js"></script>
  <script src="/themes/custom/gattefosse/js/libraries/tarteaucitron/tarteaucitron031f.js?1702898766"></script>
  <script src="/sites/default/files/js/js_mxpzM3Ndr5pXse2ZdtaGAH-KuXpnd2F9IPF1-SiOLmY.js"></script>
  <script>
    
    $(document).ready(function () {
      $("#header").load("/header.html", function(){
        let tmp = checkLoginStatus();
        if (!tmp) {
          $("#collapseAccMenu").load("/account-menu.html");
        } else {
          $("#collapseAccMenu").load("/account-menu-after-login.html");
        }
      });
      $("#footer").load("/footer.html");
      $("#quickLinks").load("/quickLinks.html");
      $("#worldList").load("/world.html");
    });
  </script>
  <script setup>
    const params = new URLSearchParams(window.location.search);
    const tokenStr = params.get('_token');
    const id = params.get('id'); // "文章ID"
    const { createApp, reactive, getCurrentInstance, ref, router, nextTick } = Vue;
    const app = createApp({
      data() {
        return { formData: [] }
      },
      setup() {
        let randomNum = Math.floor(Math.random() * 100);
        const data = reactive({
          Name: '',
          email: '',
          phone: '',
          CompanyName: '',
          jobTitle: '',
          comment: '个人护理杂志订阅申请',
          type: 2 // 1工作申请，2杂志订阅
        });
        // 提交
        const submitInfo = () => {
          var api = "/api/webFeedback/createWebFeedback";
          //2.使用axios 进行post请求
          console.log("API call disabled");
              alert("信息登记成功，我们的工作人员会电话或者email与您确认，请注意接收接听，感谢您的支持！");
              window.location.href = "/";
            }).catch((err, res) => {
              console.log(err)
            })
        }
        return {
          data,
          submitInfo
        };
      },
    });
    let result = app.mount("#app");
  </script>
<script defer src="https://umami.onlystyle.com.cn/script.js" data-website-id="8dfca0a5-98e6-4037-b4ed-c6db16dd7ccf"></script>   

<script>/* checkLoginStatus 由 auth.js 统一管理 */</script>
</body>
</html>