<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="https://www.gattefosse.com/pharmaceuticals/learn-more/brochures" />
  <meta name="google-site-verification"
    content="google-site-verification=Y6WviYcf7W8KotrHzlWpb5b-OAAhVvid6uNBCzp_BeQ" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="alternate" hreflang="x-default" href="https://www.gattefosse.com/pharmaceuticals/learn-more/brochures" />
  <link rel="alternate" hreflang="en" href="https://www.gattefosse.com/pharmaceuticals/learn-more/brochures" />
  <link rel="alternate" hreflang="fr" href="https://www.gattefosse.com/fr/pharmaceutique/learn-more/brochures" />
  <link rel="icon" href="/themes/custom/gattefosse/favicon.ico" type="image/vnd.microsoft.icon" />
  <script type="text/javascript" src="/static/js/vue.global.prod.js"></script>
  <script src="/static/js/axios.min.js"></script>
  <script src="/static/js/jquery-3.7.1.min.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      "Pagetype": "page",
      "LEVEL1": "Pharmaceuticals",
      "LEVEL2": "Learn more",
      "LEVEL3": "Brochures",
      "Pays": "en",
      "Thematique": "",
      "Connexion": "Non"
    });
  </script>
  <title>所有手册 | 嘉法狮</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/themes/custom/gattefosse/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/themes/custom/gattefosse/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/themes/custom/gattefosse/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/themes/custom/gattefosse/images/favicons/site.webmanifest">
  <link rel="mask-icon" href="/themes/custom/gattefosse/images/favicons/safari-pinned-tab.svg" color="#8eb73c">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_83IgK5qSyQ2WQkmA4TkQRTkFz3jcESwHWiU_M3oYQ7Q.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_UNWZAvJR_UXv2Sq6NFSjgMAclzwo_we9g7Y8Kyl7oro.css" />
  <link rel="stylesheet" media="all" href="/sites/default/files/css/menu_icons_1713165946.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_pPfrrsOwLXxDLw7-UYKDqFONEmjyh_dCi89ZBWzLKGc.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_Dwr1bX48YmNECzBBt7nwDptwptEaW3gdWtZuB5hvXVM.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_XQDl2didkH3hS4vpdKEYK2CLe0-WNSbnpUgzCUfOXjU.css" />
</head>

<body class="path-pharmaceuticals    bg- d-flex flex-column">
  <nav role="navigation" aria-label="Accès rapide au contenu">
    <a href="#main-content" class="visually-hidden focusable skip__link">
      <span class="skip__link__text">Saut au contenu</span>
    </a>
  </nav>
  <div class="dialog-off-canvas-main-canvas d-flex flex-column h-100" data-off-canvas-main-canvas>
    <header role="banner" class="header" id="header"></header>
    <div class="region region-highlight">
      <div data-drupal-messages-fallback class="hidden"></div>
    </div>
    <main role="main" class="main theme-pharma" data-bs-spy="scroll">
      <nav role="navigation" class="quick-access">
        <button class="quick-access__button quick-access__button--open js-open">
          <i class="o-icon --list" aria-hidden="true"></i>
          <strong>快捷链接</strong>
        </button>
        <div class="quick-access__menu">
          <button class="quick-access__button quick-access__button--close js-close">
            <i class="o-icon --cross" aria-hidden="true"></i>
            关闭
          </button>
          <div id="quickLinks"></div>
        </div>
      </nav>
      <div class="page-content">
        <div class="region region-breadcrumb">
          <div id="block-gattefosse-breadcrumbs" data-block-plugin-id="system_breadcrumb_block"
            class="block block-system block-system-breadcrumb-block">
            <nav aria-label="breadcrumb">
              <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">首页</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/pharmaceuticals.html">药用辅料</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/pharmaceuticals/learn-more.html">了解更多</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/pharmaceuticals/learn-more/brochures.html">所有手册</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <a id="main-content" tabindex="-1"></a>
        <div class="region region-content" id="app">
          <div id="block-gattefosse-content" data-block-plugin-id="system_main_block"
            class="block block-system block-system-main-block">
            <div class="views-element-container">
              <section
                class="view view-brochures-pharmaceuticals view-id-brochures_pharmaceuticals view-display-id-list js-view-dom-id-39d2fccc5e7d9a298c79b93ae0ab4bb3cf5ca3e6e81d9216782873f5c11e5e78 s-page has-aside s-page--filter">
                <div class="s-page__header">
                  <div class="container">
                    <h1 class="s-page__title u-title-styled">
                      所有手册
                    </h1>
                    <div class="view-filters">
                      <form class="views-exposed-form bef-exposed-form"
                        data-drupal-selector="views-exposed-form-brochures-pharmaceuticals-list"
                        action="/pharmaceuticals/learn-more/brochures.html" method="get"
                        id="views-exposed-form-brochures-pharmaceuticals-list" accept-charset="UTF-8">
                        <div class="modal--search__form s-page__header-search">
                          <div class="form-item">
                            <div
                              class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-keyword form-item-keyword">
                              <label for="edit-keyword">关键词</label>
                              <input placeholder="您要找的是?" data-drupal-selector="edit-keyword" type="text"
                                id="edit-keyword" name="keyword" value="" size="30" maxlength="128"
                                class="form-text form-control" />
                            </div>
                            <button type="submit" id="edit-submit-brochures-pharmaceuticals"
                              class="js-form-submit form-submit btn"
                              data-drupal-selector="edit-submit-brochures-pharmaceuticals">
                              <i class="o-icon --magnifying-glass" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div>
                        <div class="facet-inactive block-facet--links block block-facets block-facet-blockbrochure-type"
                          data-block-plugin-id="facet_block:brochure_type">
                          <div
                            class="js-form-item form-item js-form-type-select form-type-select js-form-item-type form-item-type">
                            <div class="custom--bef-links form-buttons"> <a class="btn btn-outline-secondary is-active"
                                href="/pharmaceuticals/learn-more/brochures.html?facets_query=">
                                所有手册 
                              </a>
                              <a class="btn btn-outline-secondary"
                                href="/pharmaceuticals/learn-more/brochures.html?f%5B0%5D=type%3A62">
                                产品手册 
                              </a>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="s-page__wrapper">
                  <aside class="s-page__aside s-page__aside--l" aria-label="filters" role="complementary">
                    <button type="button" class="c-filter__mobile-btn btn btn-primary js-filter-btn-mobile">
                      <span class="c-filter__txt-open">赛选搜索</span>
                      <span class="c-filter__txt-close">关闭过滤器</span>
                      <i class="o-icon --caret-circle-down" aria-hidden="true"></i>
                    </button>
                    <div class="c-filter e-form js-filter">
                      <button type="button" class="js-filter-btn-close c-filter__close-btn"><i class="o-icon --cross"
                          aria-hidden="true"></i>关闭</button>
                      <div class="c-filter__header">
                        <h2 class="c-filter__main-title">过滤器</h2>
                        <button type="reset" target="/pharmaceuticals/learn-more/brochures.html"
                          @click.prevent="clearFilters"
                          class="c-filter__reset-btn btn btn-outline-secondary">取消过滤
                          <i class="o-icon --reset" aria-hidden="true"></i>
                        </button>
                      </div>
                      <div data-drupal-facets-summary-id="brochures_pharmaceuticals_active_filters"
                        data-block-plugin-id="facets_summary_block:brochures_pharmaceuticals_active_filters"
                        class="block block-facets-summary block-facets-summary-blockbrochures-pharmaceuticals-active-filters"
                        :class="data.activeFilterClass">
                        <h3 class="c-filter__subtitle">当前过滤器 :</h3>
                        <ul class="o-tag-list o-tag-list--wrap">
                          <li class="facet-summary-item--facet o-tag-list__item"
                            v-if="data.tagId != null && data.tagId != 0">
                            {{data.curFilterTagName}}
                            <a @click="delParamAndGotoUrl('tagId')"
                              class="c-filter__delete">
                              <span class="visually-hidden">移除过滤</span>
                            </a>
                          </li>
                          <li class="facet-summary-item--facet o-tag-list__item"
                            v-if="data.goodsId != null && data.goodsId != 0">
                            {{data.curFilterGoodsName}}
                            <a @click="delParamAndGotoUrl('goodsId')"
                              class="c-filter__delete">
                              <span class="visually-hidden">移除过滤</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div v-for="item in data.tagList" :class="item.class"
                        :data-block-plugin-id="item.dataBlockPluginId"
                        class="facet-inactive block-facet--checkbox block block-facets ">
                        <div class="accordion facets-widget-checkbox">
                          <div class="accordion-item panel-group" :id="item.accordionNameId"
                            aria-multiselectable="true">
                            <h3 role="tab" :id="item.headerNameId">
                              <button type="button" aria-expanded="true" class="panel-title accordion-button"
                                data-bs-toggle="collapse" :data-bs-target="item.sharpeNameId"
                                id="nav-filtre-accordion">{{item.tagName}}</button>
                            </h3>
                            <div :id="item.nameId" class="panel-collapse collapse show"
                              :aria-labelledby="item.headerNameId">
                              <div class="panel-body accordion-body">
                                <ul :data-drupal-facet-id="item.panelDivId1" :data-drupal-facet-alias="item.tagName"
                                  class="facet-inactive js-facets-checkbox-links facet-list item-list__checkbox">
                                  <li v-for="item2 in item.children" :class="item2.facetItemClass">
                                    <input type="checkbox" v-if="data.tagId == item2.ID" checked="checked"
                                      class="facets-checkbox" :id="item2.dataDrupalFacetItemId">
                                    <input type="checkbox" v-else class="facets-checkbox" @click="goToUrl(item2.tagUrl)"
                                      :id="item2.dataDrupalFacetItemId"><a :href="item2.tagUrl" rel="nofollow"
                                      :data-drupal-facet-item1-id="item2.dataDrupalFacetItemId"
                                      :data-drupal-facet-item1-value="item2.ID" data-drupal-facet-item1-count="17"><span
                                        class="facet-item__value">{{item2.tagName}}</span>
                                    </a>
                                  </li>
                                </ul>
                                <button class="link-more js-see-all" data-show="查看所有" @click="seeAll($event)"
                                  data-hide="收起" data-aria-expanded="false">查看所有</button>
                                <button class="link-more js-see-all" data-show="查看所有" data-hide="收起"
                                  aria-expanded="false">查看所有</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div v-if="data.productList && data.productList.length > 0"
                        class="facet-inactive block-facet--checkbox block block-facets block-facet-blockbrochures-pharmaceuticals-product"
                        data-block-plugin-id="facet_block:brochures_pharmaceuticals_product">
                        <div class="accordion facets-widget-checkbox">
                          <div class="accordion-item panel-group"
                            id="accordion-filtre-accordion-brochures_pharmaceuticals_product"
                            aria-multiselectable="true">
                            <h3 role="tab" id="heading-filtre-accordion-brochures_pharmaceuticals_product">
                              <button type="button" aria-expanded="true" class="panel-title accordion-button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse-filtre-accordion-brochures_pharmaceuticals_product"
                                id="nav-filtre-accordion">产品</button>
                            </h3>
                            <div id="collapse-filtre-accordion-brochures_pharmaceuticals_product"
                              class="panel-collapse collapse show" role="region"
                              aria-labelledby="heading-filtre-accordion-brochures_pharmaceuticals_product">
                              <div class="panel-body accordion-body">
                                <ul data-drupal-facet-id="brochures_pharmaceuticals_product"
                                  data-drupal-facet-alias="product"
                                  class="facet-inactive js-facets-checkbox-links facet-list item-list__checkbox">
                                  <li class="facet-item1" v-for="item in data.productList">
                                    <input type="checkbox" v-if="data.goodsId == item.ID" checked="checked"
                                      class="facets-checkbox" :id="item.inputID">
                                    <input type="checkbox" v-else class="facets-checkbox"
                                      @click="goToUrl(item.goodsTagUrl)" :id="item.inputID"><a :href="item.goodsTagUrl"
                                      :data-drupal-facet-item1-id="item.data_drupal_facet_item_id"
                                      :data-drupal-facet-item1-value="item.ID">
                                      <span class="facet-item__value">{{item.goodsName}}</span>
                                    </a>
                                  </li>
                                </ul>
                                <button class="link-more js-see-all" data-show="查看所有" data-hide="收起"
                                  aria-expanded="false">查看所有</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </aside>
                  <div class="s-page__content">
                    <div class="c-cards c-cards--vertical">
                      <div v-for="item in data.formData"
                        :class="(item.lock == true && (data.userEnabled == 0 || data.userEnabled == null)) ? 'c-card c-card--brochure c-card--horizontal c-card--bordered theme-pharma c-card--private' : 'c-card c-card--brochure c-card--horizontal c-card--bordered theme-pharma'">
                        <a v-if="(item.lock == true && (data.userEnabled == 0 || data.userEnabled == null))"
                          href="/account.html?url=/pharmaceuticals/learn-more/brochures.html"
                          class="c-card__private-btn">
                          <span class="c-card__private-icon" aria-hidden="true"></span>
                        </a>
                        <div class="c-card__content">
                          <h3 class="c-card__title">
                            {{item.title}}</h3>
                          <ul class="c-card__breadcrumb">
                            <li>宣传册</li>
                            <li class="category" v-for="item2 in item.tagList">{{item2}}</li>
                          </ul>
                          <p class="c-card__summary">{{item.summary}}</p>
                          <div class="c-card__cta">
                            <a :class="(item.lock == true && (data.userEnabled == 0 || data.userEnabled == null)) ? 'private-file btn btn-primary btn-disabled' : 'btn btn-primary'"
                              :href="(item.lock == true && (data.userEnabled == 0 || data.userEnabled == null)) ? '' : item.url"
                              title="Product catalogue" target="_blank">
                              下载 (.pdf)
                            </a>
                          </div>
                        </div>
                        <div class="c-card__image" v-if="item.thumb != '/'">
                          <img :src="item.thumb" style="width:208px;height:295px" :data-src="item.thumb"
                            alt="Cover product catalogue 2023" width="208" height="295" class="card__image img-fluid"
                            loading="lazy">
                        </div>
                      </div>
                    </div>
                    <nav class="pager" role="navigation" aria-labelledby="pagination-heading"
                      v-if="data.total_page > 1">
                      <h4 id="pagination-heading" class="pager__heading visually-hidden">页码</h4>
                      <ul class="pager__items js-pager__items">
                        <li class="pager__item pager__item--previous">
                          <a :href="data.prev_url" title="Go to previous page" rel="prev">
                            <span class="visually-hidden">上一页</span>
                            <i class="o-icon --caret-right" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="pager__item is-active">
                          {{data.cur_page}}<sub>/{{data.total_page}}</sub>
                        </li>
                        <li class="pager__item pager__item--next">
                          <a :href="data.next_url" title="Go to next page" rel="next">
                            <span class="visually-hidden">下一页</span>
                            <i class="o-icon --caret-right" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <a href="#main-content" id="js_back-to-top" title="Revenir en haut de la page"
        class="c-back-to-top smoothHide d-none"></a>
    </main>
    <footer role="contentinfo" class="footer" id="footer"> </footer>
    <div class="modal modal--search" id="search-modal" tabindex="-1" aria-label="Search form" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button role="button" aria-label="Close" class="btn btn-icon--l o-btn-close" data-bs-dismiss="modal">
            <i class="o-icon --cross" aria-hidden="true"></i>
            <span>关闭</span>
          </button>
          <form action="/search.html" method="GET" class="modal--search__form">
            <h2 class="modal-title">
              您在找寻什么?
            </h2>
            <div class="form-item">
              <label class="visually-hidden" for="key">请输入关键词...</label>
              <input class="form-text form-control" placeholder="请输入关键词..." type="text" id="key" name="keyword"
                value="">
              <button type="submit" class="js-form-submit form-submit btn">
                <i class="o-icon --magnifying-glass" aria-hidden="true"></i>
              </button>
            </div>
            <a href="/search.html" class="u-link">高级搜索</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade modal--affiliates" id="affiliates-modal" tabindex="-1" aria-label="Gattefossé in the world"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" id="worldList">
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#header").load("/header.html", function () {
        let tmp = checkLoginStatus();
        if (!tmp) {
          $("#collapseAccMenu").load("/account-menu.html");
        } else {
          $("#collapseAccMenu").load("/account-menu-after-login.html");
        }
      });
      $("#footer").load("/footer.html");
      $("#quickLinks").load("/quickLinks.html");
      $("#worldList").load("/world.html");
    });
  </script>
  <script setup>
    const { createApp, reactive, onMounted } = Vue;
    const params = new URLSearchParams(window.location.search);
    const baseUrl = window.location.pathname;                 // /pharmaceuticals/learn-more/brochures.html
    const w = params.get('keyword') || '';                    // 搜索关键词
    const pageParam = params.get('page');
    var tagId = params.get('tagId') || null;                  // 标签（中文名）

    const data = reactive({
      formData: [],              // 资料手册卡片列表
      cur_page: pageParam ? parseInt(pageParam) : 1,
      page_size: 10,
      total_page: 1,
      prev_url: null,
      next_url: null,
      keyword: w,
      tagId: tagId,
      activeFilterClass: 'hidden',
      curFilterTagName: '',
      curFilterGoodsName: '',
      tagList: [],
      productList: [],           // 无产品维度数据 → 侧栏产品块隐藏
      goodsId: null,
      allTypeUrl: baseUrl,
      userEnabled: (localStorage.getItem('userEnabled') || 0),
    });

    // ===== 从 API 加载资料手册列表（articleType=资料手册）=====
    async function loadBrochures() {
      try {
        var q = new URLSearchParams();
        q.set('type', 'publication');
        q.set('category', 'pharma');
        q.set('articleType', '资料手册');
        q.set('page', data.cur_page);
        q.set('limit', data.page_size);
        q.set('isPublished', 'true');
        if (w) q.set('keyword', w);
        if (tagId && tagId != '0') q.set('tags', decodeURIComponent(tagId));
        var resp = await fetch('/api/news?' + q.toString());
        var res = await resp.json();
        if (res.code !== 0) throw new Error(res.message || '加载失败');
        var d = res.data;
        data.total_page = d.pagination.totalPages || 1;
        data.cur_page = parseInt(d.pagination.page) || 1;
        data.formData = (d.list || []).map(function (it) {
          var tagList = [];
          if (it.tags) {
            try { tagList = JSON.parse(it.tags); } catch (e) { tagList = it.tags.split(',').map(function (t) { return t.trim(); }).filter(Boolean); }
          }
          return {
            url: it.pdfUrl || '/account.html',
            title: it.title,
            tagList: tagList.length ? tagList : [],
            summary: it.summary || '',
            thumb: it.imageUrl || '/',
            lock: (it.lock === true || it.lock === 1)
          };
        });
        // 分页链接
        var tp = '', tg = '', kw = '';
        if (tagId && tagId != '0') tg = '&tagId=' + encodeURIComponent(tagId);
        if (w) kw = '&keyword=' + encodeURIComponent(w);
        if (data.cur_page > 1) data.prev_url = baseUrl + '?page=' + (data.cur_page - 1) + tp + tg + kw;
        if (data.cur_page < data.total_page) data.next_url = baseUrl + '?page=' + (data.cur_page + 1) + tp + tg + kw;
        setTimeout(function () { setTagStyle(); }, 100);
      } catch (e) {
        console.error('加载资料手册失败:', e);
        data.formData = [];
      }
    }

    // ===== 加载标签侧栏（主题分组）=====
    async function loadTags() {
      try {
        var resp = await fetch('/api/news/tags/list?type=publication&category=pharma');
        var res = await resp.json();
        if (res.code !== 0) return;
        var tags = res.data || [];
        if (!tags.length) { data.tagList = []; return; }
        var group = {
          tagName: '主题',
          nameId: 'collapse-filtre-accordion-主题_brochures',
          sharpeNameId: '#collapse-filtre-accordion-主题_brochures',
          headerNameId: 'heading-filtre-accordion-pharma_主题',
          accordionNameId: 'accordion-filtre-accordion-pharma_主题',
          dataBlockPluginId: 'facet_block:pharma_主题',
          panelDivId1: '主题_brochures',
          class: 'facet-inactive block-facet--checkbox block block-facets ',
          children: []
        };
        for (var ci = 0; ci < tags.length; ci++) {
          var tagName = tags[ci];
          var u = baseUrl + '?page=1&tagId=' + encodeURIComponent(tagName);
          if (w) u += '&keyword=' + encodeURIComponent(w);
          if (tagId && decodeURIComponent(tagId) === tagName) {
            data.curFilterTagName = tagName;
            data.activeFilterClass = 'showDiv';
          }
          group.children.push({
            ID: tagName,
            tagName: tagName,
            tagUrl: u,
            dataDrupalFacetItemId: 'tag-' + ci,
            facetItemClass: ci < 6 ? 'facet-item1' : 'facet-item1 hidden'
          });
        }
        data.tagList = [group];
      } catch (e) {
        console.error('加载标签失败:', e);
        data.tagList = [];
      }
    }

    // ===== 侧栏展开/收起辅助 =====
    function setTagStyle() {
      var blocks = document.querySelectorAll('.facets-widget-checkbox');
      blocks.forEach(function (element) {
        var childs = element.querySelectorAll('.facet-item1');
        if (childs.length > 6) {
          var bt = element.querySelector('.js-see-all');
          if (bt) bt.className = 'moreBt showDiv';
        }
      });
    }
    const seeAll = (event) => {
      const parentElement = event.currentTarget.parentElement;
      if (event.target.getAttribute('data-aria-expanded') == 'false') {
        parentElement.querySelectorAll('.hidden').forEach((element) => { element.className = 'facet-item1 aad'; });
        event.target.innerHTML = '收起';
        event.target.setAttribute('data-aria-expanded', 'true');
      } else {
        parentElement.querySelectorAll('.aad').forEach((element) => { element.className = 'facet-item1 hidden'; });
        event.target.innerHTML = '查看所有';
        event.target.setAttribute('data-aria-expanded', 'false');
      }
    }
    const goToUrl = (url) => { window.location.href = url; }
    const delParamAndGotoUrl = (paramName) => {
      if ((tagId == 0) || (tagId == null)) data.activeFilterClass = 'hidden';
      window.location.href = delUrlParam(window.location.href, paramName);
    }
    const clearFilters = () => {
      data.activeFilterClass = 'hidden';
      data.curFilterTagName = '';
      data.curFilterGoodsName = '';
      window.location.href = baseUrl;
    }

    // ===== 初始化 =====
    loadTags().then(function () { loadBrochures(); });

    const app = createApp({
      setup() {
        return { data, seeAll, goToUrl, delParamAndGotoUrl, clearFilters };
      }
    });
    app.mount('#app');
    if (w) {
      setTimeout(function () { var el = document.getElementById('edit-keyword'); if (el) el.value = w; }, 50);
    }

    function setUrlParam(url, paramName, paramValue) {
      paramName = paramName.replace(/[\[\]]/g, '\\$&');
      let regular = new RegExp('[?&]' + paramName + '(=([^&#]*)|&|#|$)');
      let val = regular.exec(url);
      if (val && val[2]) {
        url = url.replace(new RegExp(paramName + '=' + val[2]), `${paramName}=${paramValue}`);
      } else {
        if (url.indexOf('?') < 0) { url += `?${paramName}=${paramValue}`; }
        else { url += `&${paramName}=${paramValue}`; }
      }
      return url;
    }
    function delUrlParam(url, paramName) {
      paramName = paramName.replace(/[\[\]]/g, '\\$&');
      let regular = new RegExp('[?&]' + paramName + '(=([^&#]*)|&|#|$)');
      let val = regular.exec(url);
      if (val && val[2]) url = url.replace(new RegExp('[?&]' + paramName + '=' + val[2]), ``);
      if (url.indexOf('?') < 0) url = url.replace(/&/, '?');
      return url;
    }
    function checkLoginStatus() {
      return localStorage.getItem('isLoggedIn') === 'true';
    }

  </script>

  <script src="/sites/default/files/js/js_N81plmNQLshwK5FABanM0cbfGmnGryAOF7WftT2a97I.js"></script>
  <script src="/sites/default/files/js/js_s6aNHaNyXsaLLFMbA3H-L-jz0lJviaanDGet7HBKEvU.js"></script>
  <script src="/themes/custom/gattefosse/js/libraries/tarteaucitron/tarteaucitron.js?1713334855"></script>
  <script src="/sites/default/files/js/js_or7ZkhBuzQj_C7EQ0nHLMvzBXUItQ_FBFWDXyld4Rhs.js"></script>
  <script src="/sites/default/files/js/js_AsFN_PDemuJPi8YsqMddZfzqg75AcV2Zraq0ggdFCyQ.js"></script>
  <script defer src="https://umami.onlystyle.com.cn/script.js"
    data-website-id="8dfca0a5-98e6-4037-b4ed-c6db16dd7ccf"></script>
    <style>
      .dialog {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        background-color: rgba(248, 244, 244, 1);
        min-width: 400px;
      }
  
      .dialog-content {
        text-align: center;
      }
  
      .dialog-content a {
        color: #8eb73c;
        font-style: bold;
      }
  
      #dialog-close {
        margin-top: 100px;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
      }
  
  
      .moreBt {
        display: none;
        margin: 0.8rem 0 0 2.4rem;
        font-size: 1.4rem;
        color: var(--accent-color);
        text-decoration: underline;
        line-height: 1.2;
        border: 0;
        background: none;
        padding: 0;
      }
  
      .showDiv {
        display: block
      }
  
      .hidden {
        display: none
      }
  
      .facet-item1 {
        font-family: "Din Next Lt Pro Regular", sans-serif;
        font-size: 1.6rem;
        color: #58616B;
      }
    </style>
</body>

</html>