<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="https://www.gattefosse.com/pharmaceuticals/learn-more/hot-topics.html" />
  <meta name="google-site-verification"
    content="google-site-verification=Y6WviYcf7W8KotrHzlWpb5b-OAAhVvid6uNBCzp_BeQ" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="alternate" hreflang="x-default" href="https://www.gattefosse.com/pharmaceuticals/learn-more/hot-topics.html" />
  <link rel="alternate" hreflang="en" href="https://www.gattefosse.com/pharmaceuticals/learn-more/hot-topics.html" />
  <link rel="alternate" hreflang="fr" href="https://www.gattefosse.com/fr/pharmaceuticals/learn-more/hot-topics.html" />
  <link rel="icon" href="/themes/custom/gattefosse/favicon.ico" type="image/vnd.microsoft.icon" />
  <script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      "Pagetype": "page",
      "LEVEL1": "Pharmaceuticals",
      "LEVEL2": "Learn more",
      "LEVEL3": "News and hot topics",
      "Pays": "en",
      "Thematique": "",
      "Connexion": "Non"
    });
  </script>
  <title>新闻和热点 | 嘉法狮</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/themes/custom/gattefosse/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/themes/custom/gattefosse/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/themes/custom/gattefosse/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/themes/custom/gattefosse/images/favicons/site.webmanifest">
  <link rel="mask-icon" href="/themes/custom/gattefosse/images/favicons/safari-pinned-tab.svg" color="#8eb73c">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_83IgK5qSyQ2WQkmA4TkQRTkFz3jcESwHWiU_M3oYQ7Q.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_UNWZAvJR_UXv2Sq6NFSjgMAclzwo_we9g7Y8Kyl7oro.css" />
  <link rel="stylesheet" media="all" href="/sites/default/files/css/menu_icons_1713165946.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_pPfrrsOwLXxDLw7-UYKDqFONEmjyh_dCi89ZBWzLKGc.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_Dwr1bX48YmNECzBBt7nwDptwptEaW3gdWtZuB5hvXVM.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_XQDl2didkH3hS4vpdKEYK2CLe0-WNSbnpUgzCUfOXjU.css" />
  <script type="text/javascript" src="/static/js/vue.global.prod.js"></script>
  <script src="/static/js/axios.min.js"></script>
  <script src="/static/js/jquery-3.7.1.min.js"></script>
</head>
<body class="path-pharmaceuticals    bg- d-flex flex-column">
  <nav role="navigation" aria-label="Accès rapide au contenu">
    <a href="#main-content" class="visually-hidden focusable skip__link">
      <span class="skip__link__text">Saut au contenu</span>
    </a>
  </nav>
  <div class="dialog-off-canvas-main-canvas d-flex flex-column h-100" data-off-canvas-main-canvas>
    <header role="banner" class="header" id="header"></header>
    <div class="region region-highlight">
      <div data-drupal-messages-fallback class="hidden"></div>
    </div>
    <main role="main" class="main theme-pharma" data-bs-spy="scroll">
      <nav role="navigation" class="quick-access">
        <button class="quick-access__button quick-access__button--open js-open">
          <i class="o-icon --list" aria-hidden="true"></i>
          <strong>快捷链接</strong>
        </button>
        <div class="quick-access__menu">
          <button class="quick-access__button quick-access__button--close js-close">
            <i class="o-icon --cross" aria-hidden="true"></i>
            关闭
          </button>
          <div id="quickLinks"></div>
        </div>
      </nav>
      <div class="page-content">
        <div class="region region-breadcrumb">
          <div id="block-gattefosse-breadcrumbs" data-block-plugin-id="system_breadcrumb_block"
            class="block block-system block-system-breadcrumb-block">
            <nav aria-label="breadcrumb">
              <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">首页</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/pharmaceuticals.html">药用辅料</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/pharmaceuticals/learn-more.html">了解更多</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/pharmaceuticals/learn-more/hot-topics.html">热点话题</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <a id="main-content" tabindex="-1"></a>
        <div class="region region-content" id="app">
          <div id="block-gattefosse-content" data-block-plugin-id="system_main_block"
            class="block block-system block-system-main-block">
            <div class="views-element-container">
              <section
                class="view view-hot-topics-pharmaceuticals view-id-hot_topics_pharmaceuticals view-display-id-list js-view-dom-id-f7796f8f3e44f163f9b6e9441e0f9f0ecd185f4a9ef980b1ab2d55bef4c6cec2 s-page has-aside s-page--filter">
                <div class="s-page__header">
                  <div class="container">
                    <h1 class="s-page__title u-title-styled">
                      热点话题
                    </h1>
                    <div class="view-filters">
                      <form class="views-exposed-form bef-exposed-form"
                        data-drupal-selector="views-exposed-form-hot-topics-pharmaceuticals-list"
                        action="/pharmaceuticals/learn-more/hot-topics.html" method="get"
                        id="views-exposed-form-hot-topics-pharmaceuticals-list" accept-charset="UTF-8">
                        <div class="modal--search__form s-page__header-search">
                          <div class="form-item">
                            <div
                              class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-keyword form-item-keyword">
                              <label for="edit-keyword">关键词</label>
                              <input placeholder="您要找的是?" data-drupal-selector="edit-keyword" type="text"
                                id="edit-keyword" name="keyword" value="" size="30" maxlength="128"
                                class="form-text form-control" />
                            </div>
                            <button type="submit" id="edit-submit-hot-topics-pharmaceuticals"
                              class="js-form-submit form-submit btn"
                              data-drupal-selector="edit-submit-hot-topics-pharmaceuticals">
                              <i class="o-icon --magnifying-glass" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="s-page__wrapper">
                  <aside class="s-page__aside s-page__aside--l" aria-label="filters" role="complementary">
                    <button type="button" class="c-filter__mobile-btn btn btn-primary js-filter-btn-mobile">
                      <span class="c-filter__txt-open">筛选搜索</span>
                      <span class="c-filter__txt-close">关闭过滤</span>
                      <i class="o-icon --caret-circle-down" aria-hidden="true"></i>
                    </button>
                    <div class="c-filter e-form js-filter">
                      <button type="button" class="js-filter-btn-close c-filter__close-btn"><i class="o-icon --cross"
                          aria-hidden="true"></i>关闭</button>
                      <div class="c-filter__header">
                        <h2 class="c-filter__main-title">过滤条件</h2>
                        <button type="reset" target="/pharmaceuticals/learn-more/hot-topics.html"
                          class="c-filter__reset-btn btn btn-outline-secondary">取消过滤
                          <i class="o-icon --reset" aria-hidden="true"></i>
                        </button>
                      </div>
                      <div data-drupal-facets-summary-id="formulations_personal_care_active_filters"
                        data-block-plugin-id="facets_summary_block:formulations_personal_care_active_filters"
                        class="block block-facets-summary block-facets-summary-blockformulations-pharmaceuticals-active-filters" :class="data.activeFilterClass">
                        <h3 class="c-filter__subtitle">当前过滤项 :</h3>
                        <ul class="o-tag-list o-tag-list--wrap">
                          <li class="facet-summary-item--facet o-tag-list__item"
                            v-if="data.tagId != null && data.tagId != 0">
                            {{data.curFilterTagName}}
                            <a @click="delParamAndGotoUrl('tagId')"
                              class="c-filter__delete">
                              <span class="visually-hidden">移除过滤</span>
                            </a>
                          </li>
                          <li class="facet-summary-item--facet o-tag-list__item"
                            v-if="data.articleTypeId != null && data.articleTypeId != 0">
                            {{data.curFilterTypeName}}
                            <a @click="delParamAndGotoUrl('articleType')"
                              class="c-filter__delete">
                              <span class="visually-hidden">移除过滤</span>
                            </a>
                          </li>
                        </ul>
                      </div>                   
                      <div v-if="data.articleTypeList != null && data.articleTypeList.length > 0"
                        class="facet-inactive block-facet--links block block-facets block-facet-blockpharmaceuticals-theme"
                        data-block-plugin-id="facet_block:personal_care_theme">
                        <div class="facets-widget-links">
                          <ul data-drupal-facet-id="personal_care_theme" data-drupal-facet-alias="theme"
                            class="facet-inactive js-facets-links facet-list item-list__links">
                            <li class="facet-item facets-reset">
                              <a class="btn btn-outline-secondary is-active" v-if="data.articleType == null" 
                              :href="data.allTypeUrl">所有类型{{data.articleType}}</a>
                            <a class="btn btn-outline-secondary" v-if="data.articleType > 0 " 
                                :href="data.allTypeUrl">所有类型</a>
                          </li>
                          <li v-for="item in data.articleTypeList" >
                            <a class="btn btn-outline-secondary is-active"  v-if="item.ID == data.articleType" 
                              :href="item.url">{{item.typeName}}</a>
                              <a class="btn btn-outline-secondary"  v-else 
                                :href="item.url">{{item.typeName}}</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div v-for="item in data.tagList" :class="item.class"
                        :data-block-plugin-id="item.dataBlockPluginId"
                        class="facet-inactive block-facet--checkbox block block-facets ">
                        <div class="accordion facets-widget-checkbox">
                          <div class="accordion-item panel-group" :id="item.accordionNameId"
                            aria-multiselectable="true">
                            <h3 role="tab" :id="item.headerNameId">
                              <button type="button" aria-expanded="true" class="panel-title accordion-button"
                                data-bs-toggle="collapse" :data-bs-target="item.sharpeNameId"
                                id="nav-filtre-accordion">{{item.tagName}}</button>
                            </h3>
                            <div :id="item.nameId" class="panel-collapse collapse show"
                              :aria-labelledby="item.headerNameId">
                              <div class="panel-body accordion-body">
                                <ul :data-drupal-facet-id="item.panelDivId1" :data-drupal-facet-alias="item.tagName"
                                  class="facet-inactive js-facets-checkbox-links facet-list item-list__checkbox">
                                  <li v-for="item2 in item.children" :class="item2.facetItemClass">
                                    <input type="checkbox" v-if="data.tagId == item2.ID" checked="checked"
                                      class="facets-checkbox" :id="item2.dataDrupalFacetItemId">
                                    <input type="checkbox" v-else class="facets-checkbox" @click="goToUrl(item2.tagUrl)"
                                      :id="item2.dataDrupalFacetItemId"><a :href="item2.tagUrl" rel="nofollow"
                                      :data-drupal-facet-item1-id="item2.dataDrupalFacetItemId"
                                      :data-drupal-facet-item1-value="item2.ID" data-drupal-facet-item1-count="17"><span
                                        class="facet-item__value">{{item2.tagName}}</span>
                                    </a>
                                  </li>
                                </ul>
                                <button class="link-more js-see-all" data-show="查看所有" @click="seeAll($event)"
                                  data-hide="收起" data-aria-expanded="false">查看所有</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="facet-inactive hidden block-facet--checkbox block block-facets block-facet-blockpharmaceuticals-subject"
                        data-block-plugin-id="facet_block:pharmaceuticals_subject">
                        <div data-drupal-facet-id="pharmaceuticals_subject" class="facet-empty facet-hidden">
                          <div class="accordion facets-widget-checkbox"> </div>
                        </div>
                      </div>
                    </div>
                  </aside>
                  <div class="s-page__content">
                    <div class="c-cards c-cards--vertical">
                      <div v-for='item in data.formData' class="c-card c-card--horizontal theme-pharma ">
                        <a href="/account.html?url=/pharmaceuticals/learn-more/hot-topics.html"
                          class="c-card__private-btn">
                          <span class="c-card__private-icon" aria-hidden="true"></span>
                        </a>
                        <div class="c-card__content">
                          <h3 class="c-card__title">
                            <a class="c-card__title-link" :href="item.url">{{item.title}}</a>
                          </h3>
                          <ul class="c-card__breadcrumb">                            
                            <li v-for="item2 in item.tagList" class="category">{{item2}}</li>
                          </ul>
                          <p class="c-card__info">
                          </p>
                          <p class="c-card__summary u-truncate">{{item.summary}}</p>
                          <ul class="c-card__tag">
                          </ul>
                        </div>
                        <div class="c-card__image" v-if="item.thumb != '/'">
                          <img :src="item.thumb" style="width:369px;height:208px" alt="" width="369" height="208"
                            class="card__image img-fluid" loading="lazy">
                        </div>
                      </div>
                    </div>
                    <nav class="pager" role="navigation" aria-labelledby="pagination-heading" v-if="data.total_page > 1">
                      <h4 id="pagination-heading" class="pager__heading visually-hidden">页码</h4>
                      <ul class="pager__items js-pager__items">
                        <li class="pager__item pager__item--previous">
                          <a :href="data.prev_url" title="Go to previous page" rel="prev">
                            <span class="visually-hidden">上一页</span>
                            <i class="o-icon --caret-right" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="pager__item is-active">
                          {{data.cur_page}}<sub>/{{data.total_page}}</sub>
                        </li>
                        <li class="pager__item pager__item--next">
                          <a :href="data.next_url" title="Go to next page" rel="next">
                            <span class="visually-hidden">下一页</span>
                            <i class="o-icon --caret-right" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <a href="#main-content" id="js_back-to-top" title="Revenir en haut de la page"
        class="c-back-to-top smoothHide d-none"></a>
    </main>
    <footer role="contentinfo" class="footer" id="footer"> </footer>
    <div class="modal modal--search" id="search-modal" tabindex="-1" aria-label="Search form" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button role="button" aria-label="Close" class="btn btn-icon--l o-btn-close" data-bs-dismiss="modal">
            <i class="o-icon --cross" aria-hidden="true"></i>
            <span>关闭</span>
          </button>
          <form action="/search.html" method="GET" class="modal--search__form">
            <h2 class="modal-title">
              您在找寻什么?
            </h2>
            <div class="form-item">
              <label class="visually-hidden" for="key">请输入关键词......</label>
              <input class="form-text form-control" placeholder="请输入关键词......" type="text" id="key" name="keyword"
                value="">
              <button type="submit" class="js-form-submit form-submit btn">
                <i class="o-icon --magnifying-glass" aria-hidden="true"></i>
              </button>
            </div>
            <a href="search.html" class="u-link">高级搜索</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade modal--affiliates" id="affiliates-modal" tabindex="-1" aria-label="Gattefossé in the world"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" id="worldList">
  </div>
</div>
  <script>
    
    $(document).ready(function () {
      $("#header").load("/header.html", function(){
        let tmp = checkLoginStatus();
        if (!tmp) {
          $("#collapseAccMenu").load("/account-menu.html");
        } else {
          $("#collapseAccMenu").load("/account-menu-after-login.html");
        }
      });
      $("#footer").load("/footer.html");
      $("#quickLinks").load("/quickLinks.html");
      $("#worldList").load("/world.html");
    });
  </script>
  <script setup>
    const params = new URLSearchParams(window.location.search);
    const tokenStr = params.get('_token');
    const goodsCategoryId = 117; //params.get('i'); // "关联产品分类ID"
    var w = params.get('keyword'); //搜索关键词
    var atype = params.get('type'); //0所有，1新闻，2活动
    var curPage = params.get('page');
    var desc = params.get('order');
    var tagId = params.get('tagId');
    var articleType = params.get('articleType');
    var goodsId = params.get('goodsId');
    var curUrl = window.location.href;
    var hasParam = curUrl.indexOf('?');
    var hasTypeParam = curUrl.indexOf('i=');
    var isLogin = checkLoginStatus();
    let userEnabled = localStorage.getItem("userEnabled");
    var total = 0, count_0 = 0, count_1 = 0, count_2 = 0;
    const { createApp, reactive, getCurrentInstance, ref, router, nextTick } = Vue;
    const app = createApp({
      data() {
        return { formData: [] }
      },
      setup() {
        let randomNum = Math.floor(Math.random() * 100);
        const data = reactive({
          name: "aa",
          formData: [],
          total: 0,
          count_0: 0,
          count_1: 0,
          count_2: 0,
          cur_page: curPage == null ? 1 : curPage,
          page_size: 10,
          total_page: 1,
          prev_url: '',
          next_url: '',
          keyword: w,
          type: atype,
          goodsCategoryId: goodsCategoryId,
          hasParam: hasParam,
          hasTypeParam: hasTypeParam,
          randomNum: randomNum,
          isLogin: isLogin,
          tagId: tagId,
          goodsId: goodsId,
          curFilterTagName: '',
          curFilterGoodsName: '',
          activeFilterClass: 'hidden',
          userEnabled: userEnabled,
          articleTypeId: articleType,
          curFilterTypeName: ''
        });
        const getTagList = () => {
          var api = "/api/webArticlesTag/getWebArticlesTagList";
          var personalCareId = 1;
          var phamId = 117;
          api += "?goodsCategoryId=" + phamId;
          console.log("API call disabled");            
            for (var i = 0; i < data.tagList.length; i++) {
              data.tagList[i].url = setUrlParam(curUrl, "tagId", data.tagList[i].ID);
              let tmp = String(data.tagList[i].tagName);
              let tmp_ = tmp.replace(" ", "_");
              data.tagList[i].nameId = "collapse-filtre-accordion-" + data.tagList[i].tagName + "_" + data.tagList[i].ID;
              data.tagList[i].sharpeNameId = "#" + data.tagList[i].nameId;
              data.tagList[i].headerNameId = "heading-filtre-accordion-pharmaceuticals_" + tmp_;
              data.tagList[i].accordionNameId = "accordion-filtre-accordion-pharmaceuticals_" + tmp_;
              data.tagList[i].dataBlockPluginId = "facet_block:pharmaceuticals_" + tmp_;
              data.tagList[i].panelDivId1 = tmp_ + "_" + data.tagList[i].ID;
              for (var j = 0; j < data.tagList[i].children.length; j++) {
                // data.tagList[i].children[j].tagUrl = "?f%5B" + i + "%5D=" + data.tagList[i].tagNameEn + "%3A" + data.tagList[i].children[j].ID;
                data.tagList[i].children[j].tagUrl = setUrlParam(curUrl, "tagId", data.tagList[i].children[j].ID);
                data.tagList[i].children[j].tagUrl = setUrlParam(data.tagList[i].children[j].tagUrl, "page", 1);
                data.tagList[i].children[j].dataDrupalFacetItemId = "market-" + data.tagList[i].children[j].ID;
                data.tagList[i].children[j].facetItemClass = j < 6 ? "facet-item1" : "facet-item1 hidden";
                if (tagId > 0 && data.tagList[i].children[j].ID == tagId) {
                  data.activeFilterClass = "showDiv"
                  data.curFilterTagName = data.tagList[i].children[j].tagName
                }
              }
            }
            /*for (var i = 0; i < data.tagList.length; i++) {
              data.tagList[i].url = setUrlParam(curUrl, "tagId", data.tagList[i].ID);
              let tmp = String(data.tagList[i].tagName);
              let tmp_ = tmp.replace(" ", "_");
              data.tagList[i].nameId = "collapse-filtre-accordion-" + data.tagList[i].tagName + "_" + data.tagList[i].ID;
              data.tagList[i].sharpeNameId = "#" + data.tagList[i].nameId;
              data.tagList[i].headerNameId = "heading-filtre-accordion-brochures_pharmaceuticals_" + tmp_;
              data.tagList[i].accordionNameId = "accordion-filtre-accordion-brochures_pharmaceuticals_" + tmp_;
              data.tagList[i].dataBlockPluginId = "facet_block:brochures_pharmaceuticals_" + tmp_;
              data.tagList[i].panelDivId1 = tmp_ + "_" + data.tagList[i].ID;
              for (var j = 0; j < data.tagList[i].children.length; j++) {
                // data.tagList[i].children[j].tagUrl = "?f%5B" + i + "%5D=" + data.tagList[i].tagNameEn + "%3A" + data.tagList[i].children[j].ID;
                data.tagList[i].children[j].tagUrl = setUrlParam(curUrl, "tagId", data.tagList[i].children[j].ID);
                data.tagList[i].children[j].tagUrl = setUrlParam(data.tagList[i].children[j].tagUrl, "page", 1);
                data.tagList[i].children[j].dataDrupalFacetItemId = "market-" + data.tagList[i].children[j].ID;
                if (tagId > 0 && data.tagList[i].children[j].ID == tagId) {
                  data.activeFilterClass = "showDiv"
                  data.curFilterTagName = data.tagList[i].children[j].tagName
                }
              }
            }*/
            nextTick(() => {
              getWebArticlesTypeList();
            });
          }).catch((err, res) => {
            console.log(err)
          })
        }
        getTagList();
        const seeAll = (event) => {
          const parentElement = event.currentTarget.parentElement;
          if (event.target.getAttribute('data-aria-expanded') == 'false') {
            const childlist = parentElement.querySelectorAll('.hidden');
            childlist.forEach((element) => {
              element.className = "facet-item1 aad"
            })
            event.target.innerHTML = "收起"
            event.target.setAttribute('data-aria-expanded', 'true')
          } else {
            const childlist = parentElement.querySelectorAll('.aad');
            childlist.forEach((element) => {
              element.className = "facet-item1 hidden"
            })
            event.target.innerHTML = "查看所有"
            event.target.setAttribute('data-aria-expanded', 'false')
          }
        }
        const setTagStyle = () => {
          const parentElement = document.querySelectorAll('.facets-widget-checkbox');
          parentElement.forEach((element) => {
            const childElements = element.querySelectorAll('.facet-item1');
            if (childElements.length > 6) {
              const seeAllBt = element.querySelector('.js-see-all');
              seeAllBt.className = "moreBt showDiv";
            }
            childElements.forEach((child) => {
              // console.log(child.textContent); // 输出子元素的内容
            });
          });
        }
        const goToUrl = (url) => {
          window.location.href = url;
        }
        const delParamAndGotoUrl = (paramName) => {
          console.log(paramName)
          if ((tagId == 0 && goodsId == 0) || (tagId == null && goodsId == null)) {
            data.activeFilterClass = "hidden";
          }
          var url = delUrlParam(curUrl, paramName);
          window.location.href = url;
        }
        // 文章类型列表
        const getWebArticlesTypeList = () => {
          var api = "/api/webArticlesType/getWebArticlesTypeList";
          api += "?pageSize=10000";
          api += "&page=1";
          api += "&goodsCategoryId=117";
          if (data.selectedTypeValue == "") {
            data.articleTypeList = []
            return
          }
          console.log("API call disabled");
            for (var i = 0; i < data.articleTypeList.length; i++) {
              data.articleTypeList[i].url = setUrlParam(curUrl, "articleType", data.articleTypeList[i].ID);
              data.articleTypeList[i].url = setUrlParam(data.articleTypeList[i].url, "page", 1);
              data.articleTypeList[i].num = 0;
              if (articleType > 0 && data.articleTypeList[i].ID == articleType) {
                data.activeFilterClass = "showDiv"
                data.curFilterTypeName = data.articleTypeList[i].typeName;
              }
            }
            nextTick(() => {
              setTagStyle();
              getTableData()
            });
          }).catch((err, res) => {
            console.log(err)
          })
        }
        // 查询
        const getTableData = () => {
          var api = "/api/webArticles/getWebArticlesList?catId=30";
          api += "&pageSize=" + data.page_size;
          api += "&page=" + data.cur_page;
          if (tagId != null && tagId != "" && tagId != 0) {
            api += "&tag=" + tagId;
          }
          if (goodsCategoryId != null && goodsCategoryId != "") {
            api += "&goodsCategoryId=" + goodsCategoryId;
          }
          if (articleType != null && articleType != "") {
            api += "&typeType=" + articleType;
          }
          if (desc != null && desc != "") {
            api += "&orderKey=sort";
            if (desc == "DESC") {
              api += "&desc=" + true;
            } else {
              api += "&desc=" + false;
            }
          }
          if (w != null && w != "") {
            api += "&title=" + w;
          }
          if (atype != 0 && atype != null) {
            api += "&type=" + atype
          }
          var personalCareId = 1;
          var phamId = 117;
          //2.使用axios 进行get请求
          console.log("API call disabled");
            //请求成功的回调函数
            data.formData = res.data.data.list;
            // let catList = res.data.data.catList
            let goodsCatList = res.data.data.goodsCatList
            // 分页
            data.total_page = Math.ceil(data.total / data.page_size);
            data.cur_page = res.data.data.page;
            if (data.cur_page < data.total_page) {
              data.next_url = setUrlParam(curUrl, 'page', data.cur_page + 1);
            } else {
              data.next_url = null
            }
            if (data.cur_page > 1) {
              data.prev_url = setUrlParam(curUrl, 'page', data.cur_page - 1);
            } else {
              data.prev_url = null
            }
            for (var i = 0; i < data.formData.length; i++) {
              data.formData[i].url = "/pharmaceuticals-article-detail.html?id=" + data.formData[i].ID;
              console.log(data.formData[i].url)
              if (data.formData[i].thumb.substring(1) != "/") {
                data.formData[i].thumb = "/" + data.formData[i].thumb;
              }
              data.formData[i].CreatedAt = data.formData[i].CreatedAt.substring(0, 10);
              if (data.formData[i].eventTime != null) {
                data.formData[i].eventTimeYear = data.formData[i].eventTime.substring(0, 4);
                data.formData[i].eventTimeDate = data.formData[i].eventTime.substring(5, 10).replace('-', '月');
              }
              if (data.formData[i].eventEndTime != null) {
                data.formData[i].eventEndTimeDate = data.formData[i].eventEndTime.substring(5, 10).replace('-', '月');
              }
              if (data.formData[i].eventAddress != '') { // 活动
                data.formData[i].class = "c-card c-card--horizontal" + " c-card--bordered c-card--event";
              } else { // 资讯
                data.formData[i].class = "c-card c-card--horizontal";
              }
              let tmp = data.formData[i];
              /*for (var k = 0; k < catList.length; k++) {
                if (catList[k].ID == tmp.catId) {
                  data.formData[i].catName = catList[k].catName
                }
              }*/
              if (tmp.goodsCategoryId == 0) {
                data.formData[i].goodsCatName = '公司资讯'
              } else {
              }
              for (var j = 0; j < data.articleTypeList.length; j++) {
                if (data.formData[i].typeType == data.articleTypeList[j].ID) {
                  data.formData[i].typeName = data.articleTypeList[j].typeName;
                  break;
                }
              }
              data.formData[i].tagList = []
              var jsonArray = JSON.parse(data.formData[i].tag);
              for (var m = 0; m < jsonArray.length; m++) {
                for (var k = 0; k < data.tagList.length; k++) {
                  if (jsonArray[m][0] == data.tagList[k].ID) {
                    for (var j = 0; j < data.tagList[k].children.length; j++) {                      
                      if (jsonArray[m][1] == data.tagList[k].children[j].ID) {
                        data.formData[i].tagList.push(data.tagList[k].children[j].tagName);
                      }
                    }
                  }
                }
              }
              /*for (var k = 0; k < goodsCatList.length; k++) {
                if (goodsCatList[k].ID == tmp.goodsCategoryId) {
                  data.formData[i].goodsCatName = goodsCatList[k].categoryName
                  tmp.parentGoodscatId = tmp.goodsCategoryId;
                }
                if (goodsCatList[k].children != null) {
                  for (var j = 0; j < goodsCatList[k].children.length; j++) {
                    if (goodsCatList[k].children[j].ID == tmp.goodsCategoryId) {
                      data.formData[i].goodsCatName = goodsCatList[k].categoryName
                      tmp.parentGoodscatId = goodsCatList[k].ID;
                    }
                  }
                }
                if (tmp.parentGoodscatId == personalCareId) {
                  if (data.formData[i].class.indexOf("theme") < 0) {
                    data.formData[i].class += " theme-cosm"; // 个人护理
                  }
                }
                if (tmp.parentGoodscatId == phamId) {
                  if (data.formData[i].class.indexOf("theme") < 0) {
                    data.formData[i].class += " theme-pharma"; //药用辅料
                  }
                }
              }*/
            }
          }).catch((err, res) => {
            console.log(err)
          })
        }
        const loading = ref(false);
        data.allTypeUrl = delUrlParam(curUrl, "articleType");
        data.articleType = articleType;
        return {
          data,
          seeAll,
          goToUrl,
          delParamAndGotoUrl
        };
      },
    });
    let result = app.mount("#app");
    if (w != null && w !== '') {
      $('#edit-keyword').val(w);
    }
    function setUrlParam(url, paramName, paramValue) {
      paramName = paramName.replace(/[\[\]]/g, '\\$&');
      let regular = new RegExp('[?&]' + paramName + '(=([^&#]*)|&|#|$)');
      let val = regular.exec(url);
      if (val && val[2]) {
        url = url.replace(new RegExp(paramName + '=' + val[2]), `${paramName}=${paramValue}`);
      } else {
        if (url.indexOf('?') < 0) {
          url += `?${paramName}=${paramValue}`;
        } else {
          url += `&${paramName}=${paramValue}`;
        }
      }
      return url;
    }
    function delUrlParam(url, paramName) {
      paramName = paramName.replace(/[\[\]]/g, '\\$&');
      let regular = new RegExp('[?&]' + paramName + '(=([^&#]*)|&|#|$)');
      let val = regular.exec(url);
      if (val && val[2]) {
        url = url.replace(new RegExp('[?&]' + paramName + '=' + val[2]), ``);
      }
      if (url.indexOf('?') < 0) {
        url = url.replace(/&/, '?');
      }
      return url;
    }

    function checkLoginStatus() {
      if (localStorage.getItem('isLoggedIn') === 'true') {
        return true;
        // 执行进入首页的逻辑
      } else {
        // 执行未登录的逻辑，比如跳转到登录页面
        return false;
      }
    }
  </script>  
<script defer src="https://umami.onlystyle.com.cn/script.js" data-website-id="8dfca0a5-98e6-4037-b4ed-c6db16dd7ccf"></script>   
<script src="/sites/default/files/js/js_i5lI8vq7DHLJcOEWGS5A-g6sfOp4mcnqdPWwI1EB-28.js"></script>
<script src="/sites/default/files/js/js_cIUKHmKr1kWXi06l4jrQ8vSQ793pffiw2dzBkQNlquo.js"></script>
<script src="/themes/custom/gattefosse/js/libraries/tarteaucitron/tarteaucitron.js?1713334096"></script>
<script src="/sites/default/files/js/js_HjijG7-o7JXaM0iPkTo4h98Ws0CAvM9MsofLwYnRqtc.js"></script>
<script src="/sites/default/files/js/js_W8q5R4oIsmRhsRjsbPGB5rAGV5-VpUYHfAmsY7Pxc74.js"></script>
<style>
  .dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgba(248, 244, 244, 1);
    min-width: 400px;
  }

  .dialog-content {
    text-align: center;
  }

  .dialog-content a {
    color: #8eb73c;
    font-style: bold;
  }

  #dialog-close {
    margin-top: 100px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }


  .moreBt {
    display: none;
    margin: 0.8rem 0 0 2.4rem;
    font-size: 1.4rem;
    color: var(--accent-color);
    text-decoration: underline;
    line-height: 1.2;
    border: 0;
    background: none;
    padding: 0;
  }

  .showDiv {
    display: block
  }

  .hidden {
    display: none
  }

  .facet-item1 {
    font-family: "Din Next Lt Pro Regular", sans-serif;
    font-size: 1.6rem;
    color: #58616B;
  }
</style>
</body>
</html>