<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="robots" content="index, follow" />
  <meta http-equiv="content-language" content="en" />
  <meta property="og:site_name" content="Gattefossé" />
  <meta property="og:type" content="page" />
  <meta property="og:updated_time" content="2023-09-26T21:06:33+0200" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="google-site-verification"
    content="google-site-verification=Y6WviYcf7W8KotrHzlWpb5b-OAAhVvid6uNBCzp_BeQ" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/themes/custom/gattefosse/favicon.ico" type="image/vnd.microsoft.icon" />
  <script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      "Pagetype": "products_pharmaceuticals",
      "LEVEL1": "Pharmaceuticals",
      "LEVEL2": "Product finder",
      "LEVEL3": "Gelucire® 59\/14",
      "Pays": "en",
      "Thematique": "",
      "Connexion": "Oui"
    });
  </script>
  <script type="text/javascript" src="/static/js/vue.global.prod.js"></script>
  <script src="/static/js/axios.min.js"></script>
  <title>Gattefossé</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/themes/custom/gattefosse/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/themes/custom/gattefosse/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/themes/custom/gattefosse/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/themes/custom/gattefosse/images/favicons/site.webmanifest">
  <link rel="mask-icon" href="/themes/custom/gattefosse/images/favicons/safari-pinned-tab.svg" color="#8eb73c">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_1DVUkvXE9JpoQ1xLdVdzs-hgmcfdlNmPGwZO5WfAX5c.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_hx-izN24pfJl4Ip2Kx7sPVQzqooEE63N9jGUuXDePTE.css" />
  <link rel="stylesheet" media="all" href="/sites/default/files/css/menu_icons_1712750673.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_zCDCU-o2LKXngtpj6DBjU0-DPPFPfqZNHXrxn4tmXuY.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_WXsVlvolEM36iHFvMW3UgPgsEh7mPKjCJ_ucwbLENX8.css" />
  <link rel="stylesheet" media="all"
    href="/sites/default/files/css/css_EmY_sxerr-TNvoyioQly5tba1LJdvC1mnkhyeygX5Gg.css" />
  <script src="/static/js/jquery-3.7.1.min.js"></script>  
</head>
<body class="user-logged-in path-node page-node-type-products-pharmaceuticals    bg- d-flex flex-column">
  <nav role="navigation" aria-label="Accès rapide au contenu">
    <a href="#main-content" class="visually-hidden focusable skip__link">
      <span class="skip__link__text">Saut au contenu</span>
    </a>
  </nav>
  <div class="dialog-off-canvas-main-canvas d-flex flex-column h-100" data-off-canvas-main-canvas>
    <header role="banner" class="header" id="header"></header>
    <div class="region region-highlight">
      <div data-drupal-messages-fallback class="hidden"></div><span
        data-big-pipe-placeholder-id="callback=Drupal%5CCore%5CRender%5CElement%5CStatusMessages%3A%3ArenderMessages&amp;args%5B0%5D&amp;token=_HAdUpwWmet0TOTe2PSiJuMntExoshbm1kh2wQzzzAA"></span>
    </div>
    <main role="main" class="main theme-pharma  " data-bs-spy="scroll" id="app"><!-- theme-pharma | theme-cosm -->
      <nav role="navigation" class="quick-access">
        <button class="quick-access__button quick-access__button--open js-open">
          <i class="o-icon --list" aria-hidden="true"></i>
          <strong>快捷链接</strong>
        </button>
        <div class="quick-access__menu">
          <button class="quick-access__button quick-access__button--close js-close">
            <i class="o-icon --cross" aria-hidden="true"></i>
            关闭
          </button>
          <div id="quickLinks"></div>
        </div>
      </nav>
      <a id="main-content" tabindex="-1"></a>
      <div class="s-product-header">
        <div class="region region-breadcrumb">
          <div id="block-gattefosse-breadcrumbs" data-block-plugin-id="system_breadcrumb_block"
            class="block block-system block-system-breadcrumb-block">
            <nav aria-label="breadcrumb">
              <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">首页</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/pharmaceuticals.html">药用辅料</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/pharmaceuticals/product-finder.html">产品目录</a>
                </li>
                <li class="breadcrumb-item">
                  <a :href="data.productDetail.url">{{data.productDetail.goodsName}}</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="s-product-header__img" :style="data.productDetail.bg">
          <button :class="data.inFav ? 's-product-header__fav js-add-remove-fav is-active' : 's-product-header__fav js-add-remove-fav'" data-id="3449" data-nid="252"
            @click="addProductFav(data.productDetail)">
            <i aria-hidden="true" class="o-icon --star" :data-fav-id="data.productDetail.ID" :data-goods-name="data.productDetail.goodsName" :data-cat-id="data.productDetail.goodsCategoryId"></i>
            <span class="visually-hidden">收藏</span>
          </button>
        </div>
        <div class="s-product-header__content">
          <h1 class="s-product-header__title">{{data.productDetail.goodsName}}</h1>
          <div class="s-product-header__btns">
            <button class="btn btn-primary btn-icon--r js-request-sample" data-uid="431" data-nid="252"
              data-type="products" data-title="Gelucire® 59/14" data-thumbnail="" data-baseline=""
              data-usp_nf="Mixture of Lauroyl Polyoxyl-32 glycerides and PEG 6000" data-inci=""
              @click="addCart(data.productDetail)" data-short_description="" :style="data.inCart ? 'display:none' :'display:flex;'">申请样品<i
                class="o-icon --envelope" aria-hidden="true"></i></button>
            <a class="btn btn-primary btn-icon--r btn-see-cart" href="/cart.html" :style="data.inCart ? 'display:block' :'display:none;'">查看购物车</a>
            <a class="s-product-header__btn-document btn btn-tertiary" href="#product-document">
              <i aria-hidden="true" class="o-icon --document"></i>访问文档和技术信息</a>
          </div>
        </div>
      </div>
      <div class="region region-content">
        <div id="block-gattefosse-content" data-block-plugin-id="system_main_block"
          class="block block-system block-system-main-block">
          <article role="article" :about="data.productDetail.url"
            class="node node--type-products-pharmaceuticals node--view-mode-full">
            <div class="s-product-description">
              <div class="s-product-description__container">
                <div class="s-product-description__main">
                  <div class="s-product-description__main-content" v-html="data.productDetail.description">
                  </div>
                </div>
              </div>
            </div>
            <div class="s-product-content">
              <div class="container">
                <div class="s-product-content__inside">
                  <div class="container" v-html="data.productDetail.mainContent">
                  </div>
                  <div class="container">
                    <div class="s-product-content__item" id="product-document">
                      <h2 class="s-product-content__title">相关资料</h2>
                      <div class="s-product-document">
                        <div class="s-product-document__type">
                          <h3 class="s-product-document__title">技术文件</h3>
                          <ul class="s-product-document__list">
                            <li class="c-link c-link--document" v-for="item in data.targetFileList1">
                              <a class="c-link__link" :href="item.url" target="_blank">
                                <div class="c-link__params">
                                  <span class="c-link__name">{{item.name}}</span>
                                </div>
                              </a>
                            </li>
                          </ul>
                          <ul class="s-product-document__list" v-for="item in data.targetFileList1Lock">
                            <li class="c-link c-link--document c-link--locked" v-if="!data.isLoginedAndEnabled">
                              <a class="c-link__link" :href="item.url" target="_blank">
                                <div class="c-link__params">
                                  <span class="c-link__name">{{item.name}}</span>
                                </div>
                              </a>
                            </li>
                            <li class="c-link c-link--document" v-if="data.isLoginedAndEnabled">
                              <a class="c-link__link" :href="item.url" target="_blank">
                                <div class="c-link__params">
                                  <span class="c-link__name">{{item.name}}</span>
                                </div>
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="s-product-document__type">
                          <h3 class="s-product-document__title">产品手册</h3>
                          <ul class="s-product-document__list">
                            <li class="c-link c-link--document" v-for="item in data.targetFileList2">
                              <a class="c-link__link" :href="item.url" target="_blank">
                                <div class="c-link__params">
                                  <span class="c-link__name">{{item.name}}</span>
                                </div>
                              </a>
                            </li>
                          </ul>
                          <ul class="s-product-document__list" v-for="item in data.targetFileList2Lock">
                            <li class="c-link c-link--document c-link--locked" v-if="!data.isLoginedAndEnabled">
                              <a class="c-link__link" :href="item.url" target="_blank">
                                <div class="c-link__params">
                                  <span class="c-link__name">{{item.name}}</span>
                                </div>
                              </a>
                            </li>
                            <li class="c-link c-link--document" v-if="data.isLoginedAndEnabled">
                              <a class="c-link__link" :href="item.url" target="_blank">
                                <div class="c-link__params">
                                  <span class="c-link__name">{{item.name}}</span>
                                </div>
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="s-product-document__type" v-if="data.targetFileList3.length > 0">
                          <h3 class="s-product-document__title">科学文献</h3>
                          <ul class="s-product-document__list">
                            <li class="c-link c-link--document" v-for="item in data.targetFileList3">
                              <a class="c-link__link" :href="item.url" target="_blank">
                                <div class="c-link__params">
                                  <span class="c-link__name">{{item.name}}</span>
                                </div>
                              </a>
                            </li>
                          </ul>
                          <ul class="s-product-document__list" v-for="item in data.targetFileList3Lock">
                            <li class="c-link c-link--document c-link--locked" v-if="!data.isLoginedAndEnabled">
                              <a class="c-link__link" :href="item.url" target="_blank">
                                <div class="c-link__params">
                                  <span class="c-link__name">{{item.name}}</span>
                                </div>
                              </a>
                            </li>
                            <li class="c-link c-link--document" v-if="data.isLoginedAndEnabled">
                              <a class="c-link__link" :href="item.url" target="_blank">
                                <div class="c-link__params">
                                  <span class="c-link__name">{{item.name}}</span>
                                </div>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="s-product-linked" v-if="data.relatedContents.length > 0">
              <div class="container">
                  <h2 class="s-product-linked__title u-title-styled">延伸内容</h2>
                  <div class="c-cards">
          
                      <div class="c-card c-card--bordered theme-pharma" v-for="item in data.relatedContents">
                          <div class="c-card__content">
                              <h3 class="c-card__title">
                                  <a class="c-card__title-link" :href="item.url">{{item.title}}</a>
                              </h3>
                              <p class="c-card__summary" v-html="item.summary"></p>
                          </div>
                      </div>          
          
                  </div>
              </div>
          </div>
          </article>
        </div>
      </div>
      <a href="#main-content" id="js_back-to-top" title="Revenir en haut de la page"
        class="c-back-to-top smoothHide d-none"></a>
    </main>
    <footer role="contentinfo" class="footer" id="footer">
    </footer>
    <div class="modal modal--search" id="search-modal" tabindex="-1" aria-label="Search form" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button role="button" aria-label="Close" class="btn btn-icon--l o-btn-close" data-bs-dismiss="modal">
            <i class="o-icon --cross" aria-hidden="true"></i>
            <span>关闭</span>
          </button>
          <form action="/search.html" method="GET" class="modal--search__form">
            <h2 class="modal-title">
              您在查找......?
            </h2>
            <div class="form-item">
              <label class="visually-hidden" for="key">请输入关键词...</label>
              <input class="form-text form-control" placeholder="请输入关键词..." type="text" id="key" name="keyword"
                value="">
              <button type="submit" class="js-form-submit form-submit btn">
                <i class="o-icon --magnifying-glass" aria-hidden="true"></i>
              </button>
            </div>
            <a href="/search.html" class="u-link">高级搜索</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade modal--affiliates" id="affiliates-modal" tabindex="-1" aria-label="Gattefossé in the world"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" id="worldList">
  </div>
</div>

<div id="dialog" class="dialog">
  <div class="dialog-content">
    <p id="dialog-message"></p>
    <button id="dialog-close" class="btn btn-primary">关闭</button>
  </div>
</div>
<style>
  .dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgba(248, 244, 244, 1); 
    min-width: 400px;
  }

  .dialog-content {
    text-align: center;
  }
  .dialog-content a {
    color:#8eb73c;
    font-style: bold;
  }

  #dialog-close {
    margin-top: 100px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
</style>
<script>
  $(document).ready(function () {
    $("#header").load("/header.html", function () {
      let tmp = checkLoginStatus();   
      if (!tmp) {
        $("#collapseAccMenu").load("/account-menu.html");
      } else {
        $("#collapseAccMenu").load("/account-menu-after-login.html");
      }
    });
    $("#footer").load("/footer.html");
    $("#quickLinks").load("/quickLinks.html");
    $("#worldList").load("/world.html");
  });
    function getCartNum() {
      var api = "/api/mallShoppingCartItem/getMallShoppingCartItemList?1=1";
      if (checkLoginStatus()) {
        $.ajax({
          url: api,
          type: "GET",  //默认值: "GET"请求方式 ("POST" 或 "GET")
          dataType: "json",   //服务器返回的类型json,xml,text,html等
          contentType: "application/json",
          headers: {
            Accept: 'application/json, text/plain, */*'
          },
          success: function (result, status, xhr) {
            $("#cartNum").html(result.data.total);
          },
          error: function (xhr, status, error) {
          }
        });
      } else {
        $("#cartNum").html(0);
      }
    }
  // 获取对话框元素和关闭按钮
  var dialog = document.getElementById('dialog');
  var dialogClose = document.getElementById('dialog-close');
  var dialogMessage = document.getElementById('dialog-message');

  // 替代alert函数
  function showDialog(message) {
    dialogMessage.innerHTML = message;
    dialog.style.display = 'block';
  }

  // 关闭对话框
  dialogClose.addEventListener('click', function () {
    dialog.style.display = 'none';
  });

</script>
  <script setup>
    const params = new URLSearchParams(window.location.search);
    const tokenStr = params.get('_token');
    const goodsCategoryId = params.get('i'); // "关联产品分类ID"
    var id = params.get('id');
    if (id == null) {
      id = 10920;
    }
    var w = params.get('keyword'); //搜索关键词
    var atype = params.get('type'); //0所有，1新闻，2活动
    var curUrl = window.location.href;
    var hasParam = curUrl.indexOf('?');
    var hasTypeParam = curUrl.indexOf('i=');
    var isLogin = checkLoginStatus();
    let userEnabled = localStorage.getItem("userEnabled");
    var total = 0, count_0 = 0, count_1 = 0, count_2 = 0;
    const { createApp, reactive, getCurrentInstance, ref, router, nextTick } = Vue;
    const app = createApp({
      data() {
        return { productDetail: null }
      },
      setup() {
        let randomNum = Math.floor(Math.random() * 100);
        const data = reactive({
          productDetail: {},inCart:false,inFav:false,
          relatedContents: [],
          targetFileList1: [],
          targetFileList1Lock: [],
          targetFileList2: [],
          targetFileList2Lock: [],
          targetFileList3: [],
          targetFileList3Lock: [],
          isLoginedAndEnabled: false,
        });
        if (localStorage.getItem('isLoggedIn') === 'true' && localStorage.getItem('userEnabled') === "1") {
          data.isLoginedAndEnabled = true;
        }
        const addProductFav = () => {         
          const clickedElement = event.target;
          const parentElement = clickedElement.parentElement;
          if (parentElement.classList.contains("is-active")) {
            return;
          }
          var id = parseInt(clickedElement.getAttribute('data-fav-id'));
          var goodsCategoryId = parseInt(clickedElement.getAttribute('data-cat-id'));
          var goodsName = clickedElement.getAttribute('data-goods-name');
          let tmp = checkLoginStatus();
          if (!tmp) {
            showDialog("请先<a href=\"/account.html\">登录</a>");
            return
          }
          var api = "/api/mallUserFavorite/createMallUserFavorite";
          axios.post(
            api,
            {
              "targetId": id, "goodsCategoryId": goodsCategoryId, "goodsName": goodsName, type: 6
            },
            { headers: { 'x-token': localStorage.getItem('_token') } }
          ).then((res) => {
            if (res.data.code == 0) {
              parentElement.classList.add("is-active");
            } else {              
              showDialog("加入收藏失败");
            }
          });
        }
        const addCart = (item) => {
          let tmp = checkLoginStatus();
          if (!tmp) {
            showDialog("您可以<a href=\"/account.html#registration\">注册会员</a> 后申请样品，或者点“<a href=\"/contact-form.html\" >申请样品/资料</a>”直接申请！");
            return
          }
          var api = "/api/mallShoppingCartItem/createMallShoppingCartItem";
          axios.post(
            api,
            {
              "goodsId": item.ID, "goodsCategoryId": item.goodsCategoryId, "goodsName": item.goodsName, "goodsCoverImg": item.goodsCoverImg, "goodsIntro": item.goodsIntro, "subtitle": item.subtitle, type: 6
            },
            { headers: { 'x-token': localStorage.getItem('_token') } }
          ).then((res) => {
            if (res.data.code == 0) {
              data.inCart = true;
              getCartNum();
            }
          });
        }
        // 查询所有活动
        const getProductDetail = () => {
          var api = "/api/mallGoodsInfo/findMallGoodsInfo";
          var personalCareId = 1;
          var phamId = 117;
          //2.使用axios 进行get请求
          axios.get(api,
            {
              params: {
                ID: id
              }
            }).then((res) => {
              data.productDetail = res.data.data.reMallGoodsInfo;
              data.productDetail.bg = "background-image: url(/" + data.productDetail.goodsCarousel + ")";
              data.productDetail.favUrl = "/account.html?url=/pharmaceuticals/product-finder/product-detail.html?id=" + id;
              api = "/api/webContents/findWebContents";
              axios.get(api,
                {
                  params: {
                    ID: data.productDetail.contentId
                  }
                }).then((res1) => {
                  data.productDetail.description = res1.data.data.reWebContents.content
                }).catch((err1, res1) => {
                  console.log(err1)
                });
              axios.get(api,
                {
                  params: {
                    ID: data.productDetail.mainContentId
                  }
                }).then((res1) => {
                  data.productDetail.mainContent = res1.data.data.reWebContents.content
                  data.productDetail.mainContent = data.productDetail.mainContent.split('<p>&nbsp;</p>').join('');
                }).catch((err1, res1) => {
                  console.log(err1)
                });
              // 获取关联文件列表
              api = "/api/mallGoodsFiles/getMallGoodsFilesList";
              axios.get(api,
                {
                  params: {
                    goodsId: id
                  },
                  headers: { 'x-token': localStorage.getItem('_token') }
                }).then((res1) => {
                  let tmp = res1.data;
                  if (tmp.code === 0) {
                    data.targetFileList1 = [];
                    data.targetFileList2 = [];
                    data.targetFileList3 = [];
                    data.targetFileList1Lock = [];
                    data.targetFileList2Lock = [];
                    data.targetFileList3Lock = []; // 每次打开对话框，需要进行初始化
                    var fileList = tmp.data.list;
                    fileList.forEach(element => {                      
                      if (element.url.substring(0, 6) == "/files") {
                        // element.url = "https://www.gattefosse.com" + element.url;
                        element.url = element.url;
                      } else {
                        if (element.url.substring(0, 8) == "https://") {
                          element.url = element.url;
                        } else if (element.url.substring(0, 7) == "http://") {
                          element.url = element.url;
                        } else {
                          element.url = "/" + element.url;
                        }
                      }
                      switch (element.fileSet) {
                        case 1:
                          if (element.lock) {
                            data.targetFileList1Lock.push({
                              fileSet: 1,
                              ID: element.ID,
                              name: element.title,
                              url: data.isLoginedAndEnabled ? element.url : "/account.html?url=/pharmaceuticals/product-finder/product-detail.html?id=" + id,
                              lock: true
                            });
                          } else {
                            data.targetFileList1.push({
                              fileSet: 1,
                              ID: element.ID,
                              name: element.title,
                              url: element.url,
                              lock: false
                            });
                          }
                          break;
                        case 2:
                          if (element.lock) {
                            data.targetFileList2Lock.push({
                              fileSet: 2,
                              ID: element.ID,
                              name: element.title,
                              url: data.isLoginedAndEnabled ? element.url : "/account.html?url=/pharmaceuticals/product-finder/product-detail.html?id=" + id,
                              lock: true
                            });
                          } else {
                            data.targetFileList2.push({
                              fileSet: 2,
                              ID: element.ID,
                              name: element.title,
                              url: element.url,
                              lock: false
                            });
                          }
                          break;
                        case 3:
                          if (element.lock) {
                            data.targetFileList3Lock.push({
                              fileSet: 3,
                              ID: element.ID,
                              name: element.title,
                              url: data.isLoginedAndEnabled ? element.url : "/account.html?url=/pharmaceuticals/product-finder/product-detail.html?id=" + id,
                              lock: true
                            });
                          } else {
                            data.targetFileList3.push({
                              fileSet: 3,
                              ID: element.ID,
                              name: element.title,
                              url: element.url,
                              lock: false
                            });
                          }
                          break;
                      }
                    });
                  }
                  getWebArticlesList();
                }).catch((err1, res1) => {
                  console.log(err)
                });
            }).catch((err, res) => {
              console.log(err)
            })
        }
        const loading = ref(false);
        const items = ref([]);
        getProductDetail();
        const getWebArticlesList = () => {
          if (data.productDetail.relatedContents != null && data.productDetail.relatedContents != "") {
            var tmp = JSON.parse(data.productDetail.relatedContents)
            var len = tmp.length > 3 ? 3 : tmp.length;
            for (var i = 0; i < len; i++) {
              var item = tmp[i];
              var api = "/api/webArticles/findWebArticles";
              //2.使用axios 进行get请求
              axios.get(api,
                {
                  params: {
                    ID: item[0]
                  }
                }).then((res) => {
                  var tmp1 = res.data.data.rewebArticles;
                  tmp1.url = "/article-normal-template-top.html?id=" + tmp1.ID;
                  if (tmp1.thumb.substring(0, 1) != "/") { //缩略图只接受本站
                    tmp1.thumb = "/" + tmp1.thumb;
                  }
                  data.relatedContents.push(tmp1);
                }).catch((err, res) => {
                  console.log(err)
                })
            }
          }
        }
        
        // 购物车信息
        const getCartData = () => {
          var api = "/api/mallShoppingCartItem/getMallShoppingCartItemList?1=1";
          api += "&pageSize=" + 1000;
          api += "&page=" + 1;
          axios.get(api,
            { headers: { 'x-token': localStorage.getItem('_token') } }
          ).then((res) => {
            total = res.data.data.total; // TODO 显示购物车数量
            let cartList = res.data.data.list;
            for (var i = 0; i < cartList.length; i++) {
              if (cartList[i].goodsId == id) {
                data.inCart = true
                break; 
              } 
            }
          }).catch((err, res) => {
            console.log(err)
          })
        }
        
        // 已收藏列表
        const getFavData = () => {
            var api = "/api/mallUserFavorite/getMallUserFavoriteList?catId=30";
            api += "&pageSize=" + 1000;
            api += "&page=" + 1;
            axios.get(api, { headers: { 'x-token': localStorage.getItem('_token') } }).then((res) => {
                let favList = res.data.data.list
                for (var i = 0; i < favList.length; i++) {
                  if (favList[i].targetId == id) {
                    // TODO 显示收藏与否，星形样式改变
                    data.inFav = true
                    break;
                  }
                }
            }).catch((err, res) => {
                console.log(err)
            })
        }
        if (isLogin) {
          getCartData()
          getFavData()
        }
        function htmlencode(s) {
          var div = document.createElement('div');
          div.appendChild(document.createTextNode(s));
          return div.innerHTML;
        }
        function htmldecode(s) {
          var div = document.createElement('div');
          div.innerHTML = s;
          return div.innerText || div.textContent;
        }
        /*3.用正则表达式实现html转码*/
        function htmlEncodeByRegExp(str) {
          var s = "";
          if (str.length == 0) return "";
          s = str.replace(/&/g, "&");
          s = s.replace(/</g, "<");
          s = s.replace(/>/g, ">");
          s = s.replace(/ /g, " ");
          s = s.replace(/\'/g, "'");
          s = s.replace(/\"/g, '"');
          return s;
        }
        /*4.用正则表达式实现html解码*/
        function htmlDecodeByRegExp(str) {
          var s = "";
          if (str.length == 0) return "";
          s = str.replace(/&/g, "&");
          s = s.replace(/</g, "<");
          s = s.replace(/>/g, ">");
          s = s.replace(/ /g, " ");
          s = s.replace(/'/g, "\'");
          s = s.replace(/"/g, "\"");
          return s;
        }
        return {
          data,
          items,
          getProductDetail,
          htmldecode,
          htmlencode,
          htmlDecodeByRegExp,
          addProductFav,
          addCart
        };
      },
    });
    let result = app.mount("#app");

    function checkLoginStatus() {
      if (localStorage.getItem('isLoggedIn') === 'true') {
        return true;
        // 执行进入首页的逻辑
      } else {
        // 执行未登录的逻辑，比如跳转到登录页面
        return false;
      }
    }
  </script>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
  <script src="/sites/default/files/js/js_uRBp2ZaHCUZlrMvtF1r3V47mmAqjR7dfFEVN3rojgUA.js"></script>
  <script src="/sites/default/files/js/js_XX7cwInDzJ86rtgsir3huLHZu1akROD12nd5EcaeW34.js"></script>
  <script src="/themes/custom/gattefosse/js/libraries/tarteaucitron/tarteaucitron.js?1712757332"></script>
<script defer src="https://umami.onlystyle.com.cn/script.js" data-website-id="8dfca0a5-98e6-4037-b4ed-c6db16dd7ccf"></script>   
</body>
</html>
